.local-color{background-color:#aebd00;}
.local-color-text{color:#aebd00;}
acronym, abbr {color:#aebd00;}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {background:none; color:#aebd00;}

#main-navigation {background-color:#aebd00;}
#main-navigation li {border-color: #aebd00;}
#main-navigation li:hover { background-color: #8d9c00; }

.tree li { background-color:#aebd00; }
.tree li.hover  { background-color: #8d9c00; }

.local-color-light {background-color:#8d9c00;}
.local-color-dark {background-color:#707f00;}
.local-color-down{ background-color: #723C07; }   /* Changer, couleur pas trouvée... */
.news-text h2 a:hover {color: #aebd00;}

.search-results a {color:#aebd00; }
.search-results cite {color:#707f00;}



.print .icon {background-position-y: -72px;}
.print:hover .icon {background-position-y: -48px;}
.feed .icon  {background-position-y: -72px;}
.feed:hover .icon {background-position-y: -48px;}
.share .icon  {background-position-y: -72px;}
.share:hover .icon {background-position-y: -48px;}
.information .icon {background-position-y: -72px;}
.information:hover .icon {background-position-y: -48px;}
.question .icon {background-position-y: -72px;}
.question:hover .icon {background-position-y: -48px;}
.contact .icon {background-position-y: -72px;}
.contact:hover .icon {background-position-y: -48px;}
.comment .icon {background-position-y: -72px;}
.comment:hover .icon {background-position-y: -48px;}
.mail .icon {background-position-y: -72px;}
.mail:hover .icon {background-position-y: -48px;}
.first .icon {background-position-y: -72px;}
.first:hover .icon {background-position-y: -48px;}
.last .icon {background-position-y: -72px;}
.last:hover .icon  {background-position-y: -48px;}
.previous .icon, .gotostart .icon {background-position-y: -72px;}
.previous:hover .icon, .gotostart:hover .icon {background-position-y: -48px;}
.forward .icon, .showall .icon {background-position-y: -72px;}
.forward:hover .icon, .showall:hover .icon {background-position-y: -48px;}
.up .icon, .gototop .icon {background-position-y: -72px;}
.up:hover .icon, .gototop:hover .icon {background-position-y: -48px;}
.down .icon {background-position-y: -72px;}
.down:hover .icon {background-position-y: -48px;}
.file .icon {background-position-y: -72px;}
.file:hover .icon {background-position-y: -48px;}
.pdffile .icon {background-position-y: -72px;}
.pdffile:hover .icon {background-position-y: -48px;}

.category-en{ background-image: url(../img/news-categories-en-bw.png);}
.category-fr{ background-image: url(../img/news-categories-fr-bw.png);}