.local-color{background-color:#aebd00;}
.local-color-text{color:#aebd00;}
#main-navigation {background-color:#aebd00;}
#main-navigation .dropdown {border-color: #aebd00;}

.local-color-light {background-color:#8ca000;}
.local-color-dark {background-color:#6a7e00;}
.news-text h2 a:hover {color: #aebd00;}

.search-results a {color:#aebd00; }
.search-results cite {color:#6a7e00;}
.pagination .current {color:#aebd00;}

.print {background-position: 0 -72px; }
.print:hover {background-position: 0 -48px;}
.feed {background-position: -24px -72px; }
.feed:hover {background-position: -24px -48px; }
.share {background-position: -48px -72px; }
.share:hover {background-position: -48px -48px; }
.information {background-position: -72px -72px; }
.information:hover {background-position: -72px -48px; }
.question {background-position: -96px -72px; }
.question:hover {background-position: -96px -48px; }
.showall {background-position: -120px -72px; }
.showall:hover {background-position: -120px -48px; }