@charset "utf-8";
/* CSS Document */

.box{
margin-top:20px;
margin-bottom:20px;
	width:324px;
	height:auto;
	float:left;
	display:block;
}
.box_marge{
	margin-right:4px;
}
.box_title{
	font-family:Impact, "Arial Black", Arial, Helvetica, "sans serif";
	color:#000;
	text-transform:uppercase;
	font-size:22px;
	letter-spacing:0.1em;
	clear:both;
	text-decoration: none;
	line-height:23px;
}
.box_title.line{
	border-bottom:1px solid #000;
	width:100%;
}
.box_txt{
	width:100%;
	padding-top:4px;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:12px;
	line-height:18px;
	text-decoration:none;
	text-transform:none;
}
.box_txt a{
border-bottom:1px dotted #000000;
color:#000000;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-style:italic;
font-weight:normal;
margin-left:5px;
text-decoration:none;
}

.box_txt a:hover{
border-bottom:1px solid #000000;
color:#000000;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-style:italic;
font-weight:normal;
margin-left:5px;
text-decoration:none;
}
.box_col1{
width:50%;
display:block;
float:left;
}
.box_col2{
width:50%;
float:left;
display:block;
}