.local-color{background-color:#daa521;}
.local-color-text{color:#daa521;}
acronym, abbr {color:#daa521;}

#main-navigation {background-color: #daa521;}
#main-navigation li {border-color: #daa521;}
#main-navigation li:hover { background-color: #b77504; }

.tree li { background-color:#daa521; }
.tree li.hover  { background-color: #b77504; }

.local-color-light {background-color:#b77504;}
.local-color-dark {background-color:#a25700;}
.local-color-down{ background-color: #723C07; }
.news-text h2 a:hover {color: #daa521;}

.search-results a {color:#daa521; }
.search-results cite {color:#a25700;}
.pagination .current {color:#daa521;}

.print .icon {background-position: 0 -168px; }
.print:hover .icon {background-position: 0 -144px;}
.feed .icon {background-position: -24px -168px; }
.feed:hover .icon {background-position: -24px -144px; }
.share .icon {background-position: -48px -168px; }
.share:hover .icon {background-position: -48px -144px; }
.information .icon {background-position: -72px -168px; }
.information:hover .icon {background-position: -72px -144px; }
.question .icon {background-position: -96px -168px; }
.question:hover .icon {background-position: -96px -144px; }
.showall .icon {background-position: -120px -168px; }
.showall:hover .icon {background-position: -120px -144px; }
.mail .icon {background-position: -168px -168px; }
.mail:hover .icon {background-position: -168px -144px; }
.francais .diet_icon {background-position: -201px -172px;}
.anglais .diet_icon {background-position: -221px -172px;}
.winter .little_icon {background-position: -237px -172px;}
.sun .little_icon {background-position: -257px -172px;}
.membres .large_icon {background-position: -275px -172px;}
.printemps .little_icon {background-position: -301px -172px; }
.automne .little_icon {background-position: -319px -172px; }

.category{ background-image: url(../img/news-categories-bw.png);