.local-color{background-color:#daa521;}
.local-color-text{color:#daa521;}
#main-navigation {background-color: #daa521;}
#main-navigation li {border-color: #daa521;}
.local-color-light {background-color:#b77504;}
.local-color-dark {background-color:#a25700;}
.news-text h2 a:hover {color: #daa521;}

.search-results a {color:#daa521; }
.search-results cite {color:#a25700;}
.pagination .current {color:#daa521;}

.print .icon {background-position: 0 -168px; }
.print:hover .icon {background-position: 0 -144px;}
.feed .icon {background-position: -24px -168px; }
.feed:hover .icon {background-position: -24px -144px; }
.share .icon {background-position: -48px -168px; }
.share:hover .icon {background-position: -48px -144px; }
.information .icon {background-position: -72px -168px; }
.information:hover .icon {background-position: -72px -144px; }
.question .icon {background-position: -96px -168px; }
.question:hover .icon {background-position: -96px -144px; }
.showall .icon {background-position: -120px -168px; }
.showall:hover .icon {background-position: -120px -144px; }