.local-color{background-color:#990165;}
.local-color-text{color:#990165;}
acronym, abbr {color:#990165;}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {color:#990165;}

#main-navigation {background-color:#990165;}
#main-navigation li {border-color: #990165;}
#main-navigation li:hover { background-color: #740052; }

.tree li { background-color:#990165; }
.tree li.hover  { background-color: #740052; }

.local-color-light {background-color:#740052;}
.local-color-dark {background-color:#5d0048;}
.local-color-down{ background-color: #3F073F; }
.news-text h2 a:hover {color: #990165;}

.search-results a {color:#990165; }
.search-results cite {color:#5d0048;}

.print .icon {background-position-y: -120px;}
.print:hover .icon {background-position-y: -96px;}
.feed .icon  {background-position-y: -120px;}
.feed:hover .icon {background-position-y: -96px;}
.share .icon  {background-position-y: -120px;}
.share:hover .icon {background-position-y: -96px;}
.information .icon {background-position-y: -120px;}
.information:hover .icon {background-position-y: -96px;}
.question .icon {background-position-y: -120px;}
.question:hover .icon {background-position-y: -96px;}
.contact .icon {background-position-y: -120px;}
.contact:hover .icon {background-position-y: -96px;}
.comment .icon {background-position-y: -120px;}
.comment:hover .icon {background-position-y: -96px;}
.mail .icon {background-position-y: -120px;}
.mail:hover .icon {background-position-y: -96px;}
.first .icon {background-position-y: -120px;}
.first:hover .icon {background-position-y: -96px;}
.last .icon {background-position-y: -120px;}
.last:hover .icon  {background-position-y: -96px;}
.previous .icon, .gotostart .icon {background-position-y: -120px;}
.previous:hover .icon, .gotostart:hover .icon {background-position-y: -96px;}
.forward .icon, .showall .icon {background-position-y: -120px;}
.forward:hover .icon, .showall:hover .icon {background-position-y: -96px;}
.up .icon, .gototop .icon {background-position-y: -120px;}
.up:hover .icon, .gototop:hover .icon {background-position-y: -96px;}
.down .icon {background-position-y: -120px;}
.down:hover .icon {background-position-y: -96px;}
.file .icon {background-position-y: -120px;}
.file:hover .icon {background-position-y: -96px;}
.pdffile .icon {background-position-y: -120px;}
.pdffile:hover .icon {background-position-y: -96px;}

.francais .diet_icon, .anglais .diet_icon, .allemand .diet_icon, 
.winter .little_icon, .sun .little_icon, .printemps .little_icon, 
.automne .little_icon  {background-position-y: -36px;}

.members .icon{ background-position-x: -96px;}



.category-en{ background-image: url(../img/news-categories-en-bw.png);}
.category-fr{ background-image: url(../img/news-categories-fr-bw.png);}