.local-color{background-color:#990165;}
.local-color-text{color:#990165;}
acronym, abbr {color:#990165;}

#main-navigation {background-color:#990165;}
#main-navigation li {border-color: #990165;}

.local-color-light {background-color:#740052;}
.local-color-dark {background-color:#5d0048;}
.news-text h2 a:hover {color: #990165;}

.search-results a {color:#990165; }
.search-results cite {color:#5d0048;}
.pagination .current {color:#990165;}

.print .icon {background-position: 0 -120px; }
.print:hover .icon {background-position: 0 -96px;}
.feed .icon {background-position: -24px -120px; }
.feed:hover .icon {background-position: -24px -96px; }
.share .icon {background-position: -48px -120px; }
.share:hover .icon {background-position: -48px -96px; }
.information .icon {background-position: -72px -120px; }
.information:hover .icon {background-position: -72px -96px; }
.question .icon {background-position: -96px -120px; }
.question:hover .icon {background-position: -96px -96px; }
.showall .icon {background-position: -120px -120px; }
.showall:hover .icon {background-position: -120px -96px; }