.local-color{background-color:#ea5e00;}
.local-color-text{color:#ea5e00;}
acronym, abbr {color:#ea5e00;}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {color:#ea5e00;}

#main-navigation {background-color:#ea5e00;}
#main-navigation li {border-color:#ea5e00;}
#main-navigation li:hover { background-color: #d53c00; }

.tree li { background-color:#ea5e00; }
.tree li.hover  { background-color: #d53c00; }

.local-color-light {background-color:#d53c00;}
.local-color-dark {background-color:#b91e00;}
.local-color-down {background-color:#952000;}
.news-text h2 a:hover {color: #ea5e00;}

.search-results a {color:#ea5e00; }
.search-results cite {color:#b91e00;}

.print .icon {background-position: 0 -408px; }
.print:hover .icon {background-position: 0 -384px;}
.feed .icon {background-position: -24px -408px; }
.feed:hover .icon {background-position: -24px -384px; }
.share .icon {background-position: -48px -408px; }
.share:hover .icon {background-position: -48px -384px; }
.information .icon {background-position: -72px -408px; }
.information:hover .icon {background-position: -72px -384px; }
.question .icon {background-position: -96px -408px; }
.question:hover .icon {background-position: -96px -384px; }
.showall .icon {background-position: -120px -408px; }
.showall:hover .icon {background-position: -120px -384px; }
.forward .icon {background-position: -144px -408px; }
.forward:hover .icon {background-position: -144px -384px; }
.mail .icon {background-position: -168px -408px; }
.mail:hover .icon {background-position: -168px -384px; }
.contact .icon {background-position: -362px -408px; }
.contact:hover .icon {background-position: -362px -384px; }
.gototop .icon {background-position: -386px -408px; }
.gototop:hover .icon {background-position: -386px -384px; }
.previous .icon {background-position: -410px -408px; }
.previous:hover .icon {background-position: -410px -384px; }
.checkmark .icon {background-position: -434px -408px; }
.checkmark:hover .icon {background-position: -434px -384px; }
.cross .icon {background-position: -458px -408px; }
.cross:hover .icon {background-position: -458px -384px; }
.comment .icon {background-position: -482px -408px; }
.comment:hover .icon {background-position: -482px -384px; }
.edit .icon {background-position: -506px -408px; }
.edit:hover .icon {background-position: -506px -384px; }
.file .icon {background-position: -530px -408px; }
.file:hover .icon {background-position: -530px -384px; }
.pdffile .icon {background-position: -554px -408px; }
.pdffile:hover .icon {background-position: -554px -384px; }
.ok .icon {background-position: -578px -408px; }
.ok:hover .icon {background-position: -578px -384px; }
.stats .icon {background-position: -602px -408px; }
.stats:hover .icon {background-position: -602px -384px; }
.gotostart .icon {background-position: -626px -408px;}
.gotostart:hover .icon {background-position: -626px -384px;}
.square .icon {background-position: -651px -408px;}
.square:hover .icon {background-position: -651px -384px;}
.down .icon {background-position: -698px -408px;}
.down:hover .icon {background-position: -698px -384px;}

.francais .diet_icon {background-position: -201px -411px;}
.anglais .diet_icon {background-position: -221px -411px;}
.allemand .diet_icon {background-position: -684px -411px;}
.winter .little_icon {background-position: -237px -411px;}
.sun .little_icon {background-position: -257px -411px;}
.membres .large_icon {background-position: -275px -411px;}
.printemps .little_icon {background-position: -301px -411px; }
.automne .little_icon {background-position: -319px -411px; }

.category-en{ background-image: url(../img/news-categories-en-bw.png);}
.category-fr{ background-image: url(../img/news-categories-fr-bw.png);}



/* MR - 22.07.2010
	liste des labos
*/
.list_laboratories pre{    
	word-wrap: break-word;
    white-space : pre-wrap;
    overflow : auto;
    margin-bottom : 0;
    font : inherit;
    font-size : 100%;
    }
.list_laboratories img{     
	border:1px solid #AAA;
    background-color:#faf0e6;
    padding:3px;
    }
.list_laboratories table th {
	background-color: transparent;
    margin-top: 20px;
    border: none;
    border-top: 1px dotted #FFC5A4;
    color: #CC6633;
    padding: 10px;
    text-align: left;
    white-space: nowrap;
}
.list_laboratories table tbody td {
    text-align: left;
    vertical-align:top;
}
.list_laboratories table tbody td.texte {
    background-color: #faf0e6;
    padding: 10px;
}
.list_laboratories p img {
    border:0 solid #AAA;
    background-color:#faf0e6;
    padding:0;
    margin:0;
}
.list_laboratories p { padding : 0 5px; }

/* MR - 10.08.2010 (màj 20.08.2010)
	Domaines de recherche 
*/
div.research_field {
	float : left;
	height : 130px;
	width : 160px;
	padding : 0;
	margin : 0 3px 3px 0;
	}

div.research_field.empty  {
	width : 150px;
	padding : 0 5px;
	color : #fff;
}
div.research_field a {
    color :#fff;
    position: relative;
    background: none;
	}
div.research_field a span {	left: 3px; position : relative;}
div.research_field.col1, div.research_field.col1.empty:hover {	background-color : #ea5e00;cursor : default;	}
div.research_field.col2, div.research_field.col2.empty:hover{	background-color : #d53c00; cursor : default;}
div.research_field.col3, div.research_field.col3.empty:hover {	background-color : #b91e00;cursor : default; }
div.research_field.col4, div.research_field.col4.empty:hover {	background-color : #000;cursor : default; }
div.research_field.col1:hover, div.research_field.col2:hover, div.research_field.col3:hover, div.research_field.col4:hover {	background-color : #ea5e00; cursor:pointer;}


/* MR 05.10.2010 - màj
	Page d'affichage des list générée "People"
	pour l'enac et tous ses labos
*/
table.people_list, table#people_list { width:650px; }
table.people_list td, table#people_list td { padding:5px 0; text-align:center; }
table.people_list td.photo img, table#people_list td.photo img { width:60px; }
table.people_list td.profile, table#people_list td.profile, table.people_list td.homepage, table#people_list td.homepage { width:20px; }
table.people_list td.email, table#people_list td.email { width:25px; }
table.people_list td.photo, table#people_list td.photo {width:80px;}
table.people_list td h3, table#people_list td h3, table.people_list td.function, table#people_list td.function { text-align:left; }
table.people_list td.room, table#people_list td.room, table.people_list td.tdpeople, table#people_list td.tdpeople { width:60px; }
table.people_list td.phone, table#people_list td.phone { width:140px; }
table.people_list td.name, table#people_list td.name { text-align:left; width:auto; }