.local-color{background-color:#ea5e00;}
.local-color-text{color:#ea5e00;}
acronym, abbr {color:#ea5e00;}

#main-navigation {background-color:#ea5e00;}
#main-navigation li {border-color:#ea5e00;}
#main-navigation li:hover { background-color: #d53c00; }

.tree li { background-color:#ea5e00; }
.tree li.hover  { background-color: #d53c00; }

.local-color-light {background-color:#d53c00;}
.local-color-dark {background-color:#b91e00;}
.news-text h2 a:hover {color: #ea5e00;}

.search-results a {color:#ea5e00; }
.search-results cite {color:#b91e00;}
.pagination .current {color:#ea5e00;}

.print .icon {background-position: 0 -408px; }
.print:hover .icon {background-position: 0 -384px;}
.feed .icon {background-position: -24px -408px; }
.feed:hover .icon {background-position: -24px -384px; }
.share .icon {background-position: -48px -408px; }
.share:hover .icon {background-position: -48px -384px; }
.information .icon {background-position: -72px -408px; }
.information:hover .icon {background-position: -72px -384px; }
.question .icon {background-position: -96px -408px; }
.question:hover .icon {background-position: -96px -384px; }
.showall .icon {background-position: -120px -408px; }
.showall:hover .icon {background-position: -120px -384px; }
.mail .icon {background-position: -168px -408px; }
.mail:hover .icon {background-position: -168px -384px; }
.francais .diet_icon {background-position: -201px -411px;}
.anglais .diet_icon {background-position: -221px -411px;}
.winter .little_icon {background-position: -237px -411px;}
.sun .little_icon {background-position: -257px -411px;}
.membres .large_icon {background-position: -275px -411px;}
.printemps .little_icon {background-position: -301px -411px; }
.automne .little_icon {background-position: -319px -411px; }


/* MR - 14.07.2010
	Images : le margin bottom touche toutes les images ce qui n'est pas pratique.
*/
.content img {margin-bottom : 0}
img.left {margin-bottom:12px}

/*
	Liens images (on hover javascript display:none le texte)
*/
a.enac_shortcut {padding-top:10px;}
a.enac_shortcut p {
	display:none;
	margin:0 auto;
	padding:0;
	width : 165px;
}
div.enac_shortcut {
	float:left;
	margin:0;
	min-height:140px;
	min-width:165px;
	padding:0;
	width:49%;
}

/* MR - 22.07.2010
	liste des labos
*/
.list_laboratories pre{    
	word-wrap: break-word;
    white-space : pre-wrap;
    overflow : auto;
    margin-bottom : 0;
    font : inherit;
    font-size : 100%;
    }
.list_laboratories img{     
	border:1px solid #AAA;
    background-color:#faf0e6;
    padding:3px;
    }
.list_laboratories table th {
	background-color: transparent;
    margin-top: 20px;
    border: none;
    border-top: 1px dotted #FFC5A4;
    color: #CC6633;
    padding: 10px;
    text-align: left;
    white-space: nowrap;
}
.list_laboratories table tbody td {
    text-align: left;
    vertical-align:top;
}
.list_laboratories table tbody td.texte {
    background-color: #faf0e6;
    padding: 10px;
}
.list_laboratories p img {
    border:0px solid #AAA;
    background-color:#faf0e6;
    padding:0px;
    margin:0px;
}
.list_laboratories p { padding : 0px 5px; }

/* MR - 10.08.2010
	Domaines de recherche 
*/
div.research_field {
	float : left;
	height : 130px;
	width : 160px;
	padding : 0;
	margin : 0 3px 3px 0;
	}
div.research_field.empty  {
	width : 150px;
	padding : 0 5px;
	color : #fff;
}
div.research_field a {
	left : 5px;
    color :#fff;
    position: relative;
	}
div.research_field.col1 { background-color : #ea5e00; }
div.research_field.col2 { background-color : #d53c00; }
div.research_field.col3 { background-color : #b91e00; }
div.research_field.col4 { background-color : #000;	margin : 0 3px 0 0; }


/* MR 18.08.2010
	Page d'affichage des list générée "People"
	pour l'enac et tous ses labos
*/
table.people_list, table#people_list { width:650px; }
table.people_list td, table#people_list td { padding:5px 0; text-align:center; }
table.people_list td.photo img, table#people_list td.photo img { width:60px; }
table.people_list td.profile, table#people_list td.profile, table.people_list td.homepage, table#people_list td.homepage { width:20px; }
table.people_list td.email, table#people_list td.email { width:25px; }
table.people_list td.photo, table#people_list td.photo, table.people_list td.function, table#people_list td.function { text-align:left; width:80px; }
table.people_list td.room, table#people_list td.room, table.people_list td.tdpeople, table#people_list td.tdpeople { width:60px; }
table.people_list td.phone, table#people_list td.phone { width:140px; }
table.people_list td.name, table#people_list td.name { text-align:left; width:auto; }