.local-color{background-color:#ea5e00;}
.local-color-text{color:#ea5e00;}
#main-navigation {background-color:#ea5e00;}
.local-color-light {background-color:#d53c00;}
.local-color-dark {background-color:#b91e00;}
.news-text h2 a:hover {color: #ea5e00; text-decoration: none;}