html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td, p{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
}

h1{
    font-family: Impact, Arial Black, Arial, Helvetica, sans-serif;
    font-size: 27px;
    letter-spacing:.08em;
    margin-top:40px;
    margin-bottom: 12px;
    text-transform:uppercase;
}
h1 acronym { color: }
h2 {font-family: Arial Black, Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 0.05em;
    line-height: 22px;
    margin: 0;
    padding-bottom: 4px;
 }
a {
    text-decoration: none;
    color: #000;
}
a:hover{text-decoration: underline;}
acronym{ border: none }
img {border: none;}

.sti{ color:#a9aad5;}
.enac{color:#eb690b;}
.cdm{color:#990066;}
.cdh{color:#daa520;}
.sv{color:#97bf0d;}
.sb{color:#009ee1;}
.ic{color:#30b3ad;}
.epfl{color:#ae0010;}

.hidden{
    position: absolute;
    left: -9999em;
}


/******************* Header definition ***********************/
#header{
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    padding: 0 8px 0 8px;
    background-color: #fff;
}
#header input{ color: #666;}
#header input.focused{ color: #000; }
.portal{ background-color: #999c98; /* light gray */ }
.school{ background-color: #696f6e; /* dark gray */}
.short{ background-color: #474e52; /* darker gray */}
.looking{ background-color: #ae0010; /* dark red */}
.contrast{ background-color: #f00000; /* lighter red */ }
#nav_logo {
    float: left;
    height: 90px;
    width: 160px;
    margin: 0 4px 0 0;
    position: relative;
    border-bottom: 1px solid #474e52; /* darker gray */
}
#nav_logo img{ position: absolute; bottom: 8px; }

#nav_menus{margin: 0; padding: 0; float: left;}
#main_menus {list-style: none; padding: 0; margin: 0;}
#main_menus li.menu {
    float:left;
    height: 91px;
    width: 160px;
    margin: 0 4px 0 0;
    position: relative;
    color: #fff;
}
#main_menus li.menu:hover {
    background-color: #fff;
    color: #000;
}
#main_menus li.menu:hover a.main-link { background-image: url(../img/arrow-menu-on.gif);}
#nav_menus a.main-link {
    color: inherit;   
    position: absolute;
    bottom: 9px;
    left: 9px;
    font-family: Impact, Arial Black, Arial, Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 11px 0 0;
    background: url(../img/arrow-menu.gif) no-repeat  bottom right;
    background-repeat: no-repeat;
}
#nav_menus a.main-link span { display: block; margin-bottom: 6px; font-size: 18px; }
#nav_menus a.main-link:hover{ background-image: url(../img/arrow-menu-on.gif);}
#nav_menus a.main-link:active{background-image: url(../img/arrow-menu-on.gif);}

#nav_search {
    float:left;
    height: 91px;
    width: 324px;
    margin: 0;
    position: relative;
}

#search-box {
    margin: 0 8px 0 8px;
    padding: 0;
    position: absolute;
    bottom: 9px;
}
#search_form label{
    display: block;
    float: left;
    width:64px;
    height:24px;
    padding-top: 3px;
    margin-right: 4px;
    overflow:hidden;
    text-align:center;
    text-decoration: none;
    font-size: 12px;
    font-family: Arial, helvetica, sans-serif;
    color:#fff;
}
#search_form label:hover {cursor: pointer;}
#search_form label.current{
    font-weight:bold;
    background:url(../img/wheretosearch.png) no-repeat top left;}
#search_form input.search{
    width: 279px;
    height: 22px;
    border: none;
    border-right: 1px solid #b8b8b8;
    padding: 0 0 0 4px;
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
}
#search_form button{
    background: url(../img/search.png) no-repeat top left;
    width: 22px;
    height: 22px;
    cursor: pointer;
    border: none;
    vertical-align: bottom;
    text-indent: -9999em;  
}

.navigation_panel {
    position: absolute;
    top: 91px;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	padding: 60px 8px 40px 8px;
	border: none;
	background-color: #fff;
	z-index: 999;
}
.navigation_panel .group {
	float: left;
	width: 160px;
	margin-right: 4px;
	padding: 0;
}
.navigation_panel .group-2-cols {
	float: left;
	width: 324px;
	margin-right: 4px;
}
.navigation_panel .last { margin: 0; }
.navigation_panel ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation_panel a{
    font-family: Arial black, Arial;
    font-size: 12px;
    line-height: 14px;
    letter-spacing:.05em;
	text-transform:none;
	text-decoration:none;
	color: #000;
}
.navigation_panel a:active, .navigation_panel a:hover { color:#666; }
.navigation_panel h3 {
    margin:0;
    padding:0;
	font-family: "Arial black", Arial;
	font-size:12px;
	line-height:14px;
	letter-spacing:.05em;
	text-transform:none;
	text-decoration:none;
}
.navigation_panel h3 a { color: inherit }

.navigation_panel .sti{ color:#a9aad5;}
.navigation_panel .enac{color:#eb690b;}
.navigation_panel .cdm{color:#990066;}
.navigation_panel .cdh{color:#daa520;}
.navigation_panel .sv{color:#97bf0d;}
.navigation_panel .sb{color:#009ee1;}
.navigation_panel .ic{color:#30b3ad;}
.navigation_panel .epfl{color:#991229;}

#public_panel {left: -172px;}
#public_panel.hidden { left: -9999em; }

#public_panel a { line-height:22px; }
#public_panel a:active, .#public_panel a:hover { color:#666; }

#school_panel { 
    left: -336px;
    padding-bottom: 36px; 
} 
#school_panel.hidden { left: -9999em; }

#school_panel .group-2-cols { margin-bottom: 4px; }
#school_panel a { line-height:14px;}
#school_panel h3 acronym { color: #4e4e4e;}

#brief_panel { left: -500px; }
#brief_panel.hidden { left: -9999em; }

#brief_panel h3 { color: red;}
#brief_panel .large {
	width: 320px;
	margin-right:none;
}

#breadcrumbs, #languages{
    padding-top:8px;
    font-family: Georgia, serif;
    font-style: italic;
    letter-spacing: 1px;
}
#breadcrumbs { float: left; }
#breadcrumbs li{
    display:inline;
    background: url(../img/separator.png) no-repeat right center;
    padding-right: 16px;
}
#breadcrumbs a:hover a:hover{text-decoration: underline;}
#breadcrumbs li.last{ background: none; }
#breadcrumbs a, #languages, #languages a{
    color: #000;
    text-decoration: none;
    font-size: 11px;}
#breadcrumbs .last a, #languages .current{ color:#999; }

#languages{ color:#000; float: right;}
#languages li {
    display:inline; 
    padding:0 0 0 10px;
}
#languages{text-align:right;}

/****************************** Interface Elements ************************/
.dropdown {
    font-family: Georgia, serif;
    font-size: 11px;
    font-style: italic;
    position: relative;
    height: 20px;
    border: 1px solid #b8b8b8;
    background: url(../img/dropdown-head.png) repeat-x right center;
    margin: 0 2px 0 2px;
}
.dropdown:hover {
    cursor: pointer; 
    border: 1px solid #000;
    background: url(../img/dropdown-head-on.png) repeat-x right center;
    margin: 0 2px 0 2px;
}
.dropdown a{
    padding: 4px 22px 0px 8px;
    display: block;
    text-decoration: none;
    color: #000;
}
.dropdown:hover a{ color: #fff;}

.dropdown .menu {
    list-style: none;
    position: absolute;
    left: -1px; top: 20px;
    display: none;
    z-index: 998;
    line-height: 18px;
    background: #fff none;
    border: 1px solid #b8b8b8;
    padding: 8px;
}
.dropdown .menu li { margin: 0; padding: 0; }

/****************************** Main content *****************************/

#maincontent{
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}
.right-col{
    width: 324px;
    float:left;
}
.unit-col{
    width: 160px;
    margin: 0 4px 0 0;
    float: left;
}
.last-col{
    margin: 0px;
}

.teaser-head {
   font-family:  Impact, Arial Black, Arial, Helvetica, sans-serif;
   font-size: 15px;
   line-height: 16px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   padding-bottom: 1px;
   display: block;
}
.news-text .epfl { color: #f00; }
.news-text .innovation { color: #0f0;}
.news-text .campus { color: #0ff;}
.news-text .education { color: #ff0;}
.news-text .research { color: #f0f;}

.news-text {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 14px;
}

.news-text h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 14px;
    margin: 0;
    margin-top: -1px;
    letter-spacing: 0em;
    padding-bottom: 1px;
}
.news-text h2 a:hover {
    color: #e2001a;
    text-decoration: none;
}
.news-text span.date {
    font-family:  Georgia, serif;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    color: #000;
    padding-right: 4px;
}
.news-text p {
    color:  #4e4e4e;
    margin: 0;
}
.news-text p img{
    vertical-align: top;
}
/************************ Footer ********************************/
#footer{
    width: 980px;
    margin: 40px auto 8px auto;
    border-bottom: 1px solid #000;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 11px;
    letter-spacing: 1px;
    padding-bottom: 4px;

}
#footer ul{
    list-style: none; 
    padding: 0; 
    margin: 0;
}
#footer li {
    display: inline;
    margin-right: 16px;
}

.copyright { color:#4e4e4e}
