html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.05em;
    margin: 4px;
    background-color: #fff;
}

h1{
    font-family: Impact, Arial Black, Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
    letter-spacing:.1em;
    margin-top:40px;
    margin-bottom: 12px;
    text-transform:uppercase;
}
h1 acronym { color: }
h2 {font-family: Arial Black, Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 23px;
    margin: 0;
 }
acronym{ border: none }
img {border: none;}

.sti{ color:#a9aad5;}
.enac{color:#eb690b;}
.cdm{color:#990066;}
.cdh{color:#daa520;}
.sv{color:#97bf0d;}
.sb{color:#009ee1;}
.ic{color:#30b3ad;}
.epfl{color:#ae0010;}

/******************* Header definition ***********************/
#header{
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}
#header input{ color: #666;}
#header input.focused{ color: #000; }
.portal{ background-color: #999c98; /* light gray */ }
.school{ background-color: #696f6e; /* dark gray */}
.short{ background-color: #474e52; /* darker gray */}
.looking{ background-color: #ae0010; /* dark red */}
.contrast{ background-color: #f00000; /* lighter red */ }
#nav_logo {
    float: left;
    height: 90px;
    width: 160px;
    margin: 0 4px 0 0;
    position: relative;
    border-bottom: 1px solid #474e52; /* darker gray */
}
#nav_logo img{ position: absolute; top: 27px; }

#nav_menus{margin: 0; padding: 0; float: left;}
#main_menus {list-style: none; padding: 0; margin: 0;}
#main_menus li.menu {
    float:left;
    height: 90px;
    width: 160px;
    margin: 0 4px 0 0;
    position: relative;
    border-bottom: 1px solid #474e52; /* darker gray */
}
#nav_menus a.main-link {
    position: absolute;
    bottom: 3px;
    left: 9px;
    font-family: Impact, Arial Black, Arial, Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: 0.1em;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 11px 6px 0;
    background: url(../img/fleche_menu.gif) no-repeat  bottom right;
    background-repeat: no-repeat;
}
#nav_menus a.main-link span { display: block; margin-bottom: 4px; font-size: 15px; }
#nav_menus a.main-link:hover{ color: #666; background-image: url(../img/fleche_menu_on.gif);}
#nav_menus a.main-link:active{ color: #666; background-image: url(../img/fleche_menu_on.gif);}

#nav_search {
    float:left;
    height: 90px;
    width: 324px;
    margin: 0;
    position: relative;
    border-bottom: 1px solid #474e52; /* darker gray */
}
#nav_search ul.whattosearch{
    margin: 0 8px 0 8px;
    padding: 0;
    position: absolute;
    bottom: 30px;
}
#nav_search li {
    float: left;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}
#nav_search a{
    display: block;
    width:64px;
    height:24px;
    padding-top: 3px;
    margin-right: 4px;
    overflow:hidden;
    text-align:center;
    text-decoration: none;
    font-size: 11px;
    font-family: Arial, helvetica, sans-serif;
    color:#fff;
}
#nav_search a.current{
    font-weight:bold;
    background:url(../img/wheretosearch.png) no-repeat top left;}
#nav_search .search-box {
    position: absolute;
    display: none;
    top: 28px;
    width: 308px;
}
#nav_search .search-box input.search{
    width: 280px;
    height: 22px;
    margin-right: 1px;
    padding: 0 0 0 4px;
    border: none;
}
#nav_search .search-box button{
    background: url(../img/search.png) no-repeat top left;
    width: 22px;
    height: 22px;
    cursor: pointer;
    border: none;
    vertical-align: bottom;   
}
#search_place_form{ left: -68px;}
#search_epfl_form{ left: -136px;}
#search_local_form{ left: -204px;}

.navigation-panel {
    position: absolute;
    top: 91px;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	padding: 60px 8px 40px 8px;
	border: none;
	display: none;
	background-color: #fff;
}
.navigation-panel .group {
	float: left;
	width: 160px;
	margin-right: 4px;
	padding: 0;
}
.navigation-panel .group-2-cols {
	float: left;
	width: 324px;
	margin-right: 4px;
}
.navigation-panel .last { margin: 0; }
.navigation-panel ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation-panel a{
    font-family: Arial black, Arial;
    font-size: 12px;
    line-height: 14px;
    letter-spacing:.05em;
	text-transform:none;
	font-weight:bold;
	text-decoration:none;
	color: #000;
}
.navigation-panel a:active, .navigation-panel a:hover { color:#666; }
.navigation-panel h3 {
    margin:0;
    padding:0;
	font-family:"Arial black", Arial;
	font-size:12px;
	line-height:14px;
	letter-spacing:.05em;
	text-transform:none;
	font-weight:bold;
	text-decoration:none;
}
.navigation-panel .sti{ color:#a9aad5;}
.navigation-panel .enac{color:#eb690b;}
.navigation-panel .cdm{color:#990066;}
.navigation-panel .cdh{color:#daa520;}
.navigation-panel .sv{color:#97bf0d;}
.navigation-panel .sb{color:#009ee1;}
.navigation-panel .ic{color:#30b3ad;}
.navigation-panel .epfl{color:#991229;}

#public_panel {left: -172px;}
#public_panel a { line-height:22px; }
#public_panel a:active, .#public_panel a:hover { color:#666; }

#school_panel { 
    left: -336px;
    padding-bottom: 36px; 
} 
#school_panel .group-2-cols { margin-bottom: 4px; }
#school_panel a { line-height:14px;}
#school_panel h3 acronym { color: #4e4e4e;}

#brief_panel { left: -500px; }
#brief_panel h3 { color: red;}
#brief_panel .large {
	width: 320px;
	margin-right:none;
}

#breadcrumbs, #languages{
    padding-top:8px;
    font-family: Georgia, Times, serif;
    font-style: italic;
    font-size:11px;
    font-weight: bold;
}
#breadcrumbs { float: left; }
#breadcrumbs li{
    display:inline;
    background: url(../img/separator.png) no-repeat right center;
    padding-right: 16px;
}

#breadcrumbs li.last{ background: none; }
#breadcrumbs a, #languages, #languages a{
    color: #000;
    text-decoration: none;
    font-size: 11px;}
#breadcrumbs .last a, #languages .current{ color:#999; }

#languages{ color:#000; float: right;}
#languages li {
    display:inline; 
    padding:0 0 0 10px;
}
#languages{text-align:right;}


/****************************** Main content *****************************/

#maincontent{
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}
.right-col{
    width: 324px;
    float:left;
}
.unit-col{
    width: 160px;
    margin: 0 4px 0 0;
    float: left;
}
.last-col{
    margin: 0px;
}

.teaser-head {
   font-family:  Impact, Arial Black, Arial, Helvetica, sans-serif;
   font-size: 15px;
   line-height: 16px;
   letter-spacing: 0.1em;
   background-color: #000;
   color: #fff;
   text-transform: uppercase;
   padding: 0 7px 0 7px;
}
.news-text .epfl { color: #f00; }
.news-text .innovation { color: #0f0;}
.news-text .campus { color: #0ff;}
.news-text .education { color: #ff0;}
.news-text .research { color: #f0f;}

.news-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.05em;
}

.news-text h2 {
    font-family: Arial Black, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 14px;
    margin: 0;
}
.news-text span.date {
    font-family:  Georgia, serif;
    font-size: 11px;
    font-style: italic;
    color: #000;
}
.news-text p {
    color:  #4e4e4e;
    margin: 0;
}
.news-text p img{
    vertical-align: top;
}