.navigation-bar {
    background: url(../img/bg_main_nav.png);
    font-size: 11px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	color:#000;
}
.navigation-bar .group span { height: 19px; float: left; padding-top: 4px; margin-right: 4px;}
.navigation-bar ul.topnav{ top: 1px; }
#grid-icon {
    background: url(../img/grid.png) no-repeat top;
	height:22px;
	width: 36px;
	display:block;
}
#grid-icon.current { background-image:url(../img/grid-on.png);}
#list-icon { 
    background:url(../img/list.png) no-repeat top;
	height:22px;
	width:36px;
	display:block;
}
#list-icon.current { background-image:url(../img/list-on.png);}
#text-icon { 
    background:url(../img/text.png) no-repeat top;
	height:22px;
	width:36px;
	display:block;
}
#text-icon.current { background-image:url(../img/text-on.png);}