.local-color{background-color:#1bb5b5;}
.local-color-text{color:#1bb5b5;}
acronym, abbr {color:#1bb5b5;}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {color:#1bb5b5;}

#main-navigation {background-color:#1bb5b5;}
#main-navigation li {border-color: #1bb5b5;}
#main-navigation li:hover { background-color: #007f87; }

.tree li { background-color:#1bb5b5; }
.tree li.hover  { background-color: #007f87; }

.local-color-light {background-color:#007f87;}
.local-color-dark {background-color:#004d59;}
.local-color-down{ background-color: #04353A; }
.news-text h2 a:hover {color: #1bb5b5;}

.search-results a {color:#1bb5b5; }
.search-results cite {color:#004d59;}

.print .icon {background-position: 0 -312px; }
.print:hover .icon {background-position: 0 -288px;}
.feed .icon {background-position: -24px -312px; }
.feed:hover .icon {background-position: -24px -288px; }
.share .icon {background-position: -48px -312px; }
.share:hover .icon {background-position: -48px -288px; }
.information .icon {background-position: -72px -312px; }
.information:hover .icon {background-position: -72px -288px; }
.question .icon {background-position: -96px -312px; }
.question:hover .icon {background-position: -96px -288px; }
.showall .icon {background-position: -120px -312px; }
.showall:hover .icon {background-position: -120px -288px; }
.forward .icon {background-position: -144px -312px; }
.forward:hover .icon {background-position: -144px -288px; }
.mail .icon {background-position: -168px -312px; }
.mail:hover .icon {background-position: -168px -288px; }
.contact .icon {background-position: -362px -312px; }
.contact:hover .icon {background-position: -362px -288px; }
.gototop .icon {background-position: -386px -312px; }
.gototop:hover .icon {background-position: -386px -288px; }
.previous .icon {background-position: -410px -312px; }
.previous:hover .icon {background-position: -410px -288px; }
.checkmark .icon {background-position: -434px -312px; }
.checkmark:hover .icon {background-position: -434px -288px; }
.cross .icon {background-position: -458px -312px; }
.cross:hover .icon {background-position: -458px -288px; }
.comment .icon {background-position: -482px -312px; }
.comment:hover .icon {background-position: -482px -288px; }
.edit .icon {background-position: -506px -312px; }
.edit:hover .icon {background-position: -506px -288px; }
.file .icon {background-position: -530px -312px; }
.file:hover .icon {background-position: -530px -288px; }
.pdffile .icon {background-position: -554px -312px; }
.pdffile:hover .icon {background-position: -554px -288px; }
.ok .icon {background-position: -578px -312px; }
.ok:hover .icon {background-position: -578px -288px; }
.stats .icon {background-position: -602px -312px; }
.stats:hover .icon {background-position: -602px -288px; }
.gotostart .icon {background-position: -626px -312px;}
.gotostart:hover .icon {background-position: -626px -288px;}
.square .icon {background-position: -651px -312px;}
.square:hover .icon {background-position: -651px -288px;}
.down .icon {background-position: -698px -312px;}
.down:hover .icon {background-position: -698px -288px;}

.francais .diet_icon {background-position: -201px -316px;}
.anglais .diet_icon {background-position: -221px -316px;}
.allemand .diet_icon {background-position: -684px -316px;}
.winter .little_icon {background-position: -237px -316px;}
.sun .little_icon {background-position: -257px -316px;}
.membres .large_icon {background-position: -275px -316px;}
.printemps .little_icon {background-position: -301px -316px; }
.automne .little_icon {background-position: -319px -316px; }

.category-en{ background-image: url(../img/news-categories-en-bw.png);}
.category-fr{ background-image: url(../img/news-categories-fr-bw.png);}