.local-color{background-color:#895116;}
.local-color-text{color:#895116;}
#main-navigation {background-color:#895116;}
#main-navigation .dropdown {border-color: #895116;}

.local-color-light {background-color:#652f00;}
.local-color-dark {background-color:#471900;}
.news-text h2 a:hover {color: #895116;}

.search-results a {color:#895116; }
.search-results cite {color:#471900;}
.pagination .current {color:#895116;}