.local-color{background-color:#895116;}
.local-color-text{color:#895116;}
acronym, abbr {color:#895116;}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {color:#895116;}


#main-navigation {background-color:#895116;}
#main-navigation li {border-color: #895116;}
#main-navigation li:hover { background-color: #652f00; }

.tree li { background-color:#895116; }
.tree li.hover  { background-color: #652f00; }

.local-color-light {background-color:#652f00;}
.local-color-dark {background-color:#471900;}
.news-text h2 a:hover {color: #895116;}

.search-results a {color:#895116; }
.search-results cite {color:#471900;}

.print .icon {background-position-y: -456px;}
.print:hover .icon {background-position-y: -432px;}
.feed .icon  {background-position-y: -456px;}
.feed:hover .icon {background-position-y: -432px;}
.share .icon  {background-position-y: -456px;}
.share:hover .icon {background-position-y: -432px;}
.information .icon {background-position-y: -456px;}
.information:hover .icon {background-position-y: -432px;}
.question .icon {background-position-y: -456px;}
.question:hover .icon {background-position-y: -432px;}
.contact .icon {background-position-y: -456px;}
.contact:hover .icon {background-position-y: -432px;}
.comment .icon {background-position-y: -456px;}
.comment:hover .icon {background-position-y: -432px;}
.mail .icon {background-position-y: -456px;}
.mail:hover .icon {background-position-y: -432px;}
.first .icon {background-position-y: -456px;}
.first:hover .icon {background-position-y: -432px;}
.last .icon {background-position-y: -456px;}
.last:hover .icon  {background-position-y: -432px;}
.previous .icon, .gotostart .icon {background-position-y: -456px;}
.previous:hover .icon, .gotostart:hover .icon {background-position-y: -432px;}
.forward .icon, .showall .icon {background-position-y: -456px;}
.forward:hover .icon, .showall:hover .icon {background-position-y: -432px;}
.up .icon, .gototop .icon {background-position-y: -456px;}
.up:hover .icon, .gototop:hover .icon {background-position-y: -432px;}
.down .icon {background-position-y: -456px;}
.down:hover .icon {background-position-y: -432px;}
.file .icon {background-position-y: -456px;}
.file:hover .icon {background-position-y: -432px;}
.pdffile .icon {background-position-y: -456px;}
.pdffile:hover .icon {background-position-y: -432px;}


.francais .diet_icon, .anglais .diet_icon, .allemand .diet_icon, 
.winter .little_icon, .sun .little_icon, .printemps .little_icon, 
.automne .little_icon  {background-position-y: -288px;}

.members .icon{ background-position-x: -264px;}



.category-en{ background-image: url(../img/news-categories-en-bw.png) };
.category-fr{ background-image: url(../img/news-categories-fr-bw.png) };