@charset "utf-8";
/* CSS Document */
.navigation-menu {
	width: 982px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	border-top: none;
}
.navigation-menu .menu {
	float: left;
	width: 160px;
	margin-right: 4px;
}
.navigation-menu .menu-2-cols {
	float: left;
	width: 324px;
	margin-right: 4px;
}
.navigation-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
/*.navigation-menu a {
    font-family:"Arial black", Arial;
	font-size:12px;
	line-height:22px;
	letter-spacing:.05em;
	color:#000;
	text-transform:none;
	font-weight:bold;
	text-decoration:none;
} 
.navigation-menu a:hover, .navigation-menu a:active { color:#666; } 
 */

.navigation-menu .public {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
.navigation-menu .public .menu {
	float: left;
	width: 160px;
	height: 70px;
	margin: 60px 4px 4px 0;
}
.navigation-menu .public a {
	font-family:"Arial black", Arial;
	font-size:12px;
	line-height:22px;
	letter-spacing:.05em;
	color:#000;
	text-transform:none;
	font-weight:bold;
	text-decoration:none;
}
.navigation-menu .public a:active, .navigation-menu .public a:hover {color:#666;}

.navigation-menu .bref .menu h3 {
	color: red;
	margin:0;
	padding:0;
	font-family:"Arial black", Arial;
	font-size:12px;
	line-height:14px;
	letter-spacing:.05em;
	text-transform:none;
	font-weight:bold;
	text-decoration:none;
}
.navigation-menu .bref {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
.navigation-menu .bref .menu {
	float: left;
	width: 160px;
	height: 120px;
	margin: 60px 4px 4px 0;
}
.navigation-menu .bref .large {
	width: 320px;
	margin-right:none;
}
.navigation-menu .bref a {
	font-family:"Arial black", Arial;
	font-size:12px;
	line-height:14px;
	letter-spacing:.05em;
	color:#000;
	text-transform:none;
	font-weight:bold;
	text-decoration:none;
}
.navigation-menu .bref a:active, .navigation-menu .bref a:hover {
	color:#666;
}
.navigation-menu .fac .menu h3 {
	margin:0;
	padding:0;
	font-family:"Arial black", Arial;
	font-size:12px;
	line-height:14px;
	letter-spacing:.05em;
	text-transform:none;
	font-weight:bold;
	text-decoration:none;
}
.navigation-menu .fac {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
.navigation-menu .fac .menu {
	float: left;
	width: 318px;
	margin: 5px 6px 4px 0px;
}
.navigation-menu .fac .top {
	margin-top: 60px;
}
.navigation-menu .fac .bottom {
	margin-bottom: 40px;
}
.navigation-menu .fac .first {
	margin-left: 8px;
}
.navigation-menu .fac a {
	font-family:"Arial black", Arial;
	font-size:12px;
	line-height:14px;
	letter-spacing:.05em;
	color:#000;
	text-transform:none;
	font-weight:bold;
	text-decoration:none;
}
.navigation-menu .fac a:active, .navigation-menu .fac a:hover {	color:#666;}

.color_sti {color:#a9aad5;}
.color_enac {color:#eb690b;}
.color_cdm {color:#990066;}
.color_cdh {color:#daa520;}
.color_sv {color:#97bf0d;}
.color_sb {color:#009ee1;}
.color_ic {color:#30b3ad;}
.color_epfl {color:#991229;}
