@charset "utf-8";
/* CSS Document */
.navigation-panel {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	padding: 60px 8px 40px 8px;
	border:none;
	border: 1px solid black;
	display: none;
}
.navigation-panel .group {
	float: left;
	width: 160px;
	margin-right: 4px;
	padding: 0;
}
.navigation-panel .group-2-cols {
	float: left;
	width: 324px;
	margin-right: 4px;
}
.navigation-panel .last { margin: 0; }
.navigation-panel ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation-panel a{
    font-family: Arial black, Arial;
    font-size: 12px;
    line-height: 14px;
    letter-spacing:.05em;
	text-transform:none;
	font-weight:bold;
	text-decoration:none;
	color: #000;
}
.navigation-panel a:active, .navigation-panel a:hover { color:#666; }
.navigation-panel h3 {
    margin:0;
    padding:0;
	font-family:"Arial black", Arial;
	font-size:12px;
	line-height:14px;
	letter-spacing:.05em;
	text-transform:none;
	font-weight:bold;
	text-decoration:none;
}


#public_panel a { line-height:22px; }
#public_panel a:active, .#public_panel a:hover { color:#666; }

#brief_panel h3 { color: red;}
#brief_panel .large {
	width: 320px;
	margin-right:none;
}

#school_panel { padding-bottom: 36px; } 
#school_panel .group-2-cols { margin-bottom: 4px; }

#school_panel a { line-height:14px;}
#school_panel h3 acronym { color: #4e4e4e;}.navigation-panel .sti{ color:#a9aad5;}
.navigation-panel .enac{color:#eb690b;}
.navigation-panel .cdm{color:#990066;}
.navigation-panel .cdh{color:#daa520;}
.navigation-panel .sv{color:#97bf0d;}
.navigation-panel .sb{color:#009ee1;}
.navigation-panel .ic{color:#30b3ad;}
.navigation-panel .epfl{color:#991229;}