#maincontent ul { list-style-type:none; }
ul.list-layout {
    float: left;
    width: 656px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.list-layout li {
    float: left;
    width: 320px;
    height: 90px;
    margin: 0 6px 4px 0;
}
.list-layout li.heading-news{
    height: 278px;
}
.list-layout img.news-img {
    width: 160px;
    height: 90px;
    float: left;
}
.list-layout li.heading-news img.news-img{
    width: 320px;
    height: 184px;
}
.list-layout div.news-text {
    width: 154px;
    height: 89px;
    float:left;
    margin-left: 6px;
    border-bottom: 1px solid black;
}
.list-layout li.heading-news div.news-text {
    width: 320px;
    height: 93px;
    margin: 0;
}
li.heading-news div.news-text h2 {
    font-size: 22px;
    line-height: 23px;
}


ul.grid-layout {
    float: left;
    width: 656px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.grid-layout li {
    float: left;
    width: 160px;
    height: 90px;
    margin: 0 4px 4px 0;
}
.grid-layout li.heading-news{
    width: 324px;
    height: 184px;
    position: relative;
}
.grid-layout img.news-img {
    width: 160px;
    height: 90px;
}
.grid-layout li.heading-news img.news-img {
    width: 324px;
    height: 184px;
}
.grid-layout li.heading-news .news-text {
    position: absolute;
    top: 154px;
    left: 0px;
    width: 324px;
    height:30px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.5);
    overflow:hidden;
    color: #fff;
}
.grid-layout li.heading-news .news-text a{
    color: #fff;
    text-decoration: none;
}

ul.text-layout{
    float: left;
    width: 656px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.text-layout li {
    float: left;
    width: 320px;
    height: 90px;
    margin: 0 8px 4px 0;
}
.text-layout li.heading-news{
    height: 278px;
}
.text-layout img.news-img {
    width: 160px;
    height: 90px;
    float: left;
}
.text-layout li.heading-news img.news-img{
    width: 320px;
    height: 184px;
}
.text-layout div.news-text {
    width: 320px;
    height: 89px;
    float:left;
    border-bottom: 1px solid black;
}
.text-layout li.heading-news div.news-text {
    width: 320px;
    height: 93px;
    margin: 0;
}

.right-col{
    height: 372px;
    color: #fff;
    overflow: hidden;
}
.unit-cell{
    height: 90px;
    margin: 0 0 4px 0;
    padding: 6px;
    overflow: hidden;
}
.unit-2-cells{
    height: 184px;
    margin: 0 0 4px 0;
    padding: 6px;
    overflow: hidden;
}
.unit-3-cells{
    height: 278px;
    margin: 0 0 4px 0;
    padding: 6px;
    overflow: hidden;

}
.last-cell{
    margin: 0px;
}