.top{
	border-top:1px solid #000;
	}
.content-people{
	width:100%;
	padding-bottom:2px;
	padding-top:2px;
	}
.content-people .people-box{
	width:100%;
	float:left;
	}
.content-people .people-box .box-col{
	width:316px;
	margin-right:8px;
	float:left;
	}
.content-people li {
	background:none;
	list-style-type:none;
	line-height:16px;
	margin-bottom:2px;
	margin-top:2px;
	padding-left:0px;
}
.line-bottom{
	border-bottom:1px solid #000;
	}
.content-people ul.line-people{
	padding-left:15px;
	margin:0 0;
	padding-top:2px;
	}
.content-people ul.line-people li{
	list-style-type:none;
	background:none;
	padding:0 0 ;
}

.line-people li.name{
	width:363px;
	float:left;
	}
.line-people li.acronyme{
	width:70px;
	float:left;
}
.line-people li.responsable{
	width:160px;
	float:left;
	}
.line-people li.membres{
	width:25px;
	float:left;
	}
.bold{
	font-weight:bold;
	}
.people-title{
	width:316px;
	font-size:12px;
	font-weight:bold;
	float:left;
	margin-right:8px;
	}
.accordeon{
	border-bottom:1px solid #000;
}
.portrait{
	width:159px;
	height:184px;
	float:left;
	display:block;
}
.portrait-gauche{
	margin-right:5px;
	}
.presentation{
	float:left;
	width:100%;
	padding-top:10px;
	}