/* Study plan icons */
.diet_icon {float: left; background: url(../img/icons-plancours.png) no-repeat; height: 18px; width: 9px; margin-right: 0; border: none;}
.little_icon {float: left; background: url(../img/icons-plancours.png) no-repeat;  height: 17px; width: 17px; margin-right: 0; border: none;}

.francais .diet_icon {background-position: -90px 0;}
.anglais .diet_icon {background-position: -108px 0;}
.allemand .diet_icon {background-position: -72px 0;}
.winter .little_icon {background-position: -54px 0;}
.sun .little_icon {background-position: -18px 0;}
.printemps .little_icon {background-position: 0 0; }
.automne .little_icon {background-position: -36px 0; }
