/* ************************* Page Formating ********************************* */
@page :left { margin-left:1.5cm; margin-right:2cm  }
@page :right { margin-left:2cm; margin-right:1.5cm  }

* { overflow: visible !important; }

/************************* Tag redefinition ***********************************/
body, table {
    font-size:9pt;
    line-height:15pt;
}
h1 { font-size:16pt; }
h2 {
    font-size:15pt;
    line-height:22pt;
}
p, .content p, ol, .content ol, ul, .content ul, dd, .content dd {
    margin-right:0;
}

/* ************************* Hide elements ********************************** */

/* Header */
#accessibility, #nav-menus, #nav-search, #languages, #main-navigation, #tools, .navigation-bar {
    display:none;
}
/* Right Navigation Menu */
div.right-col ul.tree { display:none;}

/* But show study plan options */
div.right-col ul.noNav { display:block !important;}

/* Hide as long as there is no content */
.home-navpanel .portal, .last-col { display:none; }


/* ************************* Change Styles ************************************ */

#header, #main-content, #footer {
    width:100%;
    padding-left:0;
}

#nav-logo {
    width:100%;
}

#content {
    float:none;
    width:100%;
    border-top-style:none;
    min-height:100px;
    /*margin-bottom:1.5cm; */
}

.content { min-height:100px; }

.box.two-cols div.box-left-col, .box .two-cols div.box-left-col, .box.two-cols div.box-right-col, .box .two-cols div.box-right-col, .box.two-cols li {
    /* width:48%;  */
}

.local-color, .local-color-light, .local-color-dark, .local-color-down, .local-color a, .local-color-light a, .local-color-dark a, .home-navpanel a, .portal, .school, .short, .home-navpanel, .home-navpanel p, .home-navpanel h2, .home-navpanel h3, .home-navpanel h4, strong {
    background-color:#fff !important;
    color:#000 !important;
}

.right-col {
    width:100%;
}
.right-col .box, .right-col {
    width:48%;
    float:left;
    margin-right:7px;
    margin-bottom:0.5cm;
    margin-top:0.5cm;
    /* min-height:200px; */
    color:#000;
    background-color:#fff;
    padding:0;
}

.home-navpanel .unit-3-cells { width:160px;}
.home-navpanel .unit-3-cells li, .home-navpanel .unit-cell li { 
    list-style-type:none;
}
.home-navpanel { width:324px !important; }

div#form_sondage { padding-top:50px;}

.local-color h3, .right-col h3 {
    font-family: Impact, "Arial Black","DejaVu Sans", Arial, Helvetica , sans-serif !important;
    font-weight: normal; font-size:22px !important; letter-spacing:0.1em; line-height:26px;
    color: #000 !important;
    text-transform: uppercase;
    padding: 1px 0 4px;
    border-bottom:1px solid #000 !important;
    margin: 0 0 10px 0;
}

#footer { padding-top:0.5cm; }
#footer li { display: none; }
#footer li.copyright { display:block; }

#news, #news .content p {
    width:100% !important;
    margin-right:0 !important;
}

#news div.article_bottom li {
    list-style:none;
    color:#000;
    float:left;
    margin-left:0;
    margin-right:50px;
    padding-left:0;
}

#main-content #content #news .article_bottom li.heading {
    margin-right:5px !important;
    color:#000 !important;
}

#main-content #content #news .article_bottom ul {
    height: 30px;
    margin: 0 !important;
}

#main-content .right-col { /*height: 210px !important; */}


/********************************** Study plan *******************************/
.red-color, .bachlor-text { background-color:#fff !important; color:#000 !important; }
.taken {  border:1px solid black; }