
.local-color{background-color:#007ba5;}
.local-color-text{color:#007ba5;}
acronym, abbr {color:#007ba5;}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {color:#007ba5;}

#main-navigation {background-color:#007ba5;}
#main-navigation li {border-color: #007ba5;}
#main-navigation li:hover { background-color: #015876; }

.tree li { background-color:#007ba5; }
.tree li.hover  { background-color: #015876; }

.local-color-light {background-color:#015876;}
.local-color-dark {background-color:#003047;}
.local-color-down{ background-color: #08222D; }
.news-text h2 a:hover {color: #007ba5;}

.search-results a {color:#007ba5; }
.search-results cite {color:#003047;}

.print .icon {background-position: 0 -360px; }
.print:hover .icon {background-position: 0 -336px;}
.feed .icon {background-position: -24px -360px; }
.feed:hover .icon {background-position: -24px -336px; }
.share .icon {background-position: -48px -360px; }
.share:hover .icon {background-position: -48px -336px; }
.information .icon {background-position: -72px -360px; }
.information:hover .icon {background-position: -72px -336px; }
.question .icon {background-position: -96px -360px; }
.question:hover .icon {background-position: -96px -336px; }
.contact .icon {background-position: -120px -360px; }
.contact:hover .icon {background-position: -120px -336px; }
.comment .icon {background-position: -144px -360px; }
.comment:hover .icon {background-position: -144px -336px; }
.mail .icon {background-position: -168px -360px; }
.mail:hover .icon {background-position: -168px -336px; }
.first .icon {background-position: -192px -360px; }
.first:hover .icon {background-position: -192px -336px; }
.last .icon {background-position: -216px -360px; }
.last:hover .icon {background-position: -216px -336px; }
.previous .icon, .gotostart .icon {background-position: -240px -360px; }
.previous:hover .icon, .gotostart:hover .icon {background-position: -240px -336px; }
.forward .icon, .showall .icon {background-position: -264px -360px; }
.forward:hover .icon, .showall:hover .icon {background-position: -264px -336px; }
.up .icon, .gototop .icon {background-position: -288px -360px; }
.up:hover .icon, .gototop:hover .icon {background-position: -288px -336px; }
.down .icon {background-position: -312px -360px;}
.down:hover .icon {background-position: -312px -336px;}
.file .icon {background-position: -336px -360px; }
.file:hover .icon {background-position: -336px -336px; }
.pdffile .icon {background-position: -360px -360px; }
.pdffile:hover .icon {background-position: -360px -336px; }


.francais .diet_icon {background-position: -90px -216px;}
.anglais .diet_icon {background-position: -108px -216px;}
.allemand .diet_icon {background-position: -72px -216px;}
.winter .little_icon {background-position: -54px -216px;}
.sun .little_icon {background-position: -18px -216px;}
.printemps .little_icon {background-position: 0 -216px;}
.automne .little_icon {background-position: -36px -216px;}

.members .icon{ background-position: -216px -480px;}


.category-en{ background-image: url(../img/news-categories-en-bw.png);}
.category-fr{ background-image: url(../img/news-categories-fr-bw.png);}