
.local-color{background-color:#007ba5;}
.local-color-text{color:#007ba5;}
acronym, abbr {color:#007ba5;}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {color:#007ba5;}

#main-navigation {background-color:#007ba5;}
#main-navigation li {border-color: #007ba5;}
#main-navigation li:hover { background-color: #015876; }

.tree li { background-color:#007ba5; }
.tree li.hover  { background-color: #015876; }

.local-color-light {background-color:#015876;}
.local-color-dark {background-color:#003047;}
.local-color-down{ background-color: #08222D; }
.news-text h2 a:hover {color: #007ba5;}

.search-results a {color:#007ba5; }
.search-results cite {color:#003047;}

.print .icon {background-position-y: -360px;}
.print:hover .icon {background-position-y: -336px;}
.feed .icon  {background-position-y: -360px;}
.feed:hover .icon {background-position-y: -336px;}
.share .icon  {background-position-y: -360px;}
.share:hover .icon {background-position-y: -336px;}
.information .icon {background-position-y: -360px;}
.information:hover .icon {background-position-y: -336px;}
.question .icon {background-position-y: -360px;}
.question:hover .icon {background-position-y: -336px;}
.contact .icon {background-position-y: -360px;}
.contact:hover .icon {background-position-y: -336px;}
.comment .icon {background-position-y: -360px;}
.comment:hover .icon {background-position-y: -336px;}
.mail .icon {background-position-y: -360px;}
.mail:hover .icon {background-position-y: -336px;}
.first .icon {background-position-y: -360px;}
.first:hover .icon {background-position-y: -336px;}
.last .icon {background-position-y: -360px;}
.last:hover .icon  {background-position-y: -336px;}
.previous .icon, .gotostart .icon {background-position-y: -360px;}
.previous:hover .icon, .gotostart:hover .icon {background-position-y: -336px;}
.forward .icon, .showall .icon {background-position-y: -360px;}
.forward:hover .icon, .showall:hover .icon {background-position-y: -336px;}
.up .icon, .gototop .icon {background-position-y: -360px;}
.up:hover .icon, .gototop:hover .icon {background-position-y: -336px;}
.down .icon {background-position-y: -360px;}
.down:hover .icon {background-position-y: -336px;}
.file .icon {background-position-y: -360px;}
.file:hover .icon {background-position-y: -336px;}
.pdffile .icon {background-position-y: -360px;}
.pdffile:hover .icon {background-position-y: -336px;}


.francais .diet_icon, .anglais .diet_icon, .allemand .diet_icon, 
.winter .little_icon, .sun .little_icon, .printemps .little_icon, 
.automne .little_icon  {background-position-y: -216px;}

.members .icon{ background-position-x: -216px;}


.category-en{ background-image: url(../img/news-categories-en-bw.png);}
.category-fr{ background-image: url(../img/news-categories-fr-bw.png);}