.local-color{background-color:#8972d5;}
.local-color-text{color:#8972d5;}
acronym, abbr {color:#8972d5;}

#main-navigation {background-color:#8972d5;}
#main-navigation li {border-color: #8972d5;}
#main-navigation li:hover { background-color: #5d41a2; }

.tree li { background-color:#8972d5; }
.tree li.hover  { background-color: #5d41a2; }

.local-color-light {background-color:#5d41a2;}
.local-color-dark {background-color:#431f7f;}
.local-color-down{ background-color: #2B1260; }
.news-text h2 a:hover {color: #8972d5;}

.search-results a {color:#8972d5; }
.search-results cite {color:#431f7f;}
.pagination .current {color:#8972d5;}

.print .icon {background-position: 0 -264px; }
.print:hover .icon {background-position: 0 -240px;}
.feed .icon {background-position: -24px -264px; }
.feed:hover .icon {background-position: -24px -240px; }
.share .icon {background-position: -48px -264px; }
.share:hover .icon {background-position: -48px -240px; }
.information .icon {background-position: -72px -264px; }
.information:hover .icon {background-position: -72px -240px; }
.question .icon {background-position: -96px -264px; }
.question:hover .icon {background-position: -96px -240px; }
.showall .icon {background-position: -120px -264px; }
.showall:hover .icon {background-position: -120px -240px; }
.mail .icon {background-position: -168px -264px; }
.mail:hover .icon {background-position: -168px -240px; }
.francais .diet_icon {background-position: -201px -267px;}
.anglais .diet_icon {background-position: -221px -267px;}
.winter .little_icon {background-position: -237px -267px;}
.sun .little_icon {background-position: -257px -267px;}
.membres .large_icon {background-position: -275px -267px;}
.printemps .little_icon {background-position: -301px -267px; }
.automne .little_icon {background-position: -319px -267px; }

.category-en{ background-image: url(../img/news-categories-en-bw.png);
.category-fr{ background-image: url(../img/news-categories-fr-bw.png);