.local-color{background-color:#8972d5;}
.local-color-text{color:#8972d5;}
#main-navigation {background-color:#8972d5;}
#main-navigation .dropdown {border-color: #8972d5;}

.local-color-light {background-color:#5d41a2;}
.local-color-dark {background-color:#431f7f;}
.news-text h2 a:hover {color: #8972d5; text-decoration: none;}