.top{
	border-top:1px solid #000;
	}
.content-structure{
	width:100%;
	border-bottom:1px dotted #000;
	padding-bottom:2px;
	padding-top:2px;
	}
.line-bottom{
	border-bottom:1px solid #000;
	}
.content-structure ul.line-structure{
	padding-left:15px;
	margin:0 0;
	padding-top:2px;
	}
.content-structure ul.line-structure li{
	list-style-type:none;
	background:none;
	padding:0 0 ;
}

.line-structure li.name{
	width:363px;
	float:left;
	}
.line-structure li.acronyme{
	width:70px;
	float:left;
}
.line-structure li.responsable{
	width:160px;
	float:left;
	}
.line-structure li.membres{
	width:25px;
	float:left;
	}
.bold{
	font-weight:bold;
	}