.local-color{background-color:#6fba01;}
.local-color-text{color:#6fba01;}
acronym, abbr {color:#6fba01;}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {color:#6fba01; }

#main-navigation {background-color:#6fba01;}
#main-navigation li {border-color: #6fba01;}
#main-navigation li:hover { background-color: #439809; }

.tree li { background-color:#6fba01; }
.tree li.hover  { background-color: #439809; }

.local-color-light {background-color:#439809;}
.local-color-dark {background-color:#0b7101;}
.local-color-down{ background-color: #0B4905; }
.news-text h2 a:hover {color: #6fba01;}

.search-results a {color:black;}/*#6fba01; }*/
.search-results cite {color:#0b7101;}
.pagination .current {color:#6fba01;}

.print .icon {background-position: 0 -216px; }
.print:hover .icon {background-position: 0 -192px;}
.feed .icon {background-position: -24px -216px; }
.feed:hover .icon {background-position: -24px -192px; }
.share .icon {background-position: -48px -216px; }
.share:hover .icon {background-position: -48px -192px; }
.information .icon {background-position: -72px -216px; }
.information:hover .icon {background-position: -72px -192px; }
.question .icon {background-position: -96px -216px; }
.question:hover .icon {background-position: -96px -192px; }
.showall .icon {background-position: -120px -216px; }
.showall:hover .icon {background-position: -120px -192px; }
.mail .icon {background-position: -168px -216px; }
.mail:hover .icon {background-position: -168px -192px; }
.contact .icon {background-position: -362px -216px; }
.contact:hover .icon {background-position: -362px -192px; }
.gototop .icon {background-position: -386px -216px; }
.gototop:hover .icon {background-position: -386px -192px; }
.previous .icon {background-position: -410px -216px; }
.previous:hover .icon {background-position: -410px -192px; }
.checkmark .icon {background-position: -434px -216px; }
.checkmark:hover .icon {background-position: -434px -192px; }
.cross .icon {background-position: -458px -216px; }
.cross:hover .icon {background-position: -458px -192px; }
.comment .icon {background-position: -482px -216px; }
.comment:hover .icon {background-position: -482px -192px; }
.edit .icon {background-position: -506px -216px; }
.edit:hover .icon {background-position: -506px -192px; }
.file .icon {background-position: -530px -216px; }
.file:hover .icon {background-position: -530px -192px; }

.francais .diet_icon {background-position: -201px -219px;}
.anglais .diet_icon {background-position: -221px -219px;}
.winter .little_icon {background-position: -237px -219px;}
.sun .little_icon {background-position: -257px -219px;}
.membres .large_icon {background-position: -275px -219px;}
.printemps .little_icon {background-position: -301px -219px; }
.automne .little_icon {background-position: -319px -219px; }

.category-en{ background-image: url(../img/news-categories-en-bw.png);}
.category-fr{ background-image: url(../img/news-categories-fr-bw.png);}