.local-color{background-color:#6fba01;}
.local-color-text{color:#6fba01;}
#main-navigation {background-color:#6fba01;}
#main-navigation li {border-color: #6fba01;}

.local-color-light {background-color:#439809;}
.local-color-dark {background-color:#0b7101;}
.news-text h2 a:hover {color: #6fba01;}

.search-results a {color:black;}/*#6fba01; }*/
.search-results cite {color:#0b7101;}
.pagination .current {color:#6fba01;}

.print .icon {background-position: 0 -216px; }
.print:hover .icon {background-position: 0 -192px;}
.feed .icon {background-position: -24px -216px; }
.feed:hover .icon {background-position: -24px -192px; }
.share .icon {background-position: -48px -216px; }
.share:hover .icon {background-position: -48px -192px; }
.information .icon {background-position: -72px -216px; }
.information:hover .icon {background-position: -72px -192px; }
.question .icon {background-position: -96px -216px; }
.question:hover .icon {background-position: -96px -192px; }
.showall .icon {background-position: -120px -216px; }
.showall:hover .icon {background-position: -120px -192px; }