.looking{background-color:#daa521;}
.enac{color:#daa521;}
#main_navigation {background-color:#daa521;}
.looking2 {background-color:#b77504;}
.looking3 {background-color:#bc6909;}
.news-text h2 a:hover {color: #daa521; text-decoration: none;}