.looking{background-color:#990165;}
.enac{color:#990165;}
#main_navigation {background-color:#990165;}
.looking2 {background-color:#75004f;}
.looking3 {background-color:#620744;}
.news-text h2 a:hover {color: #990165; text-decoration: none;}