.looking{background-color:#1bb5b5;}
.enac{color:#1bb5b5;}
#main_navigation {background-color:#1bb5b5;}
.looking2 {background-color:#007f87;}
.looking3 {background-color:#004d59;}
.news-text h2 a:hover {color: #1bb5b5; text-decoration: none;}