.looking{background-color:#847bcc;}
.enac{color:#847bcc;}
#main_navigation {background-color:#847bcc;}
.looking2 {background-color:#35215e;}
.looking3 {background-color:#4e377f;}
.news-text h2 a:hover {
    color: #847bcc;
    text-decoration: none;
}