.looking{background-color:#8dc700;}
.enac{color:#8dc700;}
#main_navigation {background-color:#8dc700;}
.looking2 {background-color:#439809;}
.looking3 {background-color:#0b7101;}
.news-text h2 a:hover {color: #8dc700; text-decoration: none;}