<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--#include virtual="../../fragments/header.sig.html" -->
<title>EPFL | École Polytechnique Fédérale de Lausanne - Page d'accueil</title>
<link href="http://www.epfl.ch/css/epfl.css" media="all" rel="stylesheet" type="text/css" />
<link href="css/search.css" media="all" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.epfl.ch/js/jquery-epfl.min.js"></script>
<script type="text/javascript">jQuery.noConflict();</script>
<script type="text/javascript" src="http://www.epfl.ch/js/globalnav.js"></script>
</head>
<body>


<ol class="people-list">
    <li>
        <div class="name"><a href="#">Cyril Friederich</a></div>
        <div class="role">employee</div>
        <div class="place"><a href="#">MA C1 622</a></div>
        <div class="phone"><a href="#">+41 21 6932287</a></div>
        <div class="clear"></div>
    </li>
    <li>
        <div class="name"><a href="#">Cyril Friederich</a></div>
        <div class="role">employee</div>
        <div class="place"><a href="#">MA C1 622</a></div>
        <div class="phone"><a href="#">+41 21 6932287</a></div>
        <div class="clear"></div>
    </li>
    <li>
        <div class="name"><a href="#">Cyril Friederich</a></div>
        <div class="role">employee</div>
        <div class="place"><a href="#">MA C1 622</a></div>
        <div class="phone"><a href="#">+41 21 6932287</a></div>
        <div class="clear"></div>
    </li>
    <li>
        <div class="name"><a href="#">Cyril Friederich</a></div>
        <div class="role">employee</div>
        <div class="place"><a href="#">MA C1 622</a></div>
        <div class="phone"><a href="#">+41 21 6932287</a></div>
        <div class="clear"></div>
    </li>
    <li>
        <div class="name"><a href="#">Cyril Friederich</a></div>
        <div class="role">employee</div>
        <div class="place"><a href="#">MA C1 622</a></div>
        <div class="phone"><a href="#">+41 21 6932287</a></div>
        <div class="clear"></div>
    </li>
    <li>
        <div class="name"><a href="#">Cyril Friederich</a></div>
        <div class="role">employee</div>
        <div class="place"><a href="#">MA C1 622</a></div>
        <div class="phone"><a href="#">+41 21 6932287</a></div>
        <div class="clear"></div>
    </li>
</ol>