<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>annuaire</title>
<link href="http://www.epfl.ch/css/epfl.css" media="all" rel="stylesheet" type="text/css" />
<link href="../../css/search.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
<ol class="search-results">
        <LI>
        <div class="title_annu"><a href="#">Cyril Friederich</a></div>
        <div class="fonction"><p>employee</p></div>
        <div class="desk"><a href="#">MA C1 622</a></div>
        <div class="number"><a href="#">+41 21 6932287</a></div>
        <div style="clear:both"></div>
        </LI>
        <LI>
        <div class="title_annu"><a href="#">Cyril Friederich</a></div>
        <div class="fonction"><p>employee</p></div>
        <div class="desk"><a href="#">MA C1 622</a></div>
        <div class="number"><a href="#">+41 21 6932287</a></div>
        <div style="clear:both"></div>
        </LI>
        <LI>
        <div class="title_annu"><a href="#">Cyril Friederich</a></div>
        <div class="fonction"><p>employee</p></div>
        <div class="desk"><a href="#">MA C1 622</a></div>
        <div class="number"><a href="#">+41 21 6932287</a></div>
        <div style="clear:both"></div>
        </LI>
          <LI>
        <div class="title_annu"><a href="#">Cyril Friederich</a></div>
        <div class="fonction"><p>employee</p></div>
        <div class="desk"><a href="#">MA C1 622</a></div>
        <div class="number"><a href="#">+41 21 6932287</a></div>
        <div style="clear:both"></div>
        </LI>
        <LI>
        <div class="title_annu"><a href="#">Cyril Friederich</a></div>
        <div class="fonction"><p>employee</p></div>
        <div class="desk"><a href="#">MA C1 622</a></div>
        <div class="number"><a href="#">+41 21 6932287</a></div>
        <div style="clear:both"></div>
        </LI>
        <LI>
        <div class="title_annu"><a href="#">Cyril Friederich</a></div>
        <div class="fonction"><p>employee</p></div>
        <div class="desk"><a href="#">MA C1 622</a></div>
        <div class="number"><a href="#">+41 21 6932287</a></div>
        <div style="clear:both"></div>
        </LI>
        
        
</ol>
</body>
</html>
