        <div class="box two-cols">
          <h3>Contacts</h3>
          <div class="box-col">
            <h4>Laboratory of Fictive Science (LFS)</h4>
            <p>EPFL-FS-FI-LFS<br />
            Station fictive<br />
            CH-1015 Lausanne<br/>
            <a href="http://plan.epfl.ch?unit=LTS">Show on campus map</a>
            </p>
          </div>
          <div class="box-col">
            Tel: +41 (0) 21 693 00 00<br/>
            Fax: +41 (0) 21 693 00 00
          </div>
        </div>
