    <a name="top"></a>
    <div id="accessibility" class="hidden" title="École Polytechnique Fédérale de Lausanne - Accès rapide">
      <ul>
        <li><a href="http://www.epfl.ch/accessibility.fr.shtml" title="Accès spécifique pour personnes handicapées" accesskey="0">Accessibilité</a></li>
        <li><a href="http://www.epfl.ch/" title="Page d'accueil de l'EPFL"  accesskey="1">Accueil</a></li>
        <li><a href="#navigation" accesskey="2">Navigation dans les sites de l'École</a></li>
        <li><a href="#main-navigation" accesskey="3">Navigation dans ce site</a></li>
        <li><a href="#search" id="searchlink" accesskey="4">Accès au champ de recherche</a></li>
        <li><a href="#content" accesskey="5">Début du contenu de la page</a></li>
        <li><a href="mailto:webmaster@epfl.ch" accesskey="9">Contact technique</a></li>
      </ul>
    </div>
    <div id="header">
      <div id="nav-logo"><a href="http://www.epfl.ch" title="Page d'accueil de l'EPFL"></a></div>
      <div id="nav-menus">
        <a name="navigation"></a>
        <ul id="main-menus">
          <li class="portal" style="float: left; height: 74px; width: 160px; position: relative; margin-right: 4px;">
          </li>
          <li class="school" style="float: left; height: 74px; width: 160px; position: relative; margin-right: 4px;">
          </li>
          <li class="short" style="float: left; height: 74px; width: 160px; position: relative;">
          </li>
        </ul>
      </div>
      
      <div class="local-color" id="nav-search">
        <div id="search-box">
          <a name="search"></a>
          <form name="search" action="http://search.epfl.ch/process_web2010" id="searchform">
            <input class="hidden" type="radio" name="engine" id="search-engine-person" value="person" checked="checked" title="Chercher une personne" />
            <label for="search-engine-person" class="current" title="Chercher une personne">Personne</label>
            <input class="hidden" type="radio" name="engine" id="search-engine-place" value="place" title="Chercher un lieu"/>
            <label for="search-engine-place" title="Chercher un lieu">Lieu</label>
            <input class="hidden" type="radio" name="engine" id="search-engine-epfl" value="epfl" title="Chercher dans toute l'EPFL"/>
            <label for="search-engine-epfl" title="Chercher dans toute l'EPFL">Web <acronym title="École Polytechnique Fédérale de Lausanne">EPFL</acronym></label>
            <input class="hidden" type="radio" name="engine" id="search-engine-local" value="local"  title="Chercher dans ce site"/>
            <label for="search-engine-local" title="Chercher dans ce site">Sur ce site</label>
            <input type="hidden" name="lang" value="fr" />
            <input type="text" class="search" name="q" value="" id="searchfield" /><button type="submit" class="search-button"  title="Rechercher">Rechercher</button>
          </form>
        </div>
      </div> 
      <div class="clear"></div>
    </div>
