    <a name="top"></a>
    <div id="accessibility" class="hidden" title="École Polytechnique Fédérale de Lausanne - Quick access">
      <ul>
        <li><a href="http://www.epfl.ch/accessibility.en.shtml" title="Specific informations for persons with disabilities" accesskey="0">Accessibility</a></li>
        <li><a href="http://www.epfl.ch/" title="EPFL's homepage"  accesskey="1">Homepage</a></li>
        <li><a href="#navigation" accesskey="2">Navigation within EPFL sites</a></li>
        <li><a href="#main-navigation" accesskey="3">Navigation within this site</a></li>
        <li><a href="#search" id="searchlink" accesskey="4">Jump to search field</a></li>
        <li><a href="#content" accesskey="5">Jump to page content</a></li>
        <li><a href="mailto:webmaster@epfl.ch" accesskey="9">Technical contact</a></li>
      </ul>
    </div>
    <div id="header">
      <div id="nav-logo">
        <a href="http://www.epfl.ch" title="EPFL homepage"><img src="//www.epfl.ch/img/epfl_small.png" /></a>
      </div>
      <div id="nav-menus">
        <a name="navigation" id="navigation"></a>
        <ul id="main-menus">
          <li class="portal" style="float: left; height: 60px; width: 160px; position: relative; margin-right: 4px;">
          </li>
          <li class="school" style="float: left; height: 60px; width: 160px; position: relative; margin-right: 4px;">
          </li>
          <li class="short" style="float: left; height: 60px; width: 160px; position: relative;">
          </li>
        </ul>
      </div>

      <div id="nav-search">
        <div id="search-box">
          <a name="search"></a>
          <form name="search" action="https://search.epfl.ch/?" class="searchform" id="header_searchform">
            <input type="text" class="search" name="q" value="" id="header_searchfield" />
            <button type="submit" class="search-button local-color"  title="Search">Search</button>
          </form>
        </div>
      </div>
      <div class="clear"></div>
    </div>
