<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Document sans nom</title>
<link href="../../css/epfl.css" rel="stylesheet" type="text/css" />
<link href="../../css/formation.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="box">
<h3>Formation</h3>
<!-------------------------------------------------------->
<div class="formation first">
<div class="bs img"><div class="icon"></div></div>
<div class="txt">
<ul>
<li><a href="">Informations g&eacute;n&eacute;rales</a></li>
<li><a href="">Etudes et financement</a></li>
<li><a href="">Demande d'admission</a></li>
</ul>
</div>
<div class="clear"></div>
</div>
<!-------------------------------------------------------->
<div class="formation">
<div class="ms img"><div class="icon"></div></div>
<div class="txt">
<ul>
<li><a href="">Informations g&eacute;n&eacute;rales</a></li>
<li><a href="">Etudes et financement</a></li>
<li><a href="">Demande d'admission</a></li>
</ul>
</div>
<div class="clear"></div>
</div>
<!-------------------------------------------------------->
<div class="formation">
<div class="phd img"><div class="icon"></div></div>
<div class="txt">
<ul>
<li><a href="">Informations g&eacute;n&eacute;rales</a></li>
<li><a href="">Etudes et financement</a></li>
<li><a href="">Demande d'admission</a></li>
</ul>
</div>
<div class="clear"></div>
</div>
<!-------------------------------------------------------->
<div class="clear"></div>
</div>
</body>
</html>
