    <a name="top"></a>
    <div id="accessibility" class="hidden" title="École Polytechnique Fédérale de Lausanne - Quick access">
      <ul>
        <li><a href="http://www.epfl.ch/accessibility.en.shtml" title="Specific informations for persons with disabilities" accesskey="0">Accessibility</a></li>
        <li><a href="http://www.epfl.ch/" title="EPFL's homepage"  accesskey="1">Homepage</a></li>
        <li><a href="#navigation" accesskey="2">Navigation within EPFL sites</a></li>
        <li><a href="#main-navigation" accesskey="3">Navigation within this site</a></li>
        <li><a href="#search" id="searchlink" accesskey="4">Jump to search field</a></li>
        <li><a href="#content" accesskey="5">Jump to page content</a></li>
        <li><a href="mailto:webmaster@epfl.ch" accesskey="9">Technical contact</a></li>
      </ul>
    </div>

    <div id="header2013">
      <div id="nav-logo">
        <a href="http://www.epfl.ch" title="EPFL homepage"><img src="//www.epfl.ch/img/epfl_small.png" /></a>
      </div>

      <div id="nav-menus">
        <a name="navigation"></a>
        <ul id="main-menus">
          <li class="portal menu" id="public-menu-link">
            <a class="main-link" href="http://www.epfl.ch/navigate.en.shtml" title="Navigate by profile"><span>You</span> are</a>
            <div class="navigation-panel hidden" id="public-panel">
              <ul>
                <li class="group-2-cols">
                  <h3><a href="http://futuretudiant.epfl.ch/en">Prospective students portal</a></h3>
                  <ul>
                    <li><a href="http://bachelor.epfl.ch/studies">Bachelor</a>, <a href="http://master.epfl.ch/page-94489-en.html">Master</a>, <a href="http://phd.epfl.ch/home">PhD</a></li>
                    <li><a href="http://futuretudiant.epfl.ch/mobility">Exchange student</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://studying.epfl.ch/en">Students portal</a></h3>
                  <ul>
                    <li><a href="http://studying.epfl.ch/student_desk">Student services</a></li>
                    <li><a href="http://memento.epfl.ch/academic-calendar/en">Academic calendar</a></li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3><a href="http://recherche.epfl.ch/en">Researchers portal</a></h3>
                  <ul>
                    <li><a href="http://research-office.epfl.ch/funding">Research funding</a></li>
                    <li><a href="http://actu.epfl.ch/search/research_awards/">Prizes and Awards</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://working.epfl.ch/staff-portal">Staff portal</a></h3>
                  <ul>
                    <li><a href="http://rh.epfl.ch">Human resources</a></li>
                    <li><a href="http://polylex.epfl.ch/page-26060-en.html">Polylex: laws, directives</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://entreprises.epfl.ch/business">Business portal</a></h3>
                  <ul>
                    <li><a href="http://vpi.epfl.ch/en">Innovation &amp; Tech Transfer</a></li>
                    <li><a href="http://vpi.epfl.ch/innovationpark">EPFL Innovation Park</a></li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3><a href="http://medias.epfl.ch/media-and-communications">Mediacorner</a></h3>
                  <ul>
                    <li><a href="http://actu.epfl.ch/search/mediacom/?keywords=&amp;date_filter=all&amp;projects=190&amp;search=Rechercher">Press releases</a></li>
                    <li><a href="http://mediacom.epfl.ch/epfl-magazine-en">EPFL Magazine</a></li>
                    <li><a href="http://mediatheque.epfl.ch/">Image library</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://teaching.epfl.ch/en">Teaching portal</a></h3>
                  <ul>
                    <li><a href="http://teaching.epfl.ch/cms/site/teaching/lang/en/preparer-un-cours_1">Courses management</a></li>
                    <li><a href="http://teaching.epfl.ch/my-students_1">Students management</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://epflalumni.ch/">EPFL Alumni Portal</a></h3>
                  <ul>
                    <li><a href="https://www.epflalumni.ch/avantages/formulaire-de-demande/">Join the community</a></li>
                    <li><a href="http://www.epflalumni.ch/nos-evenements/">Alumni events</a></li>
                  </ul>
                </li>
              </ul>
              <div class="clear"></div>
            </div>
          </li>

          <li class="school menu" id="school-menu-link">
            <a class="main-link" href="http://www.epfl.ch/navigate.en.shtml" title="Navigate by school"><span>By</span> school</a>
            <div class="navigation-panel hidden" id="school-panel">
              <ul>
                <li class="group-2-cols">
                  <h3><a href="http://enac.epfl.ch/en" class="enac">Architecture, Civil and Environmental Engineering <acronym title="Environnement Naturel, Architectural et Construit">ENAC</acronym></a></h3>
                  <ul>
                    <li><a href="http://enac.epfl.ch/en/architecture">Architecture</a></li>
                    <li><a href="http://enac.epfl.ch/civil-engineering">Civil Engineering</a></li>
                    <li><a href="http://enac.epfl.ch/environmental-engineering">Environmental Engineering</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://sb.epfl.ch/en" class="sb">Basic Sciences <acronym title="Sciences de Base">SB</acronym></a></h3>
                  <ul>
                    <li><a href="http://sb.epfl.ch/chemistry">Chemistry and Chemical Engineering</a></li>
                    <li><a href="http://sb.epfl.ch/mathematics">Mathematics</a></li>
                    <li><a href="http://sb.epfl.ch/physics">Physics</a></li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3><a href="http://sti.epfl.ch/en" class="sti">Engineering <acronym title="Sciences et Techniques de l'Ingénieur">STI</acronym></a></h3>
                  <ul>
                    <li><a href="http://sti.epfl.ch/electrical-engineering">Electrical Engineering</a></li>
                    <li><a href="http://sti.epfl.ch/mechanical-engineering">Mechanical Engineering</a></li>
                    <li><a href="http://sti.epfl.ch/materials-science-and-engineering">Materials Science and Engineering</a></li>
                    <li><a href="http://sti.epfl.ch/microengineering">Microengineering</a></li>
                    <li><a href="http://ibi.epfl.ch/">Bioengineering</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://ic.epfl.ch/en" class="ic">Computer and Communication Sciences <acronym title="Computer &amp; Communication Sciences">IC</acronym></a></h3>
                  <ul>
                    <li><a href="http://ic.epfl.ch/computer-science">Computer Science</a></li>
                    <li><a href="http://ic.epfl.ch/communication-systems">Communication Systems</a></li>
                    <li><a href="http://ic.epfl.ch/data-science">Data Science</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://sv.epfl.ch/home" class="sv">Life Sciences <acronym title="Sciences de la Vie">SV</acronym></a></h3>
                  <ul>
                    <li><a href="http://bioengineering.epfl.ch/">Bioengineering</a></li>
                    <li><a href="http://sv.epfl.ch/BMI">Neuroscience Brain Mind &amp; Blue Brain</a></li>
                    <li><a href="http://sv.epfl.ch/GHI">Global Health</a></li>
                    <li><a href="http://sv.epfl.ch/ISREC">Cancer</a></li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3><a href="http://cdm.epfl.ch/homepage" class="cdm">Management of Technology <acronym title="Collège du Management de la Technologie">CDM</acronym></a></h3>
                  <ul>
                    <li><a href="http://cdm.epfl.ch/mtei">Management, Technology &amp; Entrepreneurship</a></li>
                    <li><a href="http://cdm.epfl.ch/itpp">Technology and Public Policy</a></li>
                    <li><a href="http://sfi.epfl.ch">Swiss Finance Institute</a></li>
                  </ul>
                </li>
                <li class="group-2-cols" style="clear:left">
                  <h3><a href="http://cdh.epfl.ch/en" class="cdh">College of Humanities <acronym title="Collège des Humanités">CDH</acronym></a></h3>
                  <ul>
                    <li><a href="http://cdh.epfl.ch/humanities-and-social-sciences">Human and Social Science</a></li>
                    <li><a href="http://iags.epfl.ch">Area and Global Studies</a></li>
                    <li><a href="http://cdh.epfl.ch/dh">Digital Humanities</a></li>
                  </ul>
                </li>
              </ul>
              <div class="clear"></div>
            </div>
          </li>

          <li class="short menu" id="brief-menu-link">
            <a class="main-link" href="http://www.epfl.ch/navigate.en.shtml"><span>about</span> EPFL</a>
            <div class="navigation-panel hidden" id="brief-panel">
              <ul>
                <li class="group-2-cols">
                  <h3><a href="http://information.epfl.ch/introduction"><acronym title="École polytechnique fédérale de Lausanne">EPFL</acronym></a></h3>
                  <ul>
                    <li><a href="http://direction.epfl.ch/en/presentation">Direction</a></li>
                    <li><a href="http://library.epfl.ch/en">Library</a></li>
                    <li><a href="http://emploi.epfl.ch/en">Job offers</a></li>
                    <li><a href="http://international.epfl.ch/homepage">International relations</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://futuretudiant.epfl.ch/en">Education</a></h3>
                  <ul>
                    <li><a href="http://cms.epfl.ch/">Preparatory course <acronym title="Cours de Mathématiques Spéciales">CMS</acronym></a></li>
                    <li><a href="http://bachelor.epfl.ch/studies">Bachelor</a>, <a href="http://master.epfl.ch/en">Master</a>, <a href="http://phd.epfl.ch/home">PhD</a></li>
                    <li><a href="http://www.formation-continue-unil-epfl.ch/en">Continuing education</a> (EPFL-UNIL)</li>
                    <li><a href="http://moocs.epfl.ch/information">MOOCS</a></li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3><a href="http://recherche.epfl.ch/home">Research</a></h3>
                  <ul>
                    <li><a href="http://research-office.epfl.ch/home">Research Office</a></li>
                    <li><a href="http://recherche.epfl.ch/research-commission">Research Commission</a></li>
                    <li><a href="http://recherche.epfl.ch/centers">Research centers</a></li>
                    <li><a href="http://infoscience.epfl.ch/?ln=en"><acronym title="École polytechnique fédérale de Lausanne">EPFL</acronym> Publications</a></li>
                  </ul>
                </li>
                <li class="group-2-cols" style="clear: left;">
                  <h3><a href="http://vpi.epfl.ch/en">Innovation &amp; Tech Transfer</a></h3>
                  <ul>
                    <li><a href="http://vpi.epfl.ch/partnerships">Partnerships</a></li>
                    <li><a href="http://vpi.epfl.ch/innogrants">Start-up</a></li>
                    <li><a href="http://www.alliance-tt.ch">Industrial liaison</a></li>
                    <li><a href="http://tto.epfl.ch/hompage_eng">Technology transfer, patents</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://information.epfl.ch/discover-campus">EPFL Campus</a></h3>
                  <ul>
                    <li><a href="http://fribourg.epfl.ch/en/home">Fribourg</a>, <a href="http://geneva.epfl.ch/page-121741-en.html">Geneva</a>, <a href="http://neuchatel.epfl.ch/page-121739-en.html">Neuchâtel</a>, <a href="http://valais.epfl.ch/Homepage">Valais</a></li>
                    <li><a href="http://rolexlearningcenter.epfl.ch/page-34751-en.html">Rolex Learning Center</a></li>
                    <li><a href="http://www.stcc.ch/en/home/">SwissTech Convention Center</a></li>
                    <li><a href="http://artlab.epfl.ch/home">ArtLab</a></li>
                  </ul>
                </li>
              </ul>
              <div class="clear"></div>
            </div>
          </li>
        </ul>
      </div>

      <div id="nav-search">
        <div id="search-box">
          <a name="search"></a>
          <form name="search" action="https://search.epfl.ch/process_web2010" class="searchform" id="header_searchform">
            <input type="hidden" name="lang" value="en" />
            <input type="hidden" name="as_site_search" value="" id="header_local_site" />
            <input type="text" class="search" name="q" value="" id="header_searchfield" />
            <div class="search-filter">
              <a href="#" class="selected-field">Directory</a>
              <ul class="menu hidden">
                <li>
                  <input class="hidden" type="radio" name="engine" id="search-engine-person" value="person" checked="checked" title="Find a person" />
                  <label for="search-engine-person" class="current" title="Find a person">Directory</label>
                </li>
                <li>
                  <input class="hidden" type="radio" name="engine" id="search-engine-epfl" value="epfl" title="Search within EPFL sites"/>
                  <label for="search-engine-epfl" title="Search within EPFL sites">EPFL websites</label>
                </li>
                <li>
                  <input class="hidden" type="radio" name="engine" id="search-engine-place" value="place" title="Find a place"/>
                  <label for="search-engine-place" title="Find a place">Place</label>
                </li>
                <li>
                  <input class="hidden" type="radio" name="engine" id="search-engine-eduweb" value="eduweb" title="Find courses"/>
                  <label for="search-engine-eduweb" title="Find courses">Courses</label>
                </li>
                <li>
                  <input class="hidden" type="radio" name="engine" id="search-engine-publication" value="publication" title="Find publications"/>
                  <label for="search-engine-publication" title="Find publications">Publications</label>
                </li>
                <li>
                  <input class="hidden" type="radio" name="engine" id="search-engine-actuweb" value="actuweb" title="Find news"/>
                  <label for="search-engine-actuweb" title="Find news">News</label>
                </li>
                <li>
                  <input class="hidden" type="radio" name="engine" id="search-engine-unit" value="unit" title="Find EPFL units"/>
                  <label for="search-engine-unit" title="Find EPFL units">EPFL units</label>
                </li>

              </ul>
            </div>
            <button type="submit" class="search-button local-color"  title="Search">Search</button>
          </form>
        </div>
      </div>
      <div class="clear"></div>
    </div>
