    <a name="top"></a>
    <div id="accessibility" class="hidden" title="École Polytechnique Fédérale de Lausanne - Accès rapide">
      <ul>
        <li><a href="//www.epfl.ch/accessibility.fr.shtml" title="Accès spécifique pour personnes handicapées" accesskey="0">Accessibilité</a></li>
        <li><a href="//www.epfl.ch/" title="Page d'accueil de l'EPFL"  accesskey="1">Accueil</a></li>
        <li><a href="#navigation" accesskey="2">Navigation dans les sites de l'École</a></li>
        <li><a href="#main-navigation" accesskey="3">Navigation dans ce site</a></li>
        <li><a href="#search" id="searchlink" accesskey="4">Accès au champ de recherche</a></li>
        <li><a href="#content" accesskey="5">Début du contenu de la page</a></li>
        <li><a href="mailto:webmaster@epfl.ch" accesskey="9">Contact technique</a></li>
      </ul>
    </div>


    <div id="header2013">
      <div id="nav-logo">
        <a href="//www.epfl.ch" title="Page d'accueil de l'EPFL"><img src="//www.epfl.ch/img/epfl_small.png" /></a>
      </div>

      <div id="nav-menus">
        <a name="navigation"></a>
        <ul id="main-menus">
          <li class="portal menu" id="public-menu-link">
            <a class="main-link" href="//www.epfl.ch/navigate.fr.shtml" title="Navigation par public cible"><span>Par</span>public</a>
            <div class="navigation-panel hidden" id="public-panel">
              <ul>
                <li class="group-2-cols">
                  <h3><a href="//futuretudiant.epfl.ch/fr">Portail Futurs Étudiants</a></h3>
                  <ul>
                    <li><a href="//bachelor.epfl.ch/etudes">Bachelor</a>, <a href="//master.epfl.ch/fr">Master</a>, <a href="//phd.epfl.ch/accueil">Doctorat</a></li>
                    <li><a href="//futuretudiant.epfl.ch/fr/mobilite/">Étudiants en échange</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="//studying.epfl.ch/portail-etudiants">Portail Étudiants</a></h3>
                  <ul>
                    <li><a href="//studying.epfl.ch/guichet_etudiants">Guichet étudiants</a></li>
                    <li><a href="//memento.epfl.ch/academic-calendar/">Calendrier académique</a></li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3><a href="//recherche.epfl.ch/">Portail Chercheurs</a></h3>
                  <ul>
                    <li><a href="//research-office.epfl.ch/financements">Sources de financement</a></li>
                    <li><a href="//actu.epfl.ch/search/research_awards/">Prix et distinctions</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="//working.epfl.ch/portail-collaborateurs">Portail Collaborateurs</a></h3>
                  <ul>
                    <li><a href="//rh.epfl.ch">Ressources humaines</a></li>
                    <li><a href="//polylex.epfl.ch/page-26060-fr.html">Polylex: lois, directives</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="//entreprises.epfl.ch/fr">Portail Entreprises</a></h3>
                  <ul>
                    <li><a href="//vpi.epfl.ch/fr">Innovation &amp; valorisation</a></li>
                    <li><a href="//vpi.epfl.ch/innovationpark_fr">EPFL Innovation Park</a></li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3><a href="//medias.epfl.ch/fr">Portail Médias</a></h3>
                  <ul>
                    <li><a href="//actu.epfl.ch/search/mediacom/?keywords=&amp;date_filter=all&amp;projects=190&amp;search=Rechercher">Communiqués de presse</a></li>
                    <li><a href="//mediacom.epfl.ch/epfl-magazine">EPFL Magazine</a></li>
                    <li><a href="//mediatheque.epfl.ch/">Banque d'images</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="//teaching.epfl.ch/fr">Portail Enseignants</a></h3>
                  <ul>
                    <li>Gestion des <a href="//teaching.epfl.ch/cms/site/teaching/lang/fr/preparer-un-cours_1">cours</a> et des <a href="//teaching.epfl.ch/mes-etudiants_1">étudiants</a></li>
                    <li><a href="//gymnases.epfl.ch">Interface Gymnases</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="//www.epflalumni.ch/">Portail EPFL Alumni</a></h3>
                  <ul>
                    <li><a href="//www.epflalumni.ch/avantages/formulaire-de-demande/">Rejoindre la communauté</a></li>
                    <li><a href="//www.epflalumni.ch/nos-evenements/">Evénements Alumni</a></li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3><a href="//artlab.epfl.ch/accueil">Portail Sciences et Société</a></h3>
                  <ul>
                    <li><a href="//sps.epfl.ch/accueil">Promotion des sciences</a></li>
                    <li><a href="//artlab.epfl.ch/accueil">Culture/Art/Science - ArtLab</a></li>
                  </ul>
                </li>
              </ul>
              <div class="clear"></div>
            </div>
          </li>

          <li class="school menu" id="school-menu-link">
            <a class="main-link" href="//www.epfl.ch/navigate.fr.shtml" title="Navigation par faculté EPFL"><span>Par</span>faculté</a>
            <div class="navigation-panel hidden" id="school-panel">
              <ul>
                <li class="group-2-cols">
                  <h3><a href="//enac.epfl.ch/fr" class="enac">Environnement Naturel, Architectural et Construit <acronym title="Environnement Naturel, Architectural et Construit">ENAC</acronym></a></h3>
                  <ul>
                    <li><a href="//enac.epfl.ch/architecture">Architecture</a></li>
                    <li><a href="//enac.epfl.ch/ingenierie-civile">Ingénierie civile</a></li>
                    <li><a href="//enac.epfl.ch/ingenierie-de-l-environnement">Ingénierie de l'environnement</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="//sb.epfl.ch/fr" class="sb">Sciences de Base <acronym title="Sciences de Base">SB</acronym></a></h3>
                  <ul>
                    <li><a href="//sb.epfl.ch/chimie">Chimie et génie chimique</a></li>
                    <li><a href="//sb.epfl.ch/mathematiques">Mathématiques</a></li>
                    <li><a href="//sb.epfl.ch/physique">Physique</a></li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3><a href="//sti.epfl.ch/fr" class="sti">Sciences et Techniques de l'Ingénieur <acronym title="Sciences et Techniques de l'Ingénieur">STI</acronym></a></h3>
                  <ul>
                    <li><a href="//sti.epfl.ch/genie-electrique-et-electronique">Génie électrique et électronique</a></li>
                    <li><a href="//sti.epfl.ch/genie-mecanique">Génie mécanique</a></li>
                    <li><a href="//sti.epfl.ch/science-et-genie-des-materiaux">Science et génie des matériaux</a></li>
                    <li><a href="//sti.epfl.ch/microtechnique">Microtechnique</a></li>
                    <li><a href="//ibi.epfl.ch/">Bioengineering</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="//ic.epfl.ch/fr" class="ic">Informatique et Communications <acronym title="Informatique et Communications">IC</acronym></a></h3>
                  <ul>
                    <li><a href="//ic.epfl.ch/informatique">Informatique</a></li>
                    <li><a href="//ic.epfl.ch/syscom">Systèmes de communication</a></li>
                    <li><a href="//ic.epfl.ch/science-donnees">Data Science</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="//sv.epfl.ch/fr" class="sv">Sciences de la Vie <acronym title="Sciences de la Vie">SV</acronym></a></h3>
                  <ul>
                    <li><a href="//bioengineering.epfl.ch/">Bioingénierie</a></li>
                    <li><a href="//sv.epfl.ch/neurosciences">Neurosciences Brain Mind &amp; Blue Brain</a></li>
                    <li><a href="//sv.epfl.ch/infectiologie">Infectiologie</a></li>
                    <li><a href="//sv.epfl.ch/isrec">Cancer</a></li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3><a href="//cdm.epfl.ch/accueil" class="cdm">Collège du Management de la Technologie <acronym title="Collège du Management de la Technologie">CDM</acronym></a></h3>
                  <ul>
                    <li><a href="//cdm.epfl.ch/page-116734-fr.html">Management de la Technologie</a></li>
                    <li><a href="//cdm.epfl.ch/page-116778-fr.html">Technologie et politiques publiques</a></li>
                    <li><a href="//sfi.epfl.ch">Ingénierie financière</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="//cdh.epfl.ch/fr" class="cdh">Collège des Humanités <acronym title="Collège des Humanités">CDH</acronym></a></h3>
                  <ul>
                    <li><a href="//cdh.epfl.ch/shs">Sciences humaines et sociales</a></li>
                    <li><a href="//iags.epfl.ch">Area and Global Studies</a></li>
                    <li><a href="//cdh.epfl.ch/dh-fr">Humanités digitales</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://www.epfl.ae" class="ae">EPFL Middle East</a></h3>
                  <ul>
                    <li><a href="//master.epfl.ch/energie">Gestion de l'énergie et durabilité</a></li>
                  </ul>
                </li>
              </ul>
              <div class="clear"></div>
            </div>
          </li>

          <li class="short menu" id="brief-menu-link">
            <a class="main-link" href="//www.epfl.ch/navigate.fr.shtml" title="Navigation dans la structure de l'EPFL"><acronym title="École Polytechnique Fédérale de Lausanne">EPFL</acronym> en bref</a>
            <div class="navigation-panel hidden" id="brief-panel">
              <ul>
                <li class="group-2-cols">
                  <h3><a href="//information.epfl.ch/presentation"><acronym title="École Polytechnique Fédérale de Lausanne">EPFL</acronym></a></h3>
                  <ul>
                    <li><a href="//direction.epfl.ch/presentation">Direction</a></li>
                    <li><a href="//library.epfl.ch">Bibliothèque</a></li>
                    <li><a href="//emploi.epfl.ch/fr">Offres d'emploi</a></li>
                    <li><a href="//international.epfl.ch/accueil">Relations internationales</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="//futuretudiant.epfl.ch/fr">Formations</a></h3>
                  <ul>
                    <li><a href="//cms.epfl.ch"><acronym title="Cours de Mathématiques Spéciales">CMS</acronym> Cours Préparatoire</a></li>
                    <li><a href="//bachelor.epfl.ch/etudes">Bachelor</a>, <a href="//master.epfl.ch/fr">Master</a>, <a href="//phd.epfl.ch/accueil">Ecole doctorale</a></li>
                    <li><a href="http://www.formation-continue-unil-epfl.ch/">Formation continue</a> (EPFL-UNIL)</li>
                    <li><a href="//moocs.epfl.ch/cede">MOOCS</a></li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3><a href="//recherche.epfl.ch/accueil">Recherche</a></h3>
                  <ul>
                    <li><a href="//research-office.epfl.ch/fr">Research Office</a></li>
                    <li><a href="//recherche.epfl.ch/fr/research-commission">Commission de la recherche</a></li>
                    <li><a href="//recherche.epfl.ch/centres">Centres de recherche</a></li>
                    <li><a href="//infoscience.epfl.ch/?ln=fr">Publications <acronym title="École polytechnique fédérale de Lausanne">EPFL</acronym></a></li>
                  </ul>
                </li>
                <li class="group-2-cols" style="clear: left;">
                  <h3><a href="//vpi.epfl.ch/fr">Innovation &amp; Valorisation</a></h3>
                  <ul>
                    <li><a href="//vpi.epfl.ch/partenariats">Partenariats</a></li>
                    <li><a href="//vpi.epfl.ch/innogrant">Soutien aux start-ups</a></li>
                    <li><a href="http://www.alliance-tt.ch">Liaison industrielle</a></li>
                    <li><a href="//tto.epfl.ch/homepage">Transfert de technologies, brevets</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="//information.epfl.ch/batiments">Campus EPFL</a></h3>
                  <ul>
                    <li><a href="//fribourg.epfl.ch/fr/home">Fribourg</a>, <a href="//geneva.epfl.ch/page-121741-fr.html">Genève</a>, <a href="//neuchatel.epfl.ch/fr">Neuchâtel</a>, <a href="//valais.epfl.ch/Home">Valais</a></li>
                    <li><a href="//rolexlearningcenter.epfl.ch/presentation">Rolex Learning Center</a></li>
                    <li><a href="//www.stcc.ch/home/">SwissTech Convention Center</a></li>
                    <li><a href="//artlab.epfl.ch/accueil">ArtLab</a></li>
                  </ul>
                </li>
              </ul>
              <div class="clear"></div>
            </div>
          </li>
        </ul>
      </div>

      <div id="nav-search">
        <div id="search-box">
          <a name="search"></a>
          <form name="search" action="https://search.epfl.ch/?" class="searchform" id="header_searchform">
            <input type="text" class="search" name="q" value="" autocomplete="off" id="header_searchfield" />
            <button type="submit" class="search-button local-color"  title="Rechercher">Rechercher</button>
          </form>
        </div>
      </div>
      <div class="clear"></div>
    </div>
