    <a name="top"></a>
    <div id="accessibility" class="hidden" title="École Polytechnique Fédérale de Lausanne - Accès rapide">
      <ul>
        <li><a href="http://www.epfl.ch/accessibility.fr.shtml" title="Accès spécifique pour personnes handicapées" accesskey="0">Accessibilité</a></li>
        <li><a href="http://www.epfl.ch/" title="Page d'accueil de l'EPFL"  accesskey="1">Accueil</a></li>
        <li><a href="#navigation" accesskey="2">Navigation dans les sites de l'École</a></li>
        <li><a href="#main-navigation" accesskey="3">Navigation dans ce site</a></li>
        <li><a href="#search" id="searchlink" accesskey="4">Accès au champ de recherche</a></li>
        <li><a href="#content" accesskey="5">Début du contenu de la page</a></li>
        <li><a href="mailto:webmaster@epfl.ch" accesskey="9">Contact technique</a></li>
      </ul>
    </div>
    <div id="header">
      <div id="nav-logo"><a href="http://www.epfl.ch" title="Page d'accueil de l'EPFL"></a></div>
      <div id="nav-menus">
        <a name="navigation"></a>
        <ul id="main-menus">
          <li class="portal menu" id="public-menu-link">
            <a class="main-link" href="http://www.epfl.ch/navigate.fr.shtml" title="Navigation par public cible"><span>Par</span> public</a>
            <div class="navigation-panel hidden" id="public-panel">
              <ul>
                <li class="group-2-cols">
                  <h3><a href="http://futuretudiant.epfl.ch/">Futur Étudiant</a></h3>
                  <ul>
                    <li><a href="http://www.epfl.ch/epfl-virtual-tour/virtual-tour.html">EPFL en images</a></li>
                    <li><a href="http://sae.epfl.ch/page23143.html">Étudiants en échange</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://studying.epfl.ch/">Étudiant</a></h3>
                  <ul>
                    <li><a href="http://formation.epfl.ch/page25189-fr.html">Guichet étudiants</a></li>
                    <li><a href="http://sac.epfl.ch/page19672-fr.html">Calendrier académique</a></li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3><a href="http://recherche.epfl.ch/">Chercheur</a></h3>
                  <ul>
                    <li><a href="http://grantsoffice.epfl.ch/">Financement de la recherche</a></li>
                    <li><a href="http://phd.epfl.ch/page82971-fr.html">Doctorat à l'EPFL</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://working.epfl.ch/">Collaborateur</a></h3>
                  <ul>
                    <li><a href="http://rh.epfl.ch">Ressources humaines</a></li>
                    <li><a href="http://help.epfl.ch/">Aide</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://entreprises.epfl.ch/">Entreprise</a></h3>
                  <ul>
                    <li><a href="http://vpiv.epfl.ch/">Innovation &amp; valorisation</a></li>
                    <li><a href="http://vpiv.epfl.ch/page37020-fr.html">Quartier de l'innovation</a></li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3><a href="http://medias.epfl.ch/">Média</a></h3>
                  <ul>
                    <li><a href="http://actu.epfl.ch/">Communiqués de presse, Reflex, Flash</a></li>
                    <li><a href="http://mediatheque.epfl.ch/">Banque d'images</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://a3.epfl.ch/">Alumni A3-EPFL</a></h3>
                  <ul>
                    <li><a href="http://www2.epfl.ch/a3/page77902-fr.html">Devenir membre</a></li>
                    <li><a href="http://www2.epfl.ch/a3/page74871-fr.html">Agenda A3</a></li>
                  </ul>
                </li>
              </ul>
              <div class="clear"></div>
            </div>
          </li>
          <li class="school menu" id="school-menu-link">
            <a class="main-link" href="http://www.epfl.ch/navigate.fr.shtml" title="Navigation par faculté EPFL"><span>Par</span> faculté</a>
            <div class="navigation-panel hidden" id="school-panel">
              <ul>
                <li class="group-2-cols">
                  <h3><a href="http://enac.epfl.ch/" class="enac">Environnement Naturel, Architectural et Construit <acronym title="Environnement Naturel, Architectural et Construit">ENAC</acronym></a></h3>
                  <ul>
                    <li>Architecture</li>
                    <li>Génie civil</li>
                    <li>Environnement</li>
                    <li>Territoire</li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://sb.epfl.ch/" class="sb">Sciences de Base <acronym title="Sciences de Base">SB</acronym></a></h3>
                  <ul>
                    <li>Chimie</li>
                    <li>Mathématiques</li>
                    <li>Physique</li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3><a href="http://sti.epfl.ch/" class="sti">Sciences et Techniques de l'Ingénieur <acronym title="Sciences et Techniques de l’Ingénieur">STI</acronym></a></h3>
                  <ul>
                    <li>Génie électrique et électronique</li>
                    <li>Génie mécanique</li>
                    <li>Science et génie des matériaux</li>
                    <li>Microtechnique</li>
                    <li>Bioengineering</li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://ic.epfl.ch/" class="ic">Informatique &amp; Communications <acronym title="Informatique &amp; Communications">I&amp;C</acronym></a></h3>
                  <ul>
                    <li>Informatique</li>
                    <li>Systèmes de communication</li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://sv.epfl.ch/" class="sv">Sciences de la Vie <acronym title="Sciences de la Vie">SV</acronym></a></h3>
                  <ul>
                    <li>Bioingénierie</li>
                    <li>Neurosciences Brain Mind &amp; Blue Brain</li>
                    <li>Infectiologie</li>
                    <li>Cancer</li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3><a href="http://cdm.epfl.ch/" class="cdm">Collège du Management de la Technologie <acronym title="Collège du Management de la Technologie">CDM</acronym></a></h3>
                  <ul>
                    <li>Management de la Technologie</li>
                    <li>Ingénierie financière</li>
                  </ul>
                </li>
                <li class="group-2-cols" style="clear:left;">
                  <h3><a href="http://cdh.epfl.ch/" class="cdh">Collège des Humanités <acronym title="Collège des Humanités">CDH</acronym></a></h3>
                  <ul>
                    <li>Sciences humaines et sociales</li>
                    <li>Area &amp; cultural studies</li>
                  </ul>  
                </li>
              </ul>
            </div>
          </li>
          <li class="short menu" id="brief-menu-link">
            <a class="main-link" href="http://www.epfl.ch/navigate.fr.shtml" title="Navigation dans la structure de l'EPFL"><span><acronym title="École Polytechnique Fédérale de Lausanne">EPFL</acronym></span> en bref</a>
            <div class="navigation-panel hidden" id="brief-panel">
              <ul>
                <li class="group-2-cols">
                  <h3><a href="http://presentation.epfl.ch"><acronym title="École Polytechnique Fédérale de Lausanne">EPFL</acronym></a></h3>
                  <ul>
                    <li><a href="http://direction.epfl.ch">Direction</a></li>
                    <li><a href="http://www.epfl.ch/organigrammes">Structure EPFL</a></li>
                    <li><a href="http://information.epfl.ch">Accueil et Information</a></li>
                    <li><a href="http://library.epfl.ch">Bibliothèque</a></li>
                    <li><a href="http://www5.epfl.ch/emplois/">Offres d'emploi</a></li>
			        <li><a href="http://vpai.epfl.ch">Collaborations nationales</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://formation.epfl.ch">Formations</a></h3>
                  <ul>
                    <li><a href="http://cms.epfl.ch"><acronym title="Cours de Mathématiques Spéciales">CMS</acronym> Cours Préparatoire</a></li>
                    <li><a href="http://bachelor.epfl.ch">Bachelor</a></li>
                    <li><a href="http://master.epfl.ch">Master</a></li>
                    <li><a href="http://phd.epfl.ch">École doctorale</a></li>
                    <li><a href="http://continuing-education.epfl.ch">Formation continue</a> (Fondation EPFL-UNIL)</li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3><a href="http://recherche.epfl.ch">Recherche</a></h3>
                  <ul>
                    <li><a href="http://vpiv.epfl.ch/page20447-fr.html">Centres interdisciplinaires</a></li>
                    <li><a href="http://grantsoffice.epfl.ch/">Grants office</a></li>
                    <li><a href="http://vpaa.epfl.ch/page14808-fr.html">Commission de la recherche</a></li>
                    <li><a href="http://infoscience.epfl.ch/?ln=fr">Publications <acronym title="École Polytechnique Fédérale de Lausanne">EPFL</acronym></a></li>
                  </ul>
                </li>
                <li class="group-2-cols" style="clear: left;">
                  <h3><a href="http://vpiv.epfl.ch">Innovation &amp; Valorisation</a></h3>
                  <ul>
                    <li><a href="http://vpiv.epfl.ch/page20451-fr.html">Partenariats</a></li>
                    <li><a href="http://vpiv.epfl.ch/page20576-fr.html">Soutien aux start-ups</a></li>
                    <li><a href="http://www.alliance-tt.ch">Liaison industrielle</a></li>
                    <li><a href="http://sri.epfl.ch/">Transfert de technologies, brevets</a></li>
                  </ul>
                </li>
                <li class="group-2-cols" >
                  <h3><a href="http://vpai.epfl.ch">International</a></h3>
                  <ul>
                    <li><a href="http://www.epfl.ae">EPFL Middle East</a></li>
                    <li><a href="http://cooperation.epfl.ch">Coopération</a></li>
                  </ul>
                </li>
              </ul>
              <div class="clear"></div>
            </div>
          </li>
        </ul>
      </div>
      
      <div class="local-color" id="nav-search">
        <div id="search-box">
          <a name="search"></a>
          <form name="search" action="http://search.epfl.ch/process_web2010" id="searchform">
            <input class="hidden" type="radio" name="engine" id="search-engine-person" value="person" checked="checked" title="Chercher une personne" />
            <label for="search-engine-person" class="current" title="Chercher une personne">Personne</label>
            <input class="hidden" type="radio" name="engine" id="search-engine-place" value="place" title="Chercher un lieu"/>
            <label for="search-engine-place" title="Chercher un lieu">Lieu</label>
            <input class="hidden" type="radio" name="engine" id="search-engine-epfl" value="epfl" title="Chercher dans toute l'EPFL"/>
            <label for="search-engine-epfl" title="Chercher dans toute l'EPFL">Web <acronym title="École Polytechnique Fédérale de Lausanne">EPFL</acronym></label>
            <input class="hidden" type="radio" name="engine" id="search-engine-local" value="local"  title="Chercher dans ce site"/>
            <label for="search-engine-local" title="Chercher dans ce site">Sur ce site</label>
            <input type="hidden" name="lang" value="fr" />
            <input type="text" class="search" name="q" value="" id="searchfield" /><button type="submit" class="search-button"  title="Rechercher">Rechercher</button>
          </form>
        </div>
      </div> 
      <div class="clear"></div>
    </div>
