    <div id="maincontent">
      <ul title="Latest news" class="grid-layout">
      <li class="heading-news">
          <a href="actualited.epfl.ch" title="Read more">
            <img src="./img/1.jpg" class="news-img"/>
          </a>
          <div class="news-text">
            <a href="actualite.epfl.ch/1" title="Read more">Structural similarities between biogenic uranities bla bla fsdbhfds hfsdhjhfs dhfsdfu hsduhfuhdushf shudfhosdhihi</a>
          </div>
        </li>

       <li>
        <a href="actualited.epfl.ch" title="Read more">
          <img src="./img/3.jpg" class="news-img"/>
          </a>
        </li>
        <li>
        <a href="actualited.epfl.ch" title="Read more">
          <img src="./img/2.jpg" class="news-img"/>
          </a>
        </li>        
        
        <li>
        <a href="actualited.epfl.ch" title="Read more">
          <img src="./img/4.jpg" class="news-img"/>
          </a>
        </li>
        <li>
        <a href="actualited.epfl.ch" title="Read more">
          <img src="./img/5.jpg" class="news-img"/>
          </a>
        </li>
        
        <li>
        <a href="actualited.epfl.ch" title="Read more">
          <img src="./img/6.jpg" class="news-img"/>
          </a>
        </li>
        <li>
        <a href="actualited.epfl.ch" title="Read more">
          <img src="./img/7.jpg" class="news-img"/>
          </a>
        </li>
        
        <li>
        <a href="actualited.epfl.ch" title="Read more">
          <img src="./img/8.jpg" class="news-img"/>
          </a>
        </li>
        <li>
        <a href="actualited.epfl.ch" title="Read more">
          <img src="./img/9.jpg" class="news-img"/>
          </a>
        </li>
        <li>
        <a href="actualited.epfl.ch" title="Read more">
          <img src="./img/10.jpg" class="news-img"/>
          </a>
        </li>
        <li>
        <a href="actualited.epfl.ch" title="Read more">
          <img src="./img/11.jpg" class="news-img"/>
          </a>
        </li>
        <li>
        <a href="actualited.epfl.ch" title="Read more">
          <img src="./img/12.jpg" class="news-img"/>
          </a>
        </li>        
        <li>
        <a href="actualited.epfl.ch" title="Read more">
          <img src="./img/13.jpg" class="news-img"/>
          </a>
        </li>        
      </ul>
      <div class="right-col">
        <div class="unit-col">
          <div class="unit-cell portal">
            <h2>10:35</h2>
            <p>
              18.03.10<br />
              Lausanne CH
            </p>
          </div>
          <div class="unit-cell school">
            <ul>
              <li>Jobs</li>
              <li>Information</li>
              <li>All Services</li>
              <li>Library</li>
              <li>Associates</li>
              <li>Student guide</li>
            </ul>
          </div>
          <div class="unit-2-cells last-cell short">
            <h2>Question de sciences</h2>
            <p>Quel est le temps d'incubation moyen de la grippe A?</p>
            <ul>
              <li>Moins d'un jour</li>
              <li>Entre 2 et 7 jours</li>
              <li>10 jours</li>
            </ul>
          </div>
        </div>
        <div class="unit-col last-col">
          <div class="unit-3-cells contrast">
            <ul>
              <li>Media &amp; actualit&eacute;s</li>
              <li>Enseignement</li>
              <li>Recherche</li>
              <li>Transfert de technologies</li>
            </ul>
          </div>
          <div class="unit-cell last-cell looking">
            <h2>03.03</h2>
            <p>Inauguration du Rolex Learning Center</p>
          </div>
        </div>
      </div>
      <div style="clear:both"></div>
    </div>
