        <ul title="Latest news" class="news-list list-layout">
          <li class="heading-news">
            <img src="../img/1.jpg" class="news-img" alt=""/>
            <div class="news-text">
              <h2>Bertrand Piccard strikes back: a new hope</h2>
              <p><span class="date">3.12.09</span>Having participated in the Breitling Orbiter adventure, Bertrand Piccard learned... <a href="actu.epfl.ch" title="The role of perspective functions in convexity, polyconvexity -  full article" class="read-more"></a></p>
            </div>
          </li>
          <li>
            <img src="../img/2.jpg" class="news-img" alt=""/>
            <div class="news-text">
              <h2><a href="../actualites.epfl.ch">The role of perspective functions in convexity</a></h2>
              <p><span class="date">3.12.09</span>Having participated in the Breitling Orbiter adventure... <a href="actu.epfl.ch" title="The role of perspective functions in convexity, polyconvexity -  full article" class="read-more"></a></p>
            </div>
          </li>
          <li>
            <img src="../img/3.jpg" class="news-img" alt=""/>
            <div class="news-text">
              <h2>Source and channel coding using Fountain codes</h2>
              <p><span class="date">3.12.09</span>Having participated in the Breitling Orbiter adventure... <a href="actu.epfl.ch" title="The role of perspective functions in convexity, polyconvexity -  full article" class="read-more"></a></p>
            </div>
          </li>
          <li>
            <img src="../img/6.jpg" class="news-img" alt=""/>
            <div class="news-text">
              <h2>A new molecule to combat diabetes and obesity</h2>
              <p><span class="date">3.12.09</span>Having participated in the Breitling Orbiter adventure... <a href="actu.epfl.ch" title="The role of perspective functions in convexity, polyconvexity -  full article" class="read-more"></a></p>
            </div>
          </li>
        </ul>
