        <ul class="tree">
          <li>
            <a href="#">Architecture</a>
            <ul>
              <li><a href="#">Submenu 1</a>
                <ul>
                  <li><a href="#">Subsubmenu I</a></li>
                  <li><a href="#">Subsubmenu II</a></li>
                  <li><a href="#">Subsubmenu III</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="inpath">
            <a href="#">GŽnie civil</a>
            <ul>
              <li class="inpath"><a href="#">Submenu 1</a>
                <ul>
                  <li class="inpath"><a href="#">Subsubmenu 1</a>
                    <ul>
                      <li class="current"><a href="#">Subsubsubmenu 1</a></li>
                      <li><a href="#">Subsubsubmenu 2</a></li>
                      <li><a href="#">Subsubsubmenu 3</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Subsubmenu 2</a></li>
                  <li><a href="#">Subsubmenu 3</a></li>
                </ul>
              </li>
              <li><a href="#">Submenu 2</a>
                <ul>
                  <li><a href="#">Subsubmenu 1</a>
                    <ul>
                      <li><a href="#">Subsubsubmenu 1</a></li>
                      <li><a href="#">Subsubsubmenu 2</a></li>
                      <li><a href="#">Subsubsubmenu 3</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Subsubmenu 2</a></li>
                  <li><a href="#">Subsubmenu 3</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#">Environnement</a></li>
          <li><a href="#">Territoire</a></li>
          <li><a href="#">Ë propos de l'ENAC</a></li>
        </ul>
