<!DOCTYPE html PUBLIC "-/W3C/DTD XHTML 1.0 Transitional/EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--#include virtual="/templates/fragments/header.sig.html" -->
    <title>Infoscience</title>
    <link href="//www.epfl.ch/css/epfl.css" media="all" rel="stylesheet" type="text/css" />
    <link href="//www.epfl.ch/css/infoscience.css" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="//www.epfl.ch/js/jquery-epfl.min.js"></script>
    <script type="text/javascript">jQuery.noConflict();</script>
    <script type="text/javascript" src="//www.epfl.ch/js/globalnav.js"></script>
  </head>
  <body>
<!--#include virtual="/templates/fragments/header.fr.html" -->
    <div id="main-content">
      <ul id="breadcrumbs" title="Navigation dans l'arborescence de l'EPFL">
        <li><a href="//www.epfl.ch/" title="Page d'accueil de l'EPFL">EPFL</a></li>
        <li class="last"><a href="http://sb.epfl.ch">Infoscience</a></li>
      </ul>
      <ul id="languages" title="Choix de la langue">
        <li><a href="home-en.html">English</a></li>
        <li class="current">français</li>
      </ul>
      <div style="clear:both"></div>

      <h1>Infoscience</h1>
      <div id="main-navigation" class="navigation-bar">
        <ul class="topnav">
          <li class="dropdown">
            <a href="http://infoscience.epfl.ch/search">Rechercher</a>
          </li>
          <li class="dropdown">
            <a href="http://infoscience.epfl.ch/collection">Parcourir</a>
            <ul class="menu hidden">
              <li><a href="http://infoscience.epfl.ch/collection/Infoscience/Research">Publications par faculté</a>
                <ul>
                  <li><a href="http://infoscience.epfl.ch/collection/Infoscience/Research/ENAC">ENAC - Environnement naturel, architectural et construit </a></li>
                  <li><a href="http://infoscience.epfl.ch/collection/Infoscience/Research/IC">I&amp;C - Informatique & Communications</a></li>
                  <li><a href="http://infoscience.epfl.ch/collection/Infoscience/Research/SB">SB - Sciences de base</a></li>
                  <li><a href="http://infoscience.epfl.ch/collection/Infoscience/Research/STI">STI - Sciences et techniques de l'ingénieur</a></li>
                  <li><a href="http://infoscience.epfl.ch/collection/Infoscience/Research/SV">SV - Sciences de la vie</a></li>
                  <li><a href="http://infoscience.epfl.ch/collection/Infoscience/Research/CDM">CDM - Collège du Management de la Technologie</a></li>
                  <li><a href="http://infoscience.epfl.ch/collection/Infoscience/Research/CDH">CDH - Collège des humanités</a></li>
                  </ul>

              </li>
              <li><a href="http://infoscience.epfl.ch/collection/Infoscience/">Publications par type de document</a>
                <ul>
                  <li><a href="http://infoscience.epfl.ch/collection/Infoscience/Article">Articles de journaux</a></li>
                  <li><a href="http://infoscience.epfl.ch/collection/Infoscience/Conference">Papiers de conférence</a></li>
                  <li><a href="http://infoscience.epfl.ch/collection/Infoscience/Thesis">Thèses</a></li>
                  <li><a href="http://infoscience.epfl.ch/collection/Infoscience/Reports">Rapports techniques</a></li>
                </ul>
              </li>
              <li><a href="http://infoscience.epfl.ch/curator/top10">Publications les plus téléchargées</a>
            </ul>
          </li>
          <li class="dropdown">
            <a href="http://infoscience.epfl.ch/submit">Déposer / Publier</a>
          </li>
          <li class="dropdown">
            <a href="http://wiki.epfl.ch/infoscience/index-fr">Mon compte</a>
            <ul class="menu hidden">
              <li><a href="http://infoscience.epfl.ch/collection/Infoscience/">Mes collections</a></li>
              <li><a href="http://infoscience.epfl.ch/collection/Infoscience/">Mes alertes</a></li>
              <li><a href="http://infoscience.epfl.ch/collection/Infoscience/">Publications</a>
                  <ul>
                    <li><a href="http://infoscience.epfl.ch/collection/Infoscience/">...dont je suis l'auteur</a></li>
                    <li><a href="http://infoscience.epfl.ch/collection/Infoscience/">...que j'ai déposé dans infoscience</a></li>
                    <li><a href="http://infoscience.epfl.ch/collection/Infoscience/">...à valider</a></li>
                  </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="http://wiki.epfl.ch/infoscience/index-fr">Support</a>
            <ul class="menu hidden">
              <li><a href="http://wiki.epfl.ch/infoscience/search-tips-fr">Comment utiliser el moteur de recherche?</a></li>
              <li><a href="http://wiki.epfl.ch/infoscience/export-fr">Comment récupérer mes données?</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="http://infoscience.epfl.ch/curator">Admin</a>
            <ul class="menu hidden">
              <li><a href="#">Gestion des laboratoires</a></li>
              <li><a href="#">Gestion des auteurs</a></li>
              <li><a href="#">Métriques</a></li>
            </ul>
          </li>
        </ul>
        <div style="clear: both"></div>
      </div>
      <div id="tools">

      </div>
      <form name="infoscience-search" action="http://infoscience.epfl.ch/search" method="get">
      <div id="content" class="content homepage-content">
        <!--<img src="../img/keyvisual_infoscience.jpg" alt=""/>-->
        <div id="main-search">
          <h2>Chercher dans Infoscience</h2>
          <input name="p" type="text" id="search_field" size="80" maxlength="255" value="" />&nbsp;<select name="f"><option value="" selected="selected">any field</option><option value="title">title</option><option value="author">author</option><option value="abstract">abstract</option><option value="keyword">keyword</option><option value="reportnumber">report number</option><option value="year">year</option><option value="fulltext">full text</option><option value="reference">reference</option></select>&nbsp;<input type="submit" name="Submit" value="Chercher" />
          <div class="toggler"><a href="http://infoscience.epfl.ch/search?as=1&amp;ln=en" id="toggle-advanced-search">Recherche avancée</a></div>
          <div id="advanced-search" style="display: none" class="toggled">
            <h4>Limiter à ces types de documents:</h4>
            <ul>
              <li><h5>Publications</h5>
                <ul>
                  <li><input type="checkbox" name="ext" value="collection:ARTICLE" id="limit-articles" /><label for="limit-articles">Journal Articles</label></li>
                  <li><input type="checkbox" name="ext" value="collection:REVIEW" id="limit-reviews" /><label for="limit-reviews">Reviews</label></li>
                  <li><input type="checkbox" name="ext" value="collection:CONF" id="limit-conferences" /><label for="limit-conferences">Conference Papers</label></li>
                </ul>
              </li>
              <li><h5>Monographies</h5>
                <ul>
                  <li><input type="checkbox" name="ext" value="collection:BOOK" id="limit-books" /><label for="limit-books">Livres</label></li>
                  <li><input type="checkbox" name="ext" value="collection:THESIS" id="limit-theses" /><label for="limit-theses">Thèses</label></li>
                  <li><input type="checkbox" name="ext" value="collection:CHAPTER" id="limit-chapters" /><label for="limit-chapters">Chapitres de livre</label></li>
                  <li><input type="checkbox" name="ext" value="collection:PROC" id="limit-proceedings" /><label for="limit-proceedings">Actes de congrès</label></li>
                </ul>
              </li>
              <li><h5>Présentations &amp; talks</h5>
                <ul>
                  <li><input type="checkbox" name="ext" value="collection:POSTER" id="limit-posters" /><label for="limit-posters">Posters</label></li>
                  <li><input type="checkbox" name="ext" value="collection:TALK" id="limit-talks" /><label for="limit-talks">Présentations &amp; Talks</label></li>
                </ul>
              </li>

              <li><h5>Normes &amp; Brevets</h5>
                <ul>
                  <li><input type="checkbox" name="ext" value="collection:STANDARD" id="limit-standards" /><label for="limit-standards">Normes</label></li>
                  <li><input type="checkbox" name="ext" value="collection:PATENT" id="limit-patents" /><label for="limit-patents">Brevets</label></li>
                </ul>
              </li>
              <li><h5>Rapports</h5>
                <ul>
                  <li><input type="checkbox" name="ext" value="collection:REPORT" id="limit-reports" /><label for="limit-reports">Rapports techniques</label></li>
                  <li><input type="checkbox" name="ext" value="collection:WORKING" id="limit-workingpapers" /><label for="limit-workingpapers">Working papers</label></li>
                </ul>
              </li>
              <li><h5>Cours et matériel pédagogique</h5>
                <ul>
                  <li><input type="checkbox" name="ext" value="collection:POLY" id="limit-teachingdocuments" /><label for="limit-teachingdocuments">Documents d'enseignement</label></li>
                  <li><input type="checkbox" name="ext" value="collection:STUDENT" id="limit-studentprojects" /><label for="limit-studentprojects">Travaux d'étudiants</label></li>
                </ul>
              </li>
            </ul>

            <div class="clear"></div>
            <h4>Filtrer par:</h4>
            <ul>
              <li><h5>Statut de publication</h5>
                <ul>
                  <li><input type="checkbox" name="ext" value="review:REVIEWED" id="filter-review" /><label for="filter-review">Publication validée par des pairs</label></li>
                  <li><input type="checkbox" name="ext" value="status:PUBLISHED" id="filter-published" /><label for="filter-published">Publié</label></li>
                  <li><input type="checkbox" name="ext" value="status:ACCEPTED" id="filter-accepted" /><label for="filter-accepted">Accepté</label></li>
                  <li><input type="checkbox" name="ext" value="status:SUBMITTED" id="filter-submitted" /><label for="filter-submitted">Soumis</label></li>
                </ul>
              </li>
              <li>
                <h5>Origine</h5>
                <ul>
                  <li><input type="checkbox" name="ext" value="affiliation:EPFL" id="filter-epfl" /><label for="filter-epfl">Travail produit à l'EPFL</label></li>
                </ul>
              </li>
              <li>
                <h5>Disponibilité du fulltext</h5>
                <ul>
                  <li><input type="checkbox" name="ext" value="fulltext:PUBLIC" id="filter-public" /><label for="filter-public">Journal Articles</label></li>
                  <li><input type="checkbox" name="ext" value="fulltext:RESTRICTED" id="filter-restricted" /><label for="filter-restricted">Reviews</label></li>
                </ul>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
        </div>

        <div class="collections">
        <div class="button showall">
          <a href="http://infoscience.epfl.ch/collection/Infoscience/Research?ln=fr">
            <button class="icon"></button>
            <span class="label">Accès aux 65'848 publications scientifiques</span>
          </a>
        </div>
        <div class="clear" style="height: 8px;"></div>

        <div class="button showall">
          <a href="http://infoscience.epfl.ch/collection/Infoscience/Resource?ln=fr">
            <button class="icon"></button>
            <span class="label">Accès aux 15253 ressources documentaires</span>
          </a>
        </div>
        <div class="clear"></div>
        </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet velit ligula. Mauris sit amet felis in tellus porta mattis et eu eros. Vestibulum non ligula mi. Fusce vestibulum porta odio, et venenatis erat dignissim ut. Vivamus rutrum imperdiet est quis auctor. Mauris ultricies dolor quis ligula lacinia sagittis. Integer porttitor eros sed eros blandit ultricies. Proin vestibulum, augue tempus bibendum lobortis, enim justo aliquet nisi, vitae rutrum orci quam ac felis. </p>


        <!-- Insertion depuis actu -->
    <div class="fullbox">
	<h3> Dernières actualités </h3>
    <ul class="news-list simple-layout" title="Actualités de l'EPFL">



 				<li>
	<a href="http://actu.epfl.ch/news/infoscience-dans-le-top-6-des-archives-institution" title="Accès au code HTML">
		<img
			src="http://actu.epfl.ch/public/upload/img/79/264/fr/visual.jpeg"
			class="news-img"
			height="90px"
			alt=""
			title=""
		/>
	</a>

    <div class="news-text">
    	<h2><a href="http://actu.epfl.ch/news/infoscience-dans-le-top-6-des-archives-institution">Infoscience dans le top-6 des archives institutionnelles </a></h2>
        <p><span class="date">02.09.10</span>Selon l'analyse de Cybermetrics Lab, Infoscience se positionne dans le peloton de t&ecirc;te des archives institutionnelles internationales. <a href="http://actu.epfl.ch/news/infoscience-dans-le-top-6-des-archives-institution" title="Read more"><img src="http://actu.epfl.ch/public/img/arrow_more.png" alt="Read more"/></a></p>
	</div>
	<div style="clear:both"></div>
</li>
<li>
	<a href="http://actu.epfl.ch/news/infoscience-nouvelle-version" title="Accès au code HTML">
		<img src="http://actu.epfl.ch/public/upload/img/79/266/fr/visual.jpeg" class="news-img" height="90px" alt="" title=""/>
	</a>

    <div class="news-text">
    	<h2><a href="http://actu.epfl.ch/news/infoscience-nouvelle-version">Infoscience : nouvelle version</a></h2>
        <p><span class="date">15.03.10</span>Depuis son lancement en 2004, Infoscience a &eacute;t&eacute; adopt&eacute; par plus de 200 laboratoires de l&rsquo;EPFL pour signaler leurs publications scientifiques sur le web et les conserver de mani&egrave;re compl&egrave;te ... <a href="http://actu.epfl.ch/news/infoscience-nouvelle-version" title="Read more"><img src="http://actu.epfl.ch/public/img/arrow_more.png" alt="Read more"/></a></p>
	</div>
	<div style="clear:both"></div>
</li>
  	</ul>
 </div>
<!-- fin actu -->


      </div>




      <div class="right-col">
        <div class="box box-flat-panel home-navpanel local-color" style="height: 168px;">
          <h3>Infoscience, les publications scientifiques de l'EPFL</h3>
          <ul>
            <li><a href="http://vpaa.epfl.ch/webdav/site/vpaa/shared/Whistleblowing/GUIDELINES%20FOR%20RESEARCH%20INTEGRITY%20AND%20GOOD%20SCIENTIFIC%20PRACTICE%20AT%20EPFL.pdf">Directive pour l'intégrité scientifique</a></li>
            <li><a href="http://www.snf.ch/SiteCollectionDocuments/dos_OA_Weisung_f.pdf">Directive sur le libre accès aux publications du FNS</a></li>
          </ul>
        </div>




      </div>
    </form>
    </div>

    <div class="clear"></div>
    <div id="footer">
      <ul>
        <li><a href="//www.epfl.ch/accessibility.fr.shtml">Accessibilité</a></li>
        <li><a href="http://mediacom.epfl.ch/mentions-legales">Mentions légales</a></li>
        <li><a href="mailto:webmaster@epfl.ch">Contact</a></li>
        <li class="copyright">&copy; 2017 EPFL tous droits réservés</li>
        <li class="login"><a href="#">Login</a></li>
      </ul>
    </div>
  </body>
</html>
