<!DOCTYPE html PUBLIC "-/W3C/DTD XHTML 1.0 Transitional/EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--#include virtual="/templates/fragments/header.sig.html" -->
    <title>Portail étudiants</title>
    <link href="//www.epfl.ch/css/epfl.css" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="//www.epfl.ch/js/jquery-epfl.min.js"></script>
    <script type="text/javascript">jQuery.noConflict();</script>
    <script type="text/javascript" src="//www.epfl.ch/js/globalnav.js"></script>
  </head>
  <body>
<!--#include virtual="/templates/fragments/header.fr.html" -->
    <div id="main-content">
      <ul id="breadcrumbs" title="Navigation dans l'arborescence de l'EPFL">
        <li><a href="//www.epfl.ch/" title="Page d'accueil de l'EPFL">EPFL</a></li>
        <li class="last"><a href="http://student.epfl.ch">Portail étudiant</a></li>
      </ul>
      <ul id="languages" title="Choix de la langue">
        <li><a href="home-en.html">English</a></li>
        <li class="current">français</li>
      </ul>
      <div class="clear"></div>

      <h1>Étudiants</h1>
      <div id="main-navigation" class="navigation-bar">
        <ul class="topnav">
          <li class="dropdown">
            <a href="#">Intégration réussie</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage with a veeeeeeeerrrry long title</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">Vie académique</a>
            <ul class="menu hidden">
              <li><a href="#">submenu</a>
                <ul>
                  <li><a href="#">element 1</a></li>
                  <li><a href="#">element 2</a></li>
                </ul>
              </li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">Mon quotidien</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">EPFL Fun</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">Guichet étudiants</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
      <div id="tools">
        <div class="button showall">
          <a href="http://actu.epfl.ch/public/student">
            <button class="icon"></button>
            <span class="label">Toutes les actualités étudiants</span>
          </a>
        </div>
        <div class="button feed">
          <a href="feed://actu.epfl.ch/public/student">
            <button class="icon"></button>
            <span class="label">RSS</span>
          </a>
        </div>
      </div>
      <div id="content" class="content homepage-content">
<!--#include virtual="/templates/fragments/news-homepage-school.html" -->
        <div class="box">
          <h3>Sections</h3>
          <ul class="link-list two-cols">
            <li><a href="#">Architecture</a></li>
            <li><a href="#">Chimie, génie chimique</a></li>
            <li><a href="#">Génie électrique et électronique</a></li>
            <li><a href="#">quatrième lien</a></li>
            <li><a href="#">cinquième lien</a></li>
            <li><a href="#">sixième lien</a></li>
          </ul>
        </div>
        <div class="box">
          <h3>Programmes doctoraux</h3>
          <ul class="link-list two-cols">
            <li><a href="#">Ingénieur en matériaux composites</a></li>
            <li><a href="#">Informatique et / ou administrateur Web</a></li>
            <li><a href="#">Pour un poste à 20%</a></li>
            <li><a href="#">Banc d'essai d'ingénieur</a></li>
          </ul>
        </div>
      </div>

      <div class="right-col">
        <div class="home-navpanel">
          <div class="unit-col">
            <div class="unit-3-cells local-color-light last-cell">
              <h3>Guide de l'étudiant</h3>
              <p><a href="#">Une foule de liens utiles pour votre travail quotidien</a></p>
            </div>
          </div>
          <div class="unit-col last-col">
            <div class="unit-3-cells local-color-dark last-cell">
              <h3>Guichet étudiants</h3>
              <p><a href="#">Le guichet "service aux étudiant-e-s" est le point de contact central pour traiter vos demandes</a></p>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="box">
          <h3>Services</h3>
          <ul class="link-list two-cols">
            <li><a href="#">Ingénieur en matériaux composites</a></li>
            <li><a href="#">Informatique et / ou administrateur Web</a></li>
            <li><a href="#">Pour un poste à 20%</a></li>
            <li><a href="#">Banc d'essai d'ingénieur</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="clear"></div>
    <div id="footer">
      <ul>
        <li><a href="//www.epfl.ch/accessibility.fr.shtml">Accessibilité</a></li>
        <li><a href="http://mediacom.epfl.ch/mentions-legales">Mentions légales</a></li>
        <li><a href="mailto:webmaster@epfl.ch">Contact</a></li>
        <li class="copyright">&copy; 2017 EPFL tous droits réservés</li>
        <li class="login"><a href="#">Login</a></li>
      </ul>
    </div>
  </body>
</html>
