<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--#include virtual="../fragments/header.sig.html" -->
    <title>LFS - Laboratory of Fictive Science: welcome</title>
    <link href="../../css/epfl_Benedikt.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="../../css/sb.css" media="all" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://www.epfl.ch/js/jquery-epfl.min.js"></script>
    <script type="text/javascript">jQuery.noConflict();</script>
    <script type="text/javascript" src="http://www.epfl.ch/js/globalnav.js"></script>
    <style type="text/css">
h3 {
    clear:both;
}

ul.bottin {
    list-style-type:outline;
    padding:0px;
    margin:0px;
} 

ul.bottin li {
    list-style:none;
    padding:0px;
    margin:0px;
    line-height:18px;
    float:left;
    width:160px;
    height:285px;
}

ul.bottin div.picture {
    margin:0px 0px 0px 0px;
    overflow:hidden;
    text-align:left;
}

ul.bottin div.picture img {
    width:140px;
    height:140px;
    margin:0px 0px 7px 0px;
}

ul.bottin div.button {
    width: 23px; margin-right: 5px;
}

ul.bottin div.name {
    padding-top:2px;
    font-weight:bold;
}

ul.bottin div.more {
    clear:both;
}

ul.bottin table.contact {
    margin-top:5px;
}

ul.bottin table.contact td {
    padding:0px 10px 0px 0px;
}

    </style>
  </head>
  <body>
<!--#include virtual="../fragments/header.fr.html" -->
    <div id="main-content">
      <ul id="breadcrumbs" title="Navigation dans l'arborescence de l'EPFL">
        <li><a href="http://www.epfl.ch/" title="Page d'accueil de l'EPFL">EPFL</a></li>
        <li class="last"><a href="../../cms/site/ic_import/page-5287-fr.html">Facult&eacute; Environnement Naturel, Architecture et Construit</a></li>
      </ul>
      <ul id="languages" title="Choix de la langue">
        <li><a href="home-en.html">English</a></li>
        <li class="current">français</li>
      </ul>
      <div class="clear"></div>
    
      <h1>&Eacute;cole polytechnique f&eacute;d&eacute;rale de Lausanne <acronym title="&eacute;cole Polytechnique F&eacute;d&eacute;rale de Lausanne" class="local-color-text">EPFL</acronym></h1>
      
      <div id="main-navigation" class="navigation-bar">
        <ul class="topnav">
          <li class="dropdown">
            <a href="#">Architecture</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage with a veeeeeeeerrrry long title</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">G&eacute;nie civil</a>
            <ul class="menu hidden">
              <li>
                <a href="#">submenu</a>
                <ul>
                  <li><a href="#">element 1</a></li>
                  <li><a href="#">element 2</a></li>
                </ul>
              </li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
          <li class="dropdown inpath">
            <a href="#">Environnement</a>
            <ul class="menu hidden">
              <li class="current"><a href="#">subpage</a></li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">Territoire</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">À propos de l'ENAC</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
      
      <div id="tools">
        <div class="button print"><a href="toto.html"><button class="icon"></button><span class="label">Imprimer</span></a></div>
        <div class="button feed"><a href="toto.html"><button class="icon"></button><span class="label">RSS feed</span></a></div>
        <div class="button share"><a href="toto.html"><button class="icon"></button><span class="label">Share</span></a></div>
      </div>
      
      <div id="content" class="content">

      <!-- ======================================================================================================================== -->

      <h2>Lab Directory (lmis1)</h2>
      
      <h3>Head of Laboratory</h3>
<ul class="bottin">
<li>
    <div class="picture"><a href="http://personnes.epfl.ch/145781"><img src="http://people.epfl.ch/cache/photos/ext/a0e783886e74e64b53b7cac7b4568f45.jpg"></a></div>

    <div class="button contact">
        <a href="http://people.epfl.ch/145781">
        <button class="icon"></button>
        </a>
    </div>

    <div class="name">
        <a href="http://www.epfl.ch/cgi-bin/csoldap/simple?sciper=145781">J&uuml;rgen Brugger</a>
    </div>

    <div class="more">
        Associate Professor<br />
        <a href="mailto:juergen.brugger@epfl.ch">juergen.brugger@epfl.ch</a>
    </div>

    <table class="contact">
        <tr>
            <td style="width:30px;">Phone:</td>
            <td>36573 / 35901</td>
        </tr>
        <tr>
            <td>Room:</td>
            <td><a href="http://plan.epfl.ch/?room=BM3116">BM3116</a></td>
        </tr>
    </table>
</li>
</ul>

<!--
<ul class="bottin">
<li>
    <div class="picture"></div>

    <div class="button contact">
        <a href="http://people.epfl.ch/[#sciper]">
        <button class="icon"></button>
        </a>
    </div>

    <div class="name"></div>

    <div class="more"></div>

    <table class="contact">
        <tr>
            <td style="width:30px;">Phone:</td>
            <td></td>
        </tr>
        <tr>
            <td>Room:</td>
            <td><a href="http://plan.epfl.ch/?room="></a></td>
        </tr>
    </table>
</li>

...

</ul>
-->
      
<h3 style="clear:both;">Administrative staff</h3>
<ul class="bottin">
<li>
  <div class="picture"><a href="http://personnes.epfl.ch/105876"><img src="http://people.epfl.ch/images/noprofile.jpg"></a></div>
  
    <div class="button contact">
        <a href="http://people.epfl.ch/105876">
        <button class="icon"></button>
        </a>
    </div>
  
    <div class="name">
        <a href="http://www.epfl.ch/cgi-bin/csoldap/simple?sciper=105876">Ilona&nbsp;Modoux</a>
    </div>
  
    <div class="more">
        Secretary<br />
        <a href="mailto:ilona.modoux@epfl.ch">ilona.modoux@epfl.ch</a>
    </div>

    <table class="contact">
        <tr>
            <td style="width:30px;">Phone:</td>
            <td>35901</td>
        </tr>
        <tr>
            <td>Room:</td>
            <td><a href="http://plan.epfl.ch/?room=BM3116">BM3115</a></td>
        </tr>
    </table>
</li>
</ul>

<h3 style="clear:both;">Research staff</h3>
<ul class="bottin">
<li>
    <div class="picture"><a href="http://personnes.epfl.ch/199500"><img src="http://people.epfl.ch/cache/photos/ext/b93ba1aecc2b04401cbf2c90167ffc10.jpg"></a></div>

    <div class="button contact">
        <a href="http://people.epfl.ch/199500">
        <button class="icon"></button>
        </a>
    </div>
    
  <div class="name"><a href="http://www.epfl.ch/cgi-bin/csoldap/simple?sciper=199500">Vaida&nbsp;Auzelyte</a></div>
  
  <div class="more">
  Scientist<br />
  <a href="mailto:vaida.auzelyte@epfl.ch">vaida.auzelyte@epfl.ch</a>
  </div>
  
  <table class="contact">
  <tr>
  <td style="width:30px;">Phone:</td>
  <td>36724</td>
  </tr>
  <tr>
  <td>Room:</td>
  <td><a href="http://plan.epfl.ch/?room=BM3106">BM3106</a></td>
  </tr>
  </table>
</li>

<li>
  <div class="picture"><a href="http://personnes.epfl.ch/190686"><img src="http://people.epfl.ch/cache/photos/camipro/4792aaab8631c535411455bb00bf906b.jpg"></a></div>

     <div class="button contact">
        <a href="http://people.epfl.ch/190686">
        <button class="icon"></button>
        </a>
    </div>
    
  <div class="name"><a href="http://www.epfl.ch/cgi-bin/csoldap/simple?sciper=190686">Victor Javier Cadarso Busto</a></div>
  
  <div class="more">
  Postdoctoral Researcher<br />
  <a href="mailto:victor.cadarso@epfl.ch">victor.cadarso@epfl.ch</a>
  </div>
  
  <table class="contact">
  <tr>
  <td style="width:30px;">Phone:</td>
  <td>37818</td>
  </tr>
  <tr>
  <td>Room:</td>
  <td><a href="http://plan.epfl.ch/?room=BM3106">BM3106</a></td>
  </tr>
  </table>
</li>
 
<li>
  <div class="picture"><a href="http://personnes.epfl.ch/196884"><img src="http://people.epfl.ch/cache/photos/ext/e403a0683465dd40bcf519f81894b3b1.jpg"></a></div>

    <div class="button contact">
        <a href="http://people.epfl.ch/196884">
        <button class="icon"></button>
        </a>
    </div>
    
  <div class="name"><a href="http://www.epfl.ch/cgi-bin/csoldap/simple?sciper=196884">Rosario Maurizio&nbsp;Gullo</a></div>
  
  <div class="more">
  Scientist<br />
  <a href="mailto:maurizio.gullo@epfl.ch">maurizio.gullo@epfl.ch</a>
  </div>
  
  <table class="contact">
  <tr>
  <td style="width:30px;">Phone:</td>
  <td>36409</td>
  </tr>
  <tr>
  <td>Room:</td>
  <td><a href="http://plan.epfl.ch/?room=BM3106">BM3106</a></td>
  </tr>
  </table>
</li>
 
<li>
  <div class="picture"><a href="http://personnes.epfl.ch/170900"><img src="http://people.epfl.ch/cache/photos/camipro/9a269f49ecdcbbd1a862d448fe7ccd42.jpg"></a></div>

    <div class="button contact">
        <a href="http://people.epfl.ch/170900">
        <button class="icon"></button>
        </a>
    </div>
    
  <div class="name"><a href="http://www.epfl.ch/cgi-bin/csoldap/simple?sciper=170900">Thomas&nbsp;Kiefer</a></div>
  
  <div class="more">
  Postdoctoral Researcher<br />
  <a href="mailto:thomas.kiefer@epfl.ch">thomas.kiefer@epfl.ch</a>
  </div>
  
  <table class="contact">
  <tr>
  <td style="width:30px;">Phone:</td>
  <td>30925</td>
  </tr>
  <tr>
  <td>Room:</td>
  <td><a href="http://plan.epfl.ch/?room=BM3202">BM3202</a></td>
  </tr>
  </table>
</li>

<li>
  <div class="picture"><a href="http://people.epfl.ch/184238"><img src="http://people.epfl.ch/cache/photos/camipro/cad4a3ee73d86a12d7de178b4f6e7754.jpg"></a></div>

    <div class="button contact">
        <a href="http://people.epfl.ch/184238">
        <button class="icon"></button>
        </a>
    </div>
    
  <div class="name"><a href="http://www.epfl.ch/cgi-bin/csoldap/simple?sciper=184238">Bastien&nbsp;Rachet</a></div>
    
  <div class="more">
  Scientist<br />
  <a href="mailto:bastien.rachet@epfl.ch">bastien.rachet@epfl.ch</a>
  </div>
  
  <table class="contact">
  <tr>
  <td style="width:30px;">Phone:</td>
  <td>37012</td>
  </tr>
  <tr>
  <td>Room:</td>
  <td><a href="http://plan.epfl.ch/?room=BM4118">BM4118</a></td>
  </tr>
  </table>
</li>

<li>
  <div class="picture"><a href="http://personnes.epfl.ch/176597"><img src="http://people.epfl.ch/cache/photos/ext/3e30af83de061b13fe1d87471b979d0b.jpg"></a></div>

    <div class="button contact">
        <a href="http://people.epfl.ch/176597">
        <button class="icon"></button>
        </a>
    </div>
    
  <div class="name"><a href="http://www.epfl.ch/cgi-bin/csoldap/simple?sciper=176597">Andreea Veronica&nbsp;Savu</a></div>

  <div class="more">
  Postdoctoral Researcher<br />
  <a href="mailto:veronica.savu@epfl.ch">veronica.savu@epfl.ch</a>
  </div>
  
  <table class="contact">
  <tr>
  <td style="width:30px;">Phone:</td>
  <td>30936</td>
  </tr>
  <tr>
  <td>Room:</td>
  <td><a href="http://plan.epfl.ch/?room=BM3202">BM3202</a></td>
  </tr>
  </table>
</li>
 
<li>
  <div class="picture"><a href="http://personnes.epfl.ch/169048"><img src="http://people.epfl.ch/cache/photos/ext/8947c8e0a09e332bb4964db1b5ddb2aa.jpg"></a></div>

      <div class="button contact">
        <a href="http://people.epfl.ch/169048">
        <button class="icon"></button>
        </a>
    </div>

  <div class="name"><a href="http://www.epfl.ch/cgi-bin/csoldap/simple?sciper=169048">Oscar&nbsp;Vazquez Mena</a></div>

  <div class="more">
  Postdoctoral Researcher<br />
  <a href="mailto:oscar.vazquez@epfl.ch">oscar.vazquez@epfl.ch</a>
  </div>
  
  <table class="contact">
  <tr>
  <td style="width:30px;">Phone:</td>
  <td>36741</td>
  </tr>
  <tr>
  <td>Room:</td>
  <td><a href="http://plan.epfl.ch/?room=BM3202">BM3202</a></td>
  </tr>
  </table>
</li>
 
<li>
  <div class="picture"><a href="http://personnes.epfl.ch/201009"><img src="http://people.epfl.ch/cache/photos/ext/bb2adfe96dfd360c65c8fc6fd25f998b.jpg"></a></div>

    <div class="button contact">
        <a href="http://people.epfl.ch/201009">
        <button class="icon"></button>
        </a>
    </div>
  
  <div class="name"><a href="http://www.epfl.ch/cgi-bin/csoldap/simple?sciper=201009">Songmei&nbsp;Wu</a></div>

  <div class="more">
  Scientist<br />
  <a href="mailto:songmei.wu@epfl.ch">songmei.wu@epfl.ch</a>
  </div>
  
  <table class="contact">
  <tr>
  <td style="width:30px;">Phone:</td>
  <td>30937</td>
  </tr>
  <tr>
  <td>Room:</td>
  <td><a href="http://plan.epfl.ch/?room=BM3202">BM3202</a></td>
  </tr>
  </table>
</li>
</ul>


      <!-- ======================================================================================================================== -->
      
      </div>
      
      <div class="right-col">
        <ul class="tree">
          <li>
            <a href="#">Architecture</a>
            <ul>
              <li>
              <a href="#">Submenu 1</a>
                <ul>
                  <li><a href="#">Subsubmenu I</a></li>
                  <li><a href="#">Subsubmenu II</a></li>
                  <li><a href="#">Subsubmenu III</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="inpath">
            <a href="#">G&eacute;nie civil</a>
            <ul>
              <li class="inpath">
                <a href="#">Submenu 1</a>
                <ul>
                  <li class="current inpath">
                    <a href="#">Page actuelle</a>
                    <ul>
                      <li class=""><a href="#">Subsubsubmenu 1</a></li>
                      <li><a href="#">Subsubsubmenu 2 which is very long and should span over 2 lines.</a></li>
                      <li><a href="#">Subsubsubmenu 3</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Subsubmenu 2</a></li>
                  <li><a href="#">Subsubmenu 3</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Submenu 2</a>
                <ul>
                  <li>
                    <a href="#">Subsubmenu 1</a>
                    <ul>
                      <li><a href="#">Subsubsubmenu 1</a></li>
                      <li><a href="#">Subsubsubmenu 2</a></li>
                      <li><a href="#">Subsubsubmenu 3</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Subsubmenu 2</a></li>
                  <li><a href="#">Subsubmenu 3</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#">Environnement</a></li>
          <li><a href="#">Territoire</a></li>
          <li><a href="#">&Agrave; propos de l'ENAC</a></li>
        </ul>
        
        <div class="box two-cols">
          <h3>Contacts</h3>
          <div class="box-col">
            <h5>Laboratory of Fictive Science (LFS)</h5>
            <p>EPFL-FS-FI-LFS<br/>
                Station fictive<br/>
                CH-1015 Lausanne<br/>
                <a href="http://plan.epfl.ch?unit=LTS">Show on campus map</a>
            </p>
          </div>
          <div class="box-col">
            Tel: +41 (0) 21 693 00 00<br/>
            Fax: +41 (0) 21 693 00 00
          </div>
          <div class="clear"></div>
        </div>
    
        <div class="box">
          <h3>Bo&icirc;te libre</h3>
          <h5>De Gallos Helvetii</h5>
          <p>Qua de causa Helvetii quoque reliquos Gallos virtute praecedunt, quod fere cotidianis proeliis cum Germanis
            contendunt, cum aut suis finibus eos prohibent aut ipsi in eorum finibus bellum gerunt.</p>
        </div>

        <div class="box two-cols">
          <h3>Services aux &eacute;tudiants</h3>
          <ul class="link-list">
            <li><a href="#">Premier lien tr&egrave;s long qui doit donc atteindre 2 lignes</a></li>
            <li><a href="#">deuxi&egrave;me lien</a></li>
            <li><a href="#">troisi&egrave;me lien</a></li>
            <li><a href="#">quatri&egrave;me lien</a></li>
            <li><a href="#">cinqui&egrave;me lien</a></li>
            <li><a href="#">sixi&egrave;me lien</a></li>
          </ul>
        </div>
      </div>
      
      <div class="clear"></div>
    </div>

    <div id="footer">
      <ul>
        <li><a href="#">Plan du site</a></li>
        <li><a href="mailto:webmaster@epfl.ch">Contact</a></li>
        <li><a href="http://www.epfl.ch/accessibility.fr.shtml">Accessibilit&eacute;</a></li>
        <li class="copyright">&copy; 2010 EPFL tous droits r&eacute;serv&eacute;s</li>
        <li><a href="#top" class="hidden">Retour en haut de la page</a></li>
      </ul>
    </div>
  </body>
</html>
