<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="headerversion" content="1.75"/>
    <meta name="headerdate" content="2010-11-19"/>

    <title>Fiche de Cours</title>
    <link href="../../css/epfl.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../../css/sb.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../../css/ficheDeCours.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../../css/epflPrint.css" media="print" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://www.epfl.ch/js/jquery-epfl.min.js"></script>
    <script type="text/javascript">jQuery.noConflict();</script>
    <script type="text/javascript" src="http://www.epfl.ch/js/globalnav.js"></script>
  </head>
  <body>

     <!-- HEADER START -->

	    <a name="top"></a>
    <div id="accessibility" class="hidden" title="École Polytechnique Fédérale de Lausanne - Quick access">
      <ul>
        <li><a href="http://www.epfl.ch/accessibility.en.shtml" title="Specific informations for persons with disabilities" accesskey="0">Accessibility</a></li>
        <li><a href="http://www.epfl.ch/" title="EPFL's homepage"  accesskey="1">Homepage</a></li>
        <li><a href="#navigation" accesskey="2">Navigation within EPFL sites</a></li>

        <li><a href="#main-navigation" accesskey="3">Navigation within this site</a></li>
        <li><a href="#search" id="searchlink" accesskey="4">Jump to search field</a></li>
        <li><a href="#content" accesskey="5">Jump to page content</a></li>
        <li><a href="mailto:webmaster@epfl.ch" accesskey="9">Technical contact</a></li>
      </ul>
    </div>
    <div id="header">

      <div id="nav-logo"><a href="http://www.epfl.ch" title="EPFL's homepage"></a></div>
      <div id="nav-menus">
        <a name="navigation" id="navigation"></a>
        <ul id="main-menus">
          <li class="portal menu" id="public-menu-link">
            <a class="main-link" href="http://www.epfl.ch/navigate.en.shtml" title="Navigate by profile">You are</a>
            <div class="navigation-panel hidden" id="public-panel">
              <ul>

                <li class="group-2-cols">
                  <h3><a href="http://futuretudiant.epfl.ch/">Prospective student</a></h3>
                  <ul>
                    <li><a href="http://www.epfl.ch/epfl-virtual-tour/virtual-tour.html">EPFL Virtual tour</a></li>
                    <li><a href="http://sae.epfl.ch/page-27094-en.html">Exchange student</a></li>
                  </ul>
                </li>

                <li class="group-2-cols">
                  <h3><a href="http://studying.epfl.ch/">Students</a></h3>
                  <ul>
                    <li><a href="http://studying.epfl.ch/student_desk">Student services</a></li>
                    <li><a href="http://sac.epfl.ch/academic-calendar">Academic calendar</a></li>
                  </ul>
                </li>

                <li class="group-2-cols last">
                  <h3><a href="http://recherche.epfl.ch/">Researcher</a></h3>
                  <ul>
                    <li><a href="http://grantsoffice.epfl.ch/">Research funding</a></li>
                    <li><a href="http://phd.epfl.ch/page-19491-en.html">Doctorate at EPFL</a></li>
                  </ul>
                </li>

                <li class="group-2-cols">
                  <h3><a href="http://working.epfl.ch/">Staff</a></h3>
                  <ul>
                    <li><a href="http://rh.epfl.ch">Human resources</a></li>
                    <li><a href="http://help.epfl.ch">Help</a></li>
                  </ul>
                </li>

                <li class="group-2-cols">
                  <h3><a href="http://entreprises.epfl.ch/">Business</a></h3>
                  <ul>
                    <li><a href="http://vpiv.epfl.ch/">Innovation &amp; Tech Transfer</a></li>
                    <li><a href="http://vpiv.epfl.ch/page-23023-en.html">Innovation Square</a></li>
                  </ul>

                </li>
                <li class="group-2-cols last">
                  <h3><a href="http://medias.epfl.ch/">Mediacorner</a></h3>
                  <ul>
                    <li><a href="http://actu.epfl.ch/">Press releases, Reflex, Flash</a></li>
                    <li><a href="http://mediatheque.epfl.ch/">Image library</a></li>
                  </ul>

                </li>
                <li class="group-2-cols">
                  <h3><a href="http://a3.epfl.ch/">Alumni A3-EPFL</a></h3>
                  <ul>
                    <li><a href="http://www2.epfl.ch/a3/page77902-en.html">Become a member</a></li>
                    <li><a href="http://www2.epfl.ch/a3/page74871-en.html">A3 agenda</a></li>
                  </ul>

                </li>
              </ul>
              <div class="clear"></div>
            </div>
          </li>
          <li class="school menu" id="school-menu-link">
            <a class="main-link" href="http://www.epfl.ch/navigate.en.shtml" title="Navigate by school"><span>By</span> school</a>

            <div class="navigation-panel hidden" id="school-panel">
              <ul>
                <li class="group-2-cols">
                  <h3><a href="http://enac.epfl.ch/" class="enac">Architecture, Civil and Environmental Engineering <acronym title="Environnement Naturel, Architectural et Construit">ENAC</acronym></a></h3>
                  <ul>
                    <li><a href="http://enac.epfl.ch/page-2444.html">Architecture</a></li>
                    <li><a href="http://enac.epfl.ch/page-2445.html">Civil Engineering</a></li>

                    <li><a href="http://enac.epfl.ch/page-2446.html">Environmental Engineering</a></li>
                    <li><a href="http://enac.epfl.ch/page-2447.html">Urban Planning</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://sb.epfl.ch/" class="sb">Basic Sciences <acronym title="Sciences de Base">SB</acronym></a></h3>
                  <ul>

                    <li><a href="http://sb.epfl.ch/chemistry">Chemistry</a></li>
                    <li><a href="http://sb.epfl.ch/mathematics">Mathematics</a></li>
                    <li><a href="http://sb.epfl.ch/physics">Physics</a></li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3><a href="http://sti.epfl.ch/" class="sti">Engineering <acronym title="Sciences et Techniques de l'Ingénieur">STI</acronym></a></h3>

                  <ul>
                    <li><a href="http://sti.epfl.ch/page-1545.html">Electrical Engineering</a></li>
                    <li><a href="http://sti.epfl.ch/page-1592.html">Mechanical Engineering</a></li>
                    <li><a href="http://sti.epfl.ch/page-1617.html">Materials Science and Engineering</a></li>
                    <li><a href="http://sti.epfl.ch/page-1674.html">Microengineering</a></li>
                    <li><a href="http://ibi.epfl.ch/">Bioengineering</a></li>

                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://ic.epfl.ch/" class="ic">Computer &amp; Communication Sciences <acronym title="Informatique &amp; Communications">I&amp;C</acronym></a></h3>
                  <ul>
                    <li><a href="http://ic.epfl.ch/computer-science">Computer Science</a></li>

                    <li><a href="http://ic.epfl.ch/communication-systems">Communication Systems</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://sv.epfl.ch/" class="sv">Life Sciences <acronym title="Sciences de la Vie">SV</acronym></a></h3>
                  <ul>
                    <li><a href="http://sv.epfl.ch/page-37989.html">Bioengineering</a></li>

                    <li><a href="http://sv.epfl.ch/page-26599.html">Neuroscience Brain Mind &amp; Blue Brain</a></li>
                    <li><a href="http://sv.epfl.ch/page-37990.html">Global Health</a></li>
                    <li><a href="http://sv.epfl.ch/page-37991.html">Cancer</a></li>
                  </ul>
                </li>
                <li class="group-2-cols last">

                  <h3><a href="http://cdm.epfl.ch/" class="cdm">Management of Technology <acronym title="Collège du Management de la Technologie">CDM</acronym></a></h3>
                  <ul>
                    <li><a href="http://mtei.epfl.ch">Management of Technology</a></li>
                    <li><a href="http://sfi.epfl.ch">Financial Engineering</a></li>
                  </ul>
                </li>
                <li class="group-2-cols" style="clear:left">

                  <h3><a href="http://cdh.epfl.ch/" class="cdh">College of Humanities <acronym title="Collège des Humanités">CDH</acronym></a></h3>
                  <ul>
                    <li><a href="http://cdh.epfl.ch/page-37081.html">Human and Social Science</a></li>
                    <li><a href="http://cdh.epfl.ch/page-25502.html">Area &amp; Cultural Studies</a></li>
                  </ul>
                </li>
              </ul>

            </div>
          </li>
          <li class="short menu" id="brief-menu-link">
            <a class="main-link" href="http://www.epfl.ch/navigate.en.shtml"><span>about</span> <acronym title="École Polytechnique Fédérale de Lausanne">EPFL</acronym></a>
            <div class="navigation-panel hidden" id="brief-panel">
              <ul>
                <li class="group-2-cols">

                  <h3><a href="http://presentation.epfl.ch"><acronym title="École Polytechnique Fédérale de Lausanne">EPFL</acronym></a></h3>
                  <ul>
                    <li><a href="http://direction.epfl.ch/">Direction</a></li>
                    <li><a href="http://www.epfl.ch/organigrammes">EPFL Structure</a></li>
                    <li><a href="http://information.epfl.ch/">Information desk</a></li>
                    <li><a href="http://library.epfl.ch/">Library</a></li>

                    <li><a href="http://www5.epfl.ch/emplois/">Job offers</a></li>
                    <li><a href="http://vpai.epfl.ch/page-33793-en.html">National collaborations</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://formation.epfl.ch">Education</a></h3>
                  <ul>
                    <li><a href="http://cms.epfl.ch/">Preparatory course <acronym title="Cours de Mathématiques Spéciales">CMS</acronym></a></li>

                    <li><a href="http://bachelor.epfl.ch/">Bachelor</a></li>
                    <li><a href="http://master.epfl.ch/">Master</a></li>
                    <li><a href="http://phd.epfl.ch/">PhD</a></li>
                    <li><a href="http://continuing-education.epfl.ch">Continuing education</a> (EPFL-UNIL Foundation)</li>
                  </ul>
                </li>

                <li class="group-2-cols last">
                  <h3><a href="http://recherche.epfl.ch/">Research</a></h3>
                  <ul>
                    <li><a href="http://vpiv.epfl.ch/page-22996-en.html">Transdisciplinary Centers</a></li>
                    <li><a href="http://grantsoffice.epfl.ch/">Grants office</a></li>
                    <li><a href="http://commission-recherche.epfl.ch/page-25053-en.html">Research Commission</a></li>
                    <li><a href="http://infoscience.epfl.ch/?ln=en"><acronym title="École Polytechnique Fédérale de Lausanne">EPFL</acronym> Publications</a></li>

                  </ul>
                </li>
                <li class="group-2-cols" style="clear: left;">
                  <h3><a href="http://vpiv.epfl.ch">Innovation &amp; Tech Transfer</a></h3>
                  <ul>
                    <li><a href="http://vpiv.epfl.ch/page-22997-en.html">Partnerships</a></li>
                    <li><a href="http://vpiv.epfl.ch/page-22998-en.html">Start-up</a></li>

                    <li><a href="http://www.alliance-tt.ch">Industrial liaison</a></li>
                    <li><a href="http://sri.epfl.ch/">Technology transfer, patents</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://vpai.epfl.ch/page-33792-en.html">International</a></h3>
                  <ul>

                    <li><a href="http://middleeast.epfl.ch">EPFL Middle East</a></li>
                  </ul>
                </li>
              </ul>
              <div class="clear"></div>
            </div>
          </li>
        </ul>

      </div>

      <div class="local-color" id="nav-search">
        <div id="search-box">
          <a name="search"></a>
          <form name="search" action="http://search.epfl.ch/process_web2010" id="searchform">
            <input class="hidden" type="radio" name="engine" id="search-engine-person" value="person" checked="checked" title="Find a person" />
            <label for="search-engine-person" class="current" title="Find a person">Person</label>
            <input class="hidden" type="radio" name="engine" id="search-engine-place" value="place" title="Find a place"/>

            <label for="search-engine-place" title="Find a place">Place</label>
            <input class="hidden" type="radio" name="engine" id="search-engine-epfl" value="epfl" title="Search within EPFL sites"/>
            <label for="search-engine-epfl" title="Search within EPFL sites"><acronym title="École Polytechnique Fédérale de Lausanne">EPFL</acronym> Web</label>
            <input type="hidden" name="lang" value="en" />
            <input type="text" class="search" name="q" value="" id="searchfield" /><button type="submit" class="search-button"  title="Search">Search</button>
          </form>

        </div>
      </div>
      <div class="clear"></div>
    </div>

    <!-- HEADER END -->

    <div id="main-content">
      <ul id="breadcrumbs" title="Navigation dans l'arborescence de l'EPFL">
        <li><a href="http://www.epfl.ch/" title="Page d'accueil de l'EPFL">EPFL</a></li>
        <li><a href="http://ic.epfl.ch/" title="Faculté d'Informatique et Communication">IC</a></li>
        <li class="last">Fiche de Cours: Probabilit&eacute;s et statistique</li>
      </ul>
      <ul id="languages" title="Choix de la langue">
        <li><a href="home-en.html">English</a></li>
        <li class="current">fran&ccedil;ais</li>
      </ul>
      <div style="clear:both"></div>

      <h1>Fiche de cours</h1>
      <div id="main-navigation" class="navigation-bar" style="height:24px;">
        &nbsp;
        <div style="clear:both"></div>
      </div>

      <div id="tools">

      </div>

      <div id="content" class="content">
      <h2 class="noSpacing">Probabilit&eacute;s et statistique</h2>
      <h3 class="noSpacing"><a href="#"><img src="../../img/pdf.gif" alt="icon pdf" class="noSpacing pdf-icon" />Fiche de cours</a></h3>
      
        <h4>Enseignant(s):</h4>
        <p class="noSpacing">Pfister Charles</p>
        <h4>Langue:</h4>
        <p class="noSpacing"><div class="img_legende francais"><div class="diet_icon"></div></div> fran&ccedil;ais</p>
        <h4>Pr&eacute;paration pour:</h4>
        <p class="noSpacing">M&eacute;canique statistique</p>

        <h4>Objectifs</h4>
        <p>La th&eacute;orie des probabilit&eacute;s et la statistique sont des outils essentiels dans les sciences,
        en particulier en physique. Le but du cours est d'initier les &eacute;tudiants aux concepts de base, expos&eacute;s
        dans des situations simples, mais formul&eacute;s de fa&ccedil;on &agrave; faciliter l'&eacute;tude de textes plus
        approfondis.</p>

        <h4>Contenu</h4>
        <ul>
        <li>&Eacute;preuve, &eacute;v&eacute;nement, probabilit&eacute;.</li>
        <li>Mod&egrave;le de Kolmogorov.</li>
        <li>&Eacute;l&eacute;ments d'analyse combinatoire.</li>
        <li>Exemples d'espaces de probabilit&eacute;:
            <ul>
            <li>espace de probabilit&eacute; discret,</li>
            <li>espace de probabilit&eacute; continu.</li>
            </ul>
        </li>
        <li>Probabilit&eacute; conditionnelle.</li>
        <li>Propri&eacute;t&eacute;s g&eacute;n&eacute;rales des espaces de probabilit&eacute;.</li>
        <li>Notion d'ind&eacute;pendance.</li>
        <li>Variable al&eacute;atoire et les notions qui s'y rattachent:
            <ul>
            <li>loi, fonction de r&eacute;partition,</li>
            <li>calcul de l'esp&eacute;rance math&eacute;matique, variance etc.</li>
            </ul>
        </li>
        <li>Lois des grands nombres.</li>
        <li>Th&eacute;or&egrave;me de la limite centrale.</li>
        <li>Fluctuations.</li>
        <li>Mod&egrave;le statistique.</li>
        <li>Estimation.</li>
        <li>Intervalle de confiance.</li>
        <li>Test.</li>
        </ul>

        <h4>Pr&eacute;requis</h4>
        <p class="noSpacing">Analyse I et II</p>

        <h4>Forme d'enseignement</h4>
        <p class="noSpacing">Cours ex cathedra, exercices en classe</p>

        <h4>Forme du contr&ocirc;le</h4>
        <p class="noSpacing">Exercice hebdomadaire en classe. Examen oral</p>

        <h4>Bibliographie</h4>
        <ul>
        <li>Ouvrages conseill&eacute;s au cours.</li>
        <li>Notes de cours sur le web.</li>
        </ul>

      </div>

      <div class="right-col">
        <div class="box">
          <h3>Dans les sections</h3>
          <ul class="tree noNav">
          <li class="open collapsable">
          <div class="underline">Physique, 2010-2011, Bachelor semestre 3</div>
            <ul>
            <li><strong>Semestre</strong><br />
            <div class="img_legende automne"><div class="little_icon"></div></div> Automne</li>
            <li><strong>Forme de l'examen</strong><br />
            <div class="img_legende winter"><div class="little_icon"></div></div> Ecrit</li>
            <li><strong>Cr&eacute;dits</strong><br />
            <span class="nbCredits">3</span></li>
            <li><strong>Mati&egrave;re examin&eacute;e</strong><br />
            Probabilit&eacute;s et statistique</li>
            <li><strong>Cours</strong><br />
            2h hebdo x 14 semaines<br />
            Salle: <a href="http://plan.epfl.ch?room=sg1">SG1</a></li>
            <li><strong>Exercice</strong><br />
            1h hebdo x 14 semaines<br />
            Salle: <a href="http://plan.epfl.ch?room=eld220">ELD220</a>, <a href="http://plan.epfl.ch?room=gcc330">GCC330</a>, <a href="http://plan.epfl.ch?room=ma11">MA11</a></li>
            </ul>
          </li>
          <li>
          <div class="underline">Physique, 2010-2011, Bachelor semestre 5</div>
            <ul>
            <li><strong>Semestre</strong><br />
            <div class="img_legende automne"><div class="little_icon"></div></div> Automne</li>
            <li><strong>Forme de l'examen</strong><br />
            <div class="img_legende winter"><div class="little_icon"></div></div> Ecrit</li>
            <li><strong>Cr&eacute;dits</strong><br />
            <span class="nbCredits">3</span></li>
            <li><strong>Mati&egrave;re examin&eacute;e</strong><br />
            Probabilit&eacute;s et statistique</li>
            <li><strong>Cours</strong><br />
            2h hebdo x 14 semaines<br />
            Salle: <a href="http://plan.epfl.ch?room=sg1">SG1</a></li>
            <li><strong>Exercice</strong><br />
            1h hebdo x 14 semaines<br />
            Salle: <a href="http://plan.epfl.ch?room=eld220">ELD220</a>, <a href="http://plan.epfl.ch?room=gcc330">GCC330</a>, <a href="http://plan.epfl.ch?room=ma11">MA11</a></li>
            </ul>
          </ul>
          
          
          
          <div style="clear: both;"></div>
        </div>
        <div class="box">
          <h3>Semaine de r&eacute;f&eacute;rence</h3>
          <table class="semaineDeRef">
          <tr>
          <th class="time">&nbsp;</th>
          <th class="day">Lu</th>
          <th class="day">Ma</th>
          <th class="day">Me</th>
          <th class="day">Je</th>
          <th class="day">Ve</th>
          </tr>
          <tr>
          <td class="time">8-9</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td rowspan="2" class="taken local-color">c</td>
          <td>&nbsp;</td>
          </tr>
          <tr>
          <td class="time">9-10</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          </tr>
          <tr>
          <td class="time">10-11</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          </tr>
          <tr>
          <td class="time">11-12</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          </tr>
          <tr>
          <td class="time">12-13</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          </tr>
          <tr>
          <td class="time">13-14</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          </tr>
          <tr>
          <td class="time">14-15</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="taken local-color">p</td>
          <td>&nbsp;</td>
          </tr>
          <tr>
          <td class="time">15-16</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          </tr>
          <tr>
          <td class="time">16-17</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          </tr>
          <tr>
          <td class="time">17-18</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          </tr>
          </table>
          <div style="clear: both"></div>
        </div>
        
    <div class="box two-cols">
      <h3>l&Eacute;gende</h3>
      <div class="box-col">
    	<ul>
        <li><div class="legende">c</div> Cours</li>
        <li><div class="legende">e</div> Exercice</li>
        <li><div class="legende">p</div> Cours pratiques</li>
        <li><div class="legende">*</div> Cours &agrave; option</li>
        <li><div class="img_legende francais"><div class="diet_icon"></div></div>Cours en fran&ccedil;ais</li>
        <li><div class="img_legende anglais"><div class="diet_icon"></div></div>Cours en anglais</li>
        <li><div class="img_legende allemand"><div class="diet_icon"></div></div>Cours en allemend</li>
        </ul>
      </div>
      <div class="box-col">
      <ul>
        <li><div class="img_legende sun"><div class="little_icon"></div></div>&nbsp;Session d'&eacute;t&eacute;</li>
        <li><div class="img_legende winter"><div class="little_icon"></div></div>&nbsp;Session d'hiver</li>
        <li><div class="img_legende printemps"><div class="little_icon"></div></div>&nbsp;Session printemps</li>
        <li><div class="img_legende automne"><div class="little_icon"></div></div>&nbsp;Session d'automne</li>
       </ul>
      </div>
      <div class="clear"></div>
    </div>

      </div>

      <div style="clear:both"></div>
    </div>
    <div id="footer">
      <ul>
        <li>Plan du site</li>
        <li>Contact</li>
        <li>Accessibilit&eacute;</li>
        <li class="copyright">&copy; 2010 EPFL tous droits r&eacute;serv&eacute;s</li>
        <li><a href="#top" class="hidden">Retour en haut de la page</a></li>
      </ul>
    </div>
  </body>
</html>
