<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="headerversion" content="1.75"/>
    <meta name="headerdate" content="2010-11-19"/>

    <title>Icon Test Page</title>
    <link href="../../css/epfl.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../../css/sv.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../../css/print.css" media="print" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://www.epfl.ch/js/jquery-epfl.min.js"></script>
    <script type="text/javascript">jQuery.noConflict();</script>
    <script type="text/javascript" src="http://www.epfl.ch/js/globalnav.js"></script>
  </head>

  <body>
  <h1>Test page for the icons</h1>
  <h2>Buttons (with roll-over effect)</h2>
  <div class="button print"><a href="javaScript:window.print()"><button class="icon"></button><span class="label">Print</span></a></div><div class="clear">&nbsp;</div>
  <div class="button feed"><a href="javaScript:window.print()"><button class="icon"></button><span class="label">Feed</span></a></div><div class="clear">&nbsp;</div>
  <div class="button share"><a href="javaScript:window.print()"><button class="icon"></button><span class="label">Share</span></a></div><div class="clear">&nbsp;</div>
  <div class="button information"><a href="javaScript:window.print()"><button class="icon"></button><span class="label">Information</span></a></div><div class="clear">&nbsp;</div>
  <div class="button question"><a href="javaScript:window.print()"><button class="icon"></button><span class="label">Question</span></a></div><div class="clear">&nbsp;</div>
  <div class="button showall"><a href="javaScript:window.print()"><button class="icon"></button><span class="label">Show all</span></a></div><div class="clear">&nbsp;</div>
  <div class="button forward"><a href="javaScript:window.print()"><button class="icon"></button><span class="label">Forward</span></a></div><div class="clear">&nbsp;</div>
  <div class="button mail"><a href="javaScript:window.print()"><button class="icon"></button><span class="label">Mail</span></a></div><div class="clear">&nbsp;</div>
  <div class="button podcast"><a href="javaScript:window.print()"><button class="icon"></button><span class="label">Podcast (epfl only)</span></a></div><div class="clear">&nbsp;</div>
  <div class="button contact"><a href="javaScript:window.print()"><button class="icon"></button><span class="label">Contact</span></a></div><div class="clear">&nbsp;</div>
  <div class="button gototop"><a href="javaScript:window.print()"><button class="icon"></button><span class="label">Goto top</span></a></div><div class="clear">&nbsp;</div>
  <div class="button previous"><a href="javaScript:window.print()"><button class="icon"></button><span class="label">Previous</span></a></div><div class="clear">&nbsp;</div>
  <div class="button checkmark"><a href="javaScript:window.print()"><button class="icon"></button><span class="label">Checkmark</span></a></div><div class="clear">&nbsp;</div>
  <div class="button cross"><a href="javaScript:window.print()"><button class="icon"></button><span class="label">Cross</span></a></div><div class="clear">&nbsp;</div>
  <div class="button comment"><a href="javaScript:window.print()"><button class="icon"></button><span class="label">Comment</span></a></div><div class="clear">&nbsp;</div>
  <div class="button edit"><a href="javaScript:window.print()"><button class="icon"></button><span class="label">Edit</span></a></div><div class="clear">&nbsp;</div>
  <div class="button file"><a href="javaScript:window.print()"><button class="icon"></button><span class="label">File</span></a></div><div class="clear">&nbsp;</div>
  <div class="button pdffile"><a href="javaScript:window.print()"><button class="icon"></button><span class="label">PDF File</span></a></div><div class="clear">&nbsp;</div>
  <div class="button ok"><a href="javaScript:window.print()"><button class="icon"></button><span class="label">OK</span></a></div><div class="clear">&nbsp;</div>
  <div class="button stats"><a href="javaScript:window.print()"><button class="icon"></button><span class="label">Stats</span></a></div><div class="clear">&nbsp;</div>
  <div class="button gotostart"><a href="javaScript:window.print()"><button class="icon"></button><span class="label">Goto start</span></a></div><div class="clear">&nbsp;</div>
  <div class="button square"><a href="javaScript:window.print()"><button class="icon"></button><span class="label">Square</span></a></div><div class="clear">&nbsp;</div>
  <div class="button down"><a href="javaScript:window.print()"><button class="icon"></button><span class="label">Down</span></a></div><div class="clear">&nbsp;</div>

  <div class="clear">&nbsp;</div>
  <p>&nbsp;</p>
  <h2>Icons</h2>
  <div class="francais"><div class="diet_icon"></div></div> Fran&ccedil;ais <div class="clear">&nbsp;</div>
  <div class="anglais"><div class="diet_icon"></div></div> Anglais <div class="clear">&nbsp;</div>
  <div class="allemand"><div class="diet_icon"></div></div> Allemand <div class="clear">&nbsp;</div>
  <div class="winter"><div class="little_icon"></div></div> Winter <div class="clear">&nbsp;</div>
  <div class="sun"><div class="little_icon"></div></div> Sun <div class="clear">&nbsp;</div>
  <div class="printemps"><div class="little_icon"></div></div> Printemps <div class="clear">&nbsp;</div>
  <div class="automne"><div class="little_icon"></div></div> Automne <div class="clear">&nbsp;</div>
  <div class="membres"><div class="large_icon"></div></div> Membres <div class="clear">&nbsp;</div>
  <div class="bs"><div class="icon"></div></div> Bachelor (epfl only) <div class="clear">&nbsp;</div>
  <div class="ms"><div class="icon"></div></div> Master (epfl only) <div class="clear">&nbsp;</div>
  <div class="phd"><div class="icon"></div></div> PhD (epfl only) <div class="clear">&nbsp;</div>
  </body>
</html>
