<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--#include virtual="../fragments/header.sig.html" -->
    <title>Laboratory of Fictive Science - LFS</title>
    <link href="http://www.epfl.ch/css/epfl.css" media="all" rel="stylesheet" type="text/css" />
    <link href="http://www.epfl.ch/css/sti.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../../css/epflPrint.css" media="print" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://www.epfl.ch/js/jquery-epfl.min.js"></script>
    <script type="text/javascript">jQuery.noConflict();</script> 
    <script type="text/javascript" src="http://www.epfl.ch/js/globalnav.js"></script>
  </head>
  <body>
<!--#include virtual="../fragments/header.fr.html" -->
    <div id="main-content">
      <ul id="breadcrumbs" title="Navigation dans l'arborescence de l'EPFL">
        <li><a href="http://www.epfl.ch/" title="Page d'accueil de l'EPFL">EPFL</a></li>
        <li><a href="http://sti.epfl.ch/" title="Faculté STI">STI</a></li>
        <li class="last">Laboratory of Fictive Science</li>
      </ul>
      <ul id="languages" title="Choix de la langue">
        <li><a href="home-en.html">English</a></li>
        <li class="current">français</li>
      </ul>
      <div style="clear:both"></div>
      
      <h1>Laboratory of Fictive Science <acronym title="Laboratory of Fictive Science" class="local-color-text">LFS</acronym></h1>
      <div id="main-navigation" class="navigation-bar">
        <ul class="topnav">
          <li class="dropdown">
            <a href="#">Éducation</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage with a veeeeeeeerrrry long title</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">Recherche</a>
            <ul class="menu hidden">
              <li><a href="#">submenu</a>
                <ul>
                  <li><a href="#">element 1</a></li>
                  <li><a href="#">element 2</a></li>
                </ul>
              </li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
          <li class="dropdown current">
            <a href="#">Services</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">News</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">Events</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">À propos du LFS</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">Contact</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
        </ul>
        <div style="clear:both"></div>
      </div>
      
      <div id="tools">
  
      </div>
      
      <div id="content" class="content">
        <img src="../img/visual-lab.jpg" alt="description"/> 
        <p class="heading">Welcome to the LFS laboratory. Le LFS s'occupe de toutes les ciences fictives prévues pour les sites de laboratoires. Comme nous n'avions pas envie d'utiliser encore un <em>Lorem ipsum</em>, ce texte d'introduction court fait son office. Boum.</p>
        <p>Le Programme doctoral Architecture et sciences de la ville (EDAR) (anciennement dénommé "Architecture, Ville, Histoire") réunit dans une même formation doctorale le monde de l’architecture et celui des sciences sociales intéressées par l’espace habité.</p>
        
        <h4>Deux principes fondamentaux</h4>

        <p>Le Programme EDAR se fonde sur deux principes fondamentaux : la relation forte et multiforme entre recherche fondamentale et recherche opérationnelle, l’interdisciplinarité.</p>

        <p>Le lien entre théorie et pratique permet de traiter le projet, quel que soit son contenu (architecture, urbanisme, développement territorial) et ses acteurs (de l’habitant isolé à la société locale tout entière), comme un objet de d’études autant que comme l’enjeu de la recherche. La réflexivité sur l’action se révèle aujourd’hui indissociable de l’action elle-même sauf à s’exposer lourdement à l’inefficacité et à l’échec. L’approche des grandes questions théoriques et épistémologiques relève donc, pour tous, d’une nécessité vitale. Cette démarche suppose de maîtriser, d’un même mouvement, la double complexité de la construction intellectuelle et de l’agir en situation. C’est ce défi que le Programme EDAR aide ses doctorants à relever.</p>

        <p>L’interdisciplinarité telle qu’elle est conçue dans le Programme EDAR est pluridimensionnelle. Elle se situe à l’intérieur de l’architecture (histoire, théorie, projet) et des sciences de la ville (géographie, sociologie urbaine, économie de l’environnement, du logement et des réseaux, urbanisme et aménagement de l’espace), mais aussi entre les deux domaines, en s’appuyant sur le rôle fédérateur des problématiques de l’urbain, de la mobilité, de l’espace et de l’habiter. Enfin l’ouverture sur les mathématiques, les sciences de la matière et de la vie et les sciences de l’ingénieur fait partie des choix primordiaux du Programme EDAR. Celui-ci entretient des rapports privilégiés avec la Faculté de l’Environnement naturel, architectural et construit, où l’interdisciplinarité et la transdisciplinarité sont fondamentales et d’où provient une grande part des enseignants et des doctorants de l’EDAR.</p>
      
      <div class="fullbox">
      <h3>Latest news</h3>
        <ul class="news-list simple-layout" title="Actualités de l'EPFL">
          <li>
            <a href="http://actualites.epfl.ch" title="Lire l'article complet"><img src="../img/4.jpg" class="news-img" alt="description"/></a>
            <div class="news-text">
              <h2>News title 1</h2>
              <p>Arma virumque cano, Troiae qui primus ab oris
Italiam, fato profugus, Laviniaque venit
litora, multum ille et terris iactatus et alto
vi superum saevae memorem Iunonis ob iram;
multa quoque et bello passus, dum conderet urbem,
inferretque deos Latio, genus unde Latinum,
Albanique patres, atque altae moenia Romae. <a href="actu.epfl.ch" title="The role of perspective functions in convexity, polyconvexity -  full article" class="read-more"></a></p>
            </div>
            <div style="clear:both"></div>
          </li>
          <li>
            <a href="http://actualites.epfl.ch" title="Lire l'article complet"><img src="../img/2.jpg" class="news-img" alt="description"/></a>
            <div class="news-text">
              <h2>News title 2</h2>
              <p>Arma virumque cano, Troiae qui primus ab oris
Italiam, fato profugus, Laviniaque venit
litora, multum ille et terris iactatus et alto
vi superum saevae memorem Iunonis ob iram;
multa quoque et bello passus, dum conderet urbem,
inferretque deos Latio, genus unde Latinum,
Albanique patres, atque altae moenia Romae.</p>

<p>Arma virumque cano, Troiae qui primus ab oris
Italiam, fato profugus, Laviniaque venit
litora, multum ille et terris iactatus et alto
vi superum saevae memorem Iunonis ob iram;
multa quoque et bello passus, dum conderet urbem,
inferretque deos Latio, genus unde Latinum,
Albanique patres, atque altae moenia Romae. 
<a href="actu.epfl.ch" title="The role of perspective functions in convexity, polyconvexity -  full article" class="read-more"></a></p>
            </div>
            <div style="clear:both"></div>
          </li>
          <li>
            <a href="http://actualites.epfl.ch" title="Accès à l'article"><img src="../img/3.jpg" class="news-img" alt="description"/></a>
            <div class="news-text">
              <h2>News title 3</h2>
              <p>Arma virumque cano, Troiae qui primus ab oris
Italiam, fato profugus, Laviniaque venit
litora, multum ille et terris iactatus et alto
vi superum saevae memorem Iunonis ob iram;
multa quoque et bello passus, dum conderet urbem,
inferretque deos Latio, genus unde Latinum,
Albanique patres, atque altae moenia Romae. <a href="actu.epfl.ch" title="The role of perspective functions in convexity, polyconvexity -  full article" class="read-more"></a></p>
            </div>
            <div style="clear:both"></div>
          </li>
        </ul>
      </div>
      </div>

      <div class="right-col">
  	    <div class="box box-flat-panel home-navpanel local-color">
  	      <h3>Spécialités du LFS</h3>
  	      <ul>
  	        <li>Application de la fiction</li>
  	        <li>Étude des effets de la fiction sur le design</li>
  	        <li>Fiction cognitive: le pas impossible?</li>
  	        <li>Metafictivité de la science</li>
  	        <li>Fictions fictives et autres singularités</li>
  	        <li>D'autres choses passionnantes</li>
  	      </ul>
  	    </div>
        <div class="box two-cols">
          <h3>Contacts</h3>
          <div class="box-col">
            <h4>Laboratory of Fictive Science (LFS)</h4>
            <p>EPFL-FS-FI-LFS<br />
            Station fictive<br />
            CH-1015 Lausanne<br/>
            <a href="http://plan.epfl.ch?unit=LTS">Show on campus map</a>
            </p>
          </div>
          <div class="box-col contact-phone">
            Tél: +41 (0) 21 693 00 00<br/>
            Fax: +41 (0) 21 693 00 00
          </div>
          <div style="clear: both;"></div>
        </div>
        <div class="box two-cols">
          <h3>Services aux Étudiants</h3>
          <ul class="link-list">
            <li><a href="#">Premier lien très long qui  doit donc atteindre 2 lignes</a></li>
            <li><a href="#">deuxième lien</a></li>
            <li><a href="#">troisième lien</a></li>
            <li><a href="#">quatrième lien</a></li>
            <li><a href="#">cinquième lien</a></li>
            <li><a href="#">sixième lien</a></li>
          </ul>
          <div style="clear: both"></div>
        </div>
        <div class="box">
          <h3>Boîte libre</h3>
          <h4>De Gallos Helvetii</h4>
          <p>Qua de causa Helvetii quoque reliquos Gallos virtute praecedunt, quod fere cotidianis proeliis cum Germanis contendunt, cum aut suis finibus eos prohibent aut ipsi in eorum finibus bellum gerunt.
          </p>
        </div>

      </div>
      
      <div style="clear:both"></div>
    </div>
    <div id="footer">
      <ul>
        <li>Plan du site</li>
        <li>Contact</li>
        <li>Accessibilité</li>
        <li class="copyright">&copy; 2010 EPFL tous droits réservés</li>
        <li><a href="#top" class="hidden">Retour en haut de la page</a></li>
      </ul>
    </div>
  </body>
</html>
