<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--#include virtual="../fragments/header.sig.html" -->
    <title>LFS - Laboratory of Fictive Science: welcome</title>
    <link href="http://www.epfl.ch/css/epfl.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="http://www.epfl.ch/css/sb.css" media="all" rel="stylesheet" type="text/css"/>

    <!-- [if lt IE8] >
    <link href="../../css/ieSpec.css" rel="stylesheet" type="text/css" />
    <![endif] -->
    
    <script type="text/javascript" src="http://www.epfl.ch/js/jquery-epfl.min.js"></script>
    <script type="text/javascript">jQuery.noConflict();</script>
    <script type="text/javascript" src="http://www.epfl.ch/js/globalnav.js"></script>
  </head>
  <body>
<!--#include virtual="../fragments/header.fr.html" -->
    <div id="main-content">
      <ul id="breadcrumbs" title="Navigation dans l'arborescence de l'EPFL">
        <li><a href="http://www.epfl.ch/" title="Page d'accueil de l'EPFL">EPFL</a></li>
        <li class="last"><a href="../../cms/site/ic_import/page-5287-fr.html">Faculté Environnement Naturel, Architecture et Construit</a></li>
      </ul>
      <ul id="languages" title="Choix de la langue">
        <li><a href="home-en.html">English</a></li>
        <li class="current">français</li>
      </ul>
      <div class="clear"></div>
    
      <h1><a href="">École polytechnique fédérale de Lausanne <acronym title="École Polytechnique Fédérale de Lausanne" class="local-color-text">EPFL</acronym></a></h1>
      
      <div id="main-navigation" class="navigation-bar">
        <ul class="topnav">
          <li class="dropdown">
            <a href="#">Architecture</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage with a veeeeeeeerrrry long title</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">Génie civil</a>
            <ul class="menu hidden">
              <li>
                <a href="#">submenu</a>
                <ul>
                  <li><a href="#">element 1</a></li>
                  <li><a href="#">element 2</a></li>
                </ul>
              </li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
          <li class="dropdown inpath">
            <a href="#">Environnement</a>
            <ul class="menu hidden">
              <li class="current"><a href="#">subpage</a></li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">Territoire</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">À propos de l'ENAC</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
      
      <div id="tools">
        <div class="button print"><a href="toto.html"><button class="icon"></button><span class="label">Imprimer</span></a></div>
        <div class="button feed"><a href="toto.html"><button class="icon"></button><span class="label">RSS feed</span></a></div>
        <div class="button share"><a href="toto.html"><button class="icon"></button><span class="label">Share</span></a></div>
      </div>
      
      <div id="content" class="content">
        <h2>Titre de la page</h2>
        <img src="../img/img_news_652x278.jpg" alt="description"/>

        <p class="heading">The purpose of this HTML is to help determine what default settings are with CSS and to make sure that all
        possible HTML Elements are included in this HTML so as to not miss any possible Elements when designing a
        site.</p>
    
        <hr />
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>   
        <h6>Heading 6</h6>
        
        <hr />
        <h3><a href="">Heading 3 with link</a></h3>
        <h4><a href="">Heading 4 with link</a></h4>
        <h5><a href="">Heading 5 with link</a></h5>
        <h6><a href="">Heading 6 with link</a></h6>
        
        <hr />
        <h3 id="paragraph">Paragraph</h3>
        <p>Lçrem ipsum dolor sit amet, <a title="test link" href="#">test link</a> adipiscing elit. <b>Bold text</b> Nullam dignissim
        convallis est. <i>italic text</i> ÉÊÅisque aliquam. Donec faucibus. <strong>strong text</strong> Nunc iaculis suscipit dui. <em>emphasized text</em> Nam sit amet sem. Aliquam libero
        nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis
        mi volutpat justo, eu <u>underlined text</u> enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien
        fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi
        imperdiet augue quis tellus.</p>
    
        <p>Lorem ipsum dolor sit amet, <em>emphasis</em> consectetuer adipiscing elit. Nullam dignissim convallis est.
        Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at,
        tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo,
        eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris
        a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
    
        <hr />
        <h3 id="list_types">List Types</h3>
        <h4>Definition List</h4>
        <dl>
          <dt>Definition term 1</dt>
          <dd>A first definition.</dd>
          <dd>other definition</dd>
          <dt>Definition term 2</dt>
          <dd>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</dd>
          <dd>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</dd>
        </dl>
        
        <h4>Ordered List</h4>
        <ol>
          <li>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</li>
          <li>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</li>
          <li>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</li>
        </ol>
    
        <h4>Unordered List</h4>
        <ul>
          <li>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</li>
          <li>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</li>
          <li>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</li>
        </ul>
        
        <h4>Nested Lists, unordered</h4>
        <ul>
        <li>Lorem ipsum dolor sit
        <ul>
        <li>Lorem ipsum dolor sit
        <ul>
        <li>Lorem ipsum dolor sit
        <ul>
        <li>Lorem ipsum dolor sit
        <ul>
        <li>Lorem ipsum dolor sit</li>
        <li>Lorem ipsum dolor sit</li>
        <li>Lorem ipsum dolor sit</li>
        <li>Lorem ipsum dolor sit</li>
        </ul>
        </li>
        </ul>
        </li>
        <li>Lorem ipsum dolor sit</li>
        <li>Lorem ipsum dolor sit</li>
        <li>Lorem ipsum dolor sit</li>
        </ul>
        </li>
        <li>Lorem ipsum dolor sit</li>
        </ul>
        </li>
        <li>Lorem ipsum dolor sit</li>
        <li>Lorem ipsum dolor sit</li>
        </ul>
        
        <h4>Nested Lists, ordered</h4>
        <ol>
        <li>Lorem ipsum dolor sit
        <ol>
        <li>Lorem ipsum dolor sit
        <ol>
        <li>Lorem ipsum dolor sit
        <ol>
        <li>Lorem ipsum dolor sit
        <ol>
        <li>Lorem ipsum dolor sit</li>
        <li>Lorem ipsum dolor sit</li>
        </ol>
        </li>
        <li>Lorem ipsum dolor sit</li>
        <li>Lorem ipsum dolor sit</li>
        </ol>
        </li>
        </ol>
        </li>
        <li>Lorem ipsum dolor sit</li>
        <li>Lorem ipsum dolor sit</li>
        <li>Lorem ipsum dolor sit</li>
        </ol>
        </li>
        </ol>
        
        <h4>Nested Lists, mixed</h4>
        <ol>
        <li>Lorem ipsum dolor sit
        <ul>
        <li>Lorem ipsum dolor sit
        <ul>
        <li>Lorem ipsum dolor sit
        <ol>
        <li>Lorem ipsum dolor sit
        <ul>
        <li>Lorem ipsum dolor sit</li>
        <li>Lorem ipsum dolor sit</li>
        <li>Lorem ipsum dolor sit</li>
        </ul>
        </li>
        <li>Lorem ipsum dolor sit</li>
        <li>Lorem ipsum dolor sit</li>
        </ol>
        </li>
        </ul>
        </li>
        </ul>
        </li>
        <li>Lorem ipsum dolor sit</li>
        </ol>
        
        <hr />
        
        <h3>Tables, no class</h3>
         <table>
          <caption>Table caption</caption>
            <tr>
              <th>Table Header 1</th>
              <th>Table Header 2</th>
              <th>Table Header 3</th>
            </tr>
            <tr>
              <td><a href="#">Division 1 (link)</a></td>
              <td>Division 2</td>
              <td>Division 3</td>
            </tr>
            <tr class="even">
              <td>Division 1</td>
              <td>Division 2</td>
              <td>Division 3</td>
            </tr>
            <tr>
              <td>Division 1</td>
              <td>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque.</td>
              <td>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque.</td>
            </tr>
        </table>
               
        <h3 id="tables">Tables, class table</h3>
        <table class="table">
        <caption>Table caption</caption>
            <tr>
              <th>Table Header 1</th>
              <th>Table Header 2</th>
              <th>Table Header 3</th>
            </tr>
            <tr>
              <td><a href="#">Division 1 (link)</a></td>
              <td>Division 2</td>
              <td>Division 3</td>
            </tr>
            <tr class="even">
              <td>Division 1</td>
              <td>Division 2</td>
              <td>Division 3</td>
            </tr>
            <tr>
              <td>Division 1</td>
              <td>Division 2</td>
              <td>Division 3</td>
            </tr>
        </table>
        

<h3>Tables, class table2</h3>
<table class="table2">
<caption>Table caption, a little bit longer... Lorem ipsum dolor sit amet consectetuer ... Lorem ipsum dolor sit amet consectetuer ... Lorem ipsum dolor sit amet consectetuer</caption>
<tr>
<th>Header 1</th>
<th>Header 2</th>
<th>Header 3</th>
<th>Header 4</th>
</tr>

<tr>
<td>asdfl sdad</td>
<td>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</td>
<td>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</td>
<td>asdf asdf</td>
</tr>

<tr>
<td>asdflj asdflkj</td>
<td> adsflj asdflkj aesrioua svbl kj</td>
<td>asdflj asdfl kjasdf</td>
<td>adslfja roeiur jabklj aweroiusa d</td>
</tr>

<tr>
<td>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</td>
<td>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</td>
<td>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</td>
<td>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</td>
</tr>
</table>
        
        <hr />
        

        <h3 id="misc">Misc Stuff &ndash; abbr, acronym, pre, code, sub, sup, etc.</h3>
    
        <p>Lorem <sup>superscript</sup> dolor <sub>subscript</sub> amet, consectetuer adipiscing elit. Nullam dignissim
        convallis est. Quisque aliquam. <cite>citation dans le texte</cite>. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero
        nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis
        mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien
        fringilla nonummy. <acronym title="National Basketball Association" class="local-color-text">NBA</acronym> Mauris a ante. Suspendisse
        quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus. <abbr title="Avenue">AVE</abbr></p>
        
        <pre>
    Lorem ipsum dolor sit amet,
     consectetuer adipiscing elit.
     Nullam dignissim convallis est.
     Quisque aliquam. Donec faucibus.
    Nunc iaculis suscipit dui.
    Nam sit amet sem.
    Aliquam libero nisi, imperdiet at,
     tincidunt nec, gravida vehicula,
     nisl.
    Praesent mattis, massa quis
    luctus fermentum, turpis mi
    volutpat justo, eu volutpat
    enim diam eget metus.
    Maecenas ornare tortor.
    Donec sed tellus eget sapien
     fringilla nonummy.
    <acronym title="National Basketball Association">NBA</acronym>
    Mauris a ante. Suspendisse
     quam sem, consequat at,
    commodo vitae, feugiat in,
    nunc. Morbi imperdiet augue
     quis tellus.
    <abbr title="Avenue">AVE</abbr>
        </pre>
        <blockquote>
          <p>“This stylesheet is going to help so freaking much.” <br />-Blockquote</p>
        </blockquote>
        
        <h3>Some longer quot</h3>
        <blockquote>
        <p>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p></blockquote>
        

<p>&nbsp;</p>        
<hr />
<p>&nbsp;</p>
<h2>This could be a live content</h2>
<h3><a name="bla"></a>Title number one</h3>
<p>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p>
<img src="../../img/science_stolen.jpg" align="left" style="width:200px;" class="left">
<p>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p>
<p>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p>
<h3>Title number two</h3>
<p>Lorem ipsum dolor sit amet consectetuer <a href="">Sed dui egestas ridiculus</a> neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p>
<img src="../../img/science_stolen.jpg" align="left" style="width:200px;" class="left">
<ul>
<li>Element 1</li>
<li>Element 2
<ul>
<li>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis.</li>
<li>Element 2.2</li>
<li>Element 2.3</li>
</ul>
</li>
<li>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis.</li>
</ul>
<p>Lorem ipsum dolor sit amet consectetuer <a href="">Sed dui egestas ridiculus</a> neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p>
<ol>
<li>Element 1</li>
<li>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis.
<ol>
<li>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis.</li>
<li>Element 2.2</li>
<li>Element 2.3</li>
</ol>
</li>
<li>Element 3</li>
</ol>
<p>Lorem ipsum dolor sit amet consectetuer <a href="">Sed dui egestas ridiculus</a> neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p>
<ol>
<li>Element 1</li>
<li>Element 2
<ul>
<li>Element 2.1</li>
<li>Element 2.2</li>
<li>Element 2.3</li>
</ul>
</li>
<li>Element 3</li>
</ol>
<p>Lorem ipsum dolor sit amet consectetuer <a href="">Sed dui egestas ridiculus</a> neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p>
<ul>
<li>Element 1</li>
<li>Element 2
<ol>
<li>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis.</li>
<li>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis.</li>
<li>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis.</li>
</ol>
</li>
<li>Element 3</li>
</ul>

<h3>Title number three. This time it has to be very long. People love to give long titles...</h3>
<img src="../../img/science_stolen.jpg" align="right" style="width:200px;"  class="right">
<ul>
<li>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque.</li>
<li>Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis.</li>
<li>Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</li>
</ul>
<p>Lorem ipsum dolor sit amet <a href="">consectetuer</a> Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p>
<ol>
<li>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque.</li>
<li>Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam.</li>
<li>Tortor sed gravida pede Nam Praesent.</li>
</ol>
<h3>Title four</h3>
<img src="../../img/science_stolen.jpg" style="width:200px; float:left;" class="left">
<ul>
<li>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque.</li>
<li>Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis.</li>
<li>Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</li>
</ul>
<p>Lorem ipsum dolor sit amet <a href="">consectetuer</a> Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p>
<h4>small title</h4>
<p>Lorem ipsum dolor sit amet <a href="">consectetuer</a> Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p>
<h4>small title</h4>
<p>Lorem ipsum dolor sit amet <a href="">consectetuer</a> Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p>

<h3>Another title</h3>
<img src="../../img/science_stolen.jpg" style="width:200px; float:left;"  class="left">
<ul>
<li>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque.</li>
<li>Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis.</li>
</ul>
<p>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p>
<img src="../../img/science_stolen.jpg" style="width:200px; float:left;"  class="left">
<ol>
<li>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque.</li>
<li>Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis.</li>
</ol>
<p>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p>
<img src="../../img/science_stolen.jpg" style="width:200px; float:left;"  class="left">
<ol>
<li>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque.</li>
<li>Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis.</li>
<li>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque.</li>
<li>Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis.</li>
<li>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque.</li>
<li>Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis.</li>
<li>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque.</li>
<li>Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis.</li>
</ol>
<p>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p>


<h2>Some Table Tests</h2>
<h3>Title number one</h3>
<p>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p>
<table>
<tr>
<th>asdlfjsadf</th>
<th>asdlfj sadf</th>
<th>asd aerasdl asd</th>
</tr>
<tr>
<td>Lorem ipsum dolor</td>
<td>Lorem ipsum dolor</td>
<td>Lorem ipsum dolor</td>
</tr>
<tr>
<td>Lorem ipsum dolor eget orci nascetur</td>
<td>Lorem ipsum dolor eget orci nascetur</td>
<td>Lorem ipsum dolor eget orci nascetur</td>
</tr>
</table>
<p>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p>
<table class="table">
<tr>
<th>asdlfjsadf</th>
<th>asdlfj sadf</th>
<th>asd aerasdl asd</th>
</tr>
<tr>
<td>Lorem ipsum dolor</td>
<td>Lorem ipsum dolor</td>
<td>Lorem ipsum dolor</td>
</tr>
<tr>
<td>Lorem ipsum dolor eget orci nascetur</td>
<td>Lorem ipsum dolor eget orci nascetur</td>
<td>Lorem ipsum dolor eget orci nascetur</td>
</tr>
</table>
<p>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p>
<table class="table2">
<tr>
<th>asdlfjsadf</th>
<th>asdlfj sadf</th>
<th>asd aerasdl asd</th>
</tr>
<tr>
<td>Lorem ipsum dolor</td>
<td>Lorem ipsum dolor</td>
<td>Lorem ipsum dolor</td>
</tr>
<tr>
<td>Lorem ipsum dolor eget orci nascetur</td>
<td>Lorem ipsum dolor eget orci nascetur</td>
<td>Lorem ipsum dolor eget orci nascetur</td>
</tr>
</table>
<p>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p>

<h4>Small title</h4>
<table>
<tr>
<th>asdlfjsadf</th>
<th>asdlfj sadf</th>
<th>asd aerasdl asd</th>
</tr>
<tr>
<td>Lorem ipsum dolor</td>
<td>Lorem ipsum dolor</td>
<td>Lorem ipsum dolor</td>
</tr>
<tr>
<td>Lorem ipsum dolor eget orci nascetur</td>
<td>Lorem ipsum dolor eget orci nascetur</td>
<td>Lorem ipsum dolor eget orci nascetur</td>
</tr>
</table>
<h4>Another small title</h4>
<p>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p>
<h3>A larger title</h3>
<table>
<tr>
<th>asdlfjsadf</th>
<th>asdlfj sadf</th>
<th>asd aerasdl asd</th>
</tr>
<tr>
<td>Lorem ipsum dolor</td>
<td>Lorem ipsum dolor</td>
<td>Lorem ipsum dolor</td>
</tr>
<tr>
<td>Lorem ipsum dolor eget orci nascetur</td>
<td>Lorem ipsum dolor eget orci nascetur</td>
<td>Lorem ipsum dolor eget orci nascetur</td>
</tr>
</table>
<h3>Another larger title</h3>
<p>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p>
<table>
<tr>
<th>asdlfjsadf</th>
<th>asdlfj sadf</th>
<th>asd aerasdl asd</th>
</tr>
<tr>
<td>Lorem ipsum dolor
<ul>
<li>asldfjk asdfl</li>
<li>alsdfjasdfl</li>
<li>asfl aeraio</li>
</ul>
</td>
<td>Lorem ipsum dolor</td>
<td>
<ul>
<li>aslkfj aerio adsf</li>
<li>alkj dfaelir b
<ul>
<li>asdfljasdf</li>
<li>asdf</li>
</ul>
</li>
<li>epr bpaer klasd</li>
</ul>
</td>
</tr>
<tr>
<td>Lorem ipsum dolor eget orci nascetur</td>
<td>
<ol>
<li>Lorem</li>
<li>ipsum</li>
<li>dolor</li>
<li>eget</li>
</ol></td>
<td>Lorem ipsum dolor eget orci nascetur</td>
</tr>
</table>
<p>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p>
<table class="table">
<tr>
<th>asdlfjsadf</th>
<th>asdlfj sadf</th>
<th>asd aerasdl asd</th>
</tr>
<tr>
<td>Lorem ipsum dolor
<ul>
<li>asldfjk asdfl</li>
<li>alsdfjasdfl
<ol>
<li>asofu aerlj</li>
<li>aoiuerla aesr</li>
<li>paewrbvl</li>
</ol>
</li>
<li>asfl aeraio</li>
</ul>
</td>
<td>Lorem ipsum dolor</td>
<td>
<ul>
<li>aslkfj aerio adsf</li>
<li>alkj dfaelir b</li>
<li>epr bpaer klasd</li>
</ul>
</td>
</tr>
<tr>
<td>Lorem ipsum dolor eget orci nascetur</td>
<td>
<ol>
<li>Lorem</li>
<li>ipsum</li>
<li>dolor</li>
<li>eget</li>
</ol></td>
<td>Lorem ipsum dolor eget orci nascetur</td>
</tr>
</table>
<p>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p>
<table class="table2">
<tr>
<th>asdlfjsadf</th>
<th>asdlfj sadf</th>
<th>asd aerasdl asd</th>
</tr>
<tr>
<td>Lorem ipsum dolor
<ul>
<li>asldfjk asdfl</li>
<li>alsdfjasdfl</li>
<li>asfl aeraio</li>
</ul>
</td>
<td>Lorem ipsum dolor</td>
<td>
<ul>
<li>aslkfj aerio adsf</li>
<li>alkj dfaelir b</li>
<li>epr bpaer klasd</li>
</ul>
</td>
</tr>
<tr>
<td>Lorem ipsum dolor eget orci nascetur</td>
<td>
<ol>
<li>Lorem
<ul>
<li>ipsum
<ol>
<li>dolor</li>
<li>eget</li>
</ol>
</li>
</ul>
</li>
</ol></td>
<td>Lorem ipsum dolor eget orci nascetur</td>
</tr>
</table>
<hr />
<h3>A misused table</h3>
<table>
<tr>
<td><img src="../../img/science_stolen.jpg" style="width:200px;"><br />
Image caption</td>
<td>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</td>
</tr>
</table>
<p>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p>
<table class="table">
<tr>
<td><img src="../../img/science_stolen.jpg" style="width:200px;"><br />
Image caption</td>
<td>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</td>
</tr>
</table>
<p>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</p>
<table class="table2">
<tr>
<td><img src="../../img/science_stolen.jpg" style="width:200px;"><br />
Image caption</td>
<td>Lorem ipsum dolor sit amet consectetuer Sed dui egestas ridiculus neque. Eget orci nascetur rutrum Cum sed lacus sollicitudin convallis sodales turpis. Aenean In ligula est pellentesque Nam Nam et sed Phasellus tempus. Eu orci dignissim eu neque et orci orci at consectetuer Nam. Tortor sed gravida pede Nam Praesent.</td>
</tr>
</table>

      </div>
      
      <!-- ================================================================================================================= -->
      
      <div class="right-col">
        <ul class="tree">
          <li>
            <a href="#">Architecture</a>
            <ul>
              <li>
              <a href="#">Submenu 1</a>
                <ul>
                  <li><a href="#">Subsubmenu I</a></li>
                  <li><a href="#">Subsubmenu II</a></li>
                  <li><a href="#">Subsubmenu III</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="inpath">
            <a href="#">Génie civil</a>
            <ul>
              <li class="inpath">
                <a href="#">Submenu 1</a>
                <ul>
                  <li class="current inpath">
                    <a href="#">Page actuelle</a>
                    <ul>
                      <li class=""><a href="#">Subsubsubmenu 1</a></li>
                      <li><a href="#">Subsubsubmenu 2 which is very long and should span over 2 lines.</a></li>
                      <li><a href="#">Subsubsubmenu 3</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Subsubmenu 2</a></li>
                  <li><a href="#">Subsubmenu 3</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Submenu 2</a>
                <ul>
                  <li>
                    <a href="#">Subsubmenu 1</a>
                    <ul>
                      <li><a href="#">Subsubsubmenu 1</a></li>
                      <li><a href="#">Subsubsubmenu 2</a></li>
                      <li><a href="#">Subsubsubmenu 3</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Subsubmenu 2</a></li>
                  <li><a href="#">Subsubmenu 3</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#">Environnement</a></li>
          <li><a href="#">Territoire</a></li>
          <li><a href="#">À propos de l'ENAC</a></li>
        </ul>
        
        <div class="box two-cols">
          <h3>Contacts</h3>
          <div class="box-col">
            <h5>Laboratory of Fictive Science (LFS)</h5>
            <p>EPFL-FS-FI-LFS<br/>
                Station fictive<br/>
                CH-1015 Lausanne<br/>
                <a href="http://plan.epfl.ch?unit=LTS">Show on campus map</a>
            </p>
          </div>
          <div class="box-col">
            Tel: +41 (0) 21 693 00 00<br/>
            Fax: +41 (0) 21 693 00 00
          </div>
          <div class="clear"></div>
        </div>
    
        <div class="box">
          <h3>Bo&icirc;te libre</h3>
          <h5>De Gallos Helvetii</h5>
          <p>Qua de causa Helvetii quoque reliquos Gallos virtute praecedunt, quod fere cotidianis proeliis cum Germanis
            contendunt, cum aut suis finibus eos prohibent aut ipsi in eorum finibus bellum gerunt.</p>
        </div>

        <div class="box two-cols">
          <h3>Services aux Étudiants</h3>
          <ul class="link-list">
            <li><a href="#">Premier lien très long qui doit donc atteindre 2 lignes</a></li>
            <li><a href="#">deuxième lien</a></li>
            <li><a href="#">troisième lien</a></li>
            <li><a href="#">quatrième lien</a></li>
            <li><a href="#">cinquième lien</a></li>
            <li><a href="#">sixième lien</a></li>
          </ul>
        </div>
      </div>
      
      <div class="clear"></div>
    </div>

    <div id="footer">
      <ul>
        <li><a href="#">Plan du site</a></li>
        <li><a href="mailto:webmaster@epfl.ch">Contact</a></li>
        <li><a href="http://www.epfl.ch/accessibility.fr.shtml">Accessibilité</a></li>
        <li class="copyright">&copy; 2010 EPFL tous droits réservés</li>
        <li><a href="#top" class="hidden">Retour en haut de la page</a></li>
      </ul>
    </div>
  </body>
</html>
