<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />    
    <title>EPFL | École Polytechnique Fédérale de Lausanne - Page d'accueil</title>
    <link href="../css/epfl.css" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="../js/jquery-ui-1.7.2.custom.min.js"></script>
    <script type="text/javascript" src="../js/jquery.tools.min.js"></script>
    <script type="text/javascript">jQuery.noConflict();</script> 
    <script type="text/javascript" src="../js/globalnav.js"></script> 
  </head>
  <body>
  
    <div id="footer">
      <ul>
        <li>Plan du site</li>
        <li>Contact</li>
        <li>Accessibilité</li>
        <li class="copyright">&copy; 2010 EPFL tous droits réservés</li>
        <li><a href="#top" class="hidden">Retour en haut de la page</a>
      </ul>
    </div>
    
  </body>
</html>