.home {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.65em;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	line-height: normal;


}
.menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.65em;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	line-height: normal;
	font-variant: normal;




}
.sousMenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.65em;
	font-style: normal;
	font-weight: bold;
	color: #0099CC;
	text-decoration: none;


}
.menuSelect {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.65em;
	font-style: normal;
	font-weight: bold;
	color: #FF0000;
	line-height: normal;

}
a:hover {
	color: #FF0000;
}
.homeDeux {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.65em;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;

}
.titreGros {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-style: normal;
	font-weight: bold;
}
.tirets {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.65em;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	line-height: normal;
	font-variant: normal;
}
.titreGrosBleu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-style: normal;
	font-weight: bold;
	color: #0099CC;
	text-decoration: none;


}
a:visited {
}
