<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--#include virtual="../fragments/header.sig.html" -->
<title>EPFL | École Polytechnique Fédérale de Lausanne - Page d'accueil</title>
<link href="//www.epfl.ch/css/epfl.css" media="all" rel="stylesheet" type="text/css" />
<link href="../../css/search.css" media="all" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//www.epfl.ch/js/jquery-epfl.min.js"></script>
<script type="text/javascript">jQuery.noConflict();</script>
<script type="text/javascript" src="//www.epfl.ch/js/globalnav.js"></script>
</head>
<body>
<!--#include virtual="../fragments/header.fr.html" -->
<div id="main-content">
  <ul id="breadcrumbs" title="Navigation dans l'arborescence de l'EPFL">
    <li><a href="//www.epfl.ch/" title="Page d'accueil de l'EPFL">EPFL</a></li>
    <li class="last"><a href="../../cms/site/ic_import/page-5287-fr.html">Faculté Environnement Naturel, Architecture et Construit</a></li>
  </ul>
  <ul id="languages" title="Choix de la langue">
    <li><a href="home-en.html">English</a></li>
    <li class="current">français</li>
  </ul>
  <div style="clear:both"></div>
  <h1>Recherche : Aude</h1>
  <div id="main-navigation" class="navigation-bar">
    <ul class="topnav">
      <li class="dropdown"> <a href="#">Annuaire</a>
        <ul class="menu hidden">
          <li><a href="#">subpage</a></li>
          <li><a href="#">subpage with a veeeeeeeerrrry long title</a></li>
        </ul>
      </li>
      <li class="dropdown"> <a href="#">Web EPFL</a>
        <ul class="menu hidden">
          <li><a href="#">submenu</a>
            <ul>
              <li><a href="#">element 1</a></li>
              <li><a href="#">element 2</a></li>
            </ul>
          </li>
          <li><a href="#">subpage 2</a></li>
        </ul>
      </li>
      <li class="dropdown"> <a href="#">Publications</a>
        <ul class="menu hidden">
          <li><a href="#">subpage</a></li>
          <li><a href="#">subpage 2</a></li>
        </ul>
      </li>
      <li class="dropdown"> <a href="#">Actualités</a>
        <ul class="menu hidden">
          <li><a href="#">subpage</a></li>
          <li><a href="#">subpage 2</a></li>
        </ul>
      </li>
    </ul>
    <div style="clear:both"></div>
  </div>
  <div id="content" class="content no-border">
  <div class="results-count"><div class="selected">24 personnes trouvées</div> 24 par nom</div>
    <ol start="1" class="search-results">
        <LI>
        <div class="title"><a href="#">Cyril Friederich</a></div>
        <div class="fonction"><p>employee</p></div>
        <div class="domaines"><a href="#">epfl</a> / <a href="#">p</a> / <a href="#">p-sg</a> / <a href="#">smc</a></div>
        <div class="desk"><a href="#">MA C1 622</a></div>
        <div class="number"><a href="#">+41 21 6932287</a></div>
        <div style="clear:both"></div>
        </LI>
                <LI>
        <div class="title"><a href="#">Cyril Friederich</a></div>
        <div class="fonction">
          <p>employee</p></div>
        <div class="domaines"><a href="#">epfl</a> / <a href="#">p</a> / <a href="#">p-sg</a> / <a href="#">smc</a></div>
        <div class="desk"><a href="#">MA C1 622</a></div>
        <div class="number"><a href="#">+41 21 6932287</a></div>
        <div style="clear:both"></div>
        </LI>
                <LI>
        <div class="title"><a href="#">Cyril Friederich</a></div>
        <div class="fonction">
          <p>employee</p></div>
        <div class="domaines"><a href="#">epfl</a> / <a href="#">p</a> / <a href="#">p-sg</a> / <a href="#">smc</a></div>
        <div class="desk"><a href="#">MA C1 622</a></div>
        <div class="number"><a href="#">+41 21 6932287</a></div>
        <div style="clear:both"></div>
        </LI>
                <LI>
        <div class="title"><a href="#">Cyril Friederich</a></div>
        <div class="fonction">
          <p>employee</p></div>
        <div class="domaines"><a href="#">epfl</a> / <a href="#">p</a> / <a href="#">p-sg</a> / <a href="#">smc</a></div>
        <div class="desk"><a href="#">MA C1 622</a></div>
        <div class="number"><a href="#">+41 21 6932287</a></div>
        <div style="clear:both"></div>
        </LI>
    </ol>
    <div class="pagination">
      <ul>
        <li><a href="#" class="previous">Précédent</a></li>
        <li><a href="#">1</a></li>
        <li class="current">2</li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#" class="next">Suivant</a></li>
      </ul>
      <p class="pagination-position">Résultats 11-20 sur 74</p>
    </div>
  </div>
  <div class="right-col">
  <div class="box">
    <h3>Recherche d'une unit&Eacute;</h3>
    <input type="text" class="search" name="q" value="" id="searchform" /><button type="submit" class="search-button"  title="Rechercher">Rechercher</button>
    </div>
    <div style="clear:both"></div>
    <div class="box">
      <h3>Parcourir l'annuaire</h3>
      <ul class="link-list">
        <li><a href="#">Premier lien </a></li>
        <li><a href="#">deuxième lien</a></li>
        <li><a href="#">troisième lien</a></li>
        <li><a href="#">quatrième lien</a></li>
      </ul>
    </div>
      <div style="clear:both"></div>
  </div>
  <div style="clear:both"></div>
</div>


<div id="footer">
    <ul>
      <li><a href="//www.epfl.ch/accessibility.fr.shtml">Accessibilité</a></li>
      <li><a href="http://mediacom.epfl.ch/mentions-legales">Mentions légales</a></li>
      <li><a href="mailto:webmaster@epfl.ch">Contact</a></li>
      <li class="copyright">&copy; 2017 EPFL tous droits réservés</li>
      <li><a href="#top" class="hidden">Retour en haut de la page</a></li>
    </ul>
  </div>
</div>
</body>
</html>
