<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--#include virtual="/templates/fragments/header.sig.html" -->
    <title>EPFL | École Polytechnique Fédérale de Lausanne - Page d'accueil</title>
    <link href="//www.epfl.ch/css/epfl.css" media="all" rel="stylesheet" type="text/css" />
    <link href="//www.epfl.ch/css/homepage.css" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="//www.epfl.ch/js/jquery-epfl.min.js"></script>
    <script type="text/javascript">jQuery.noConflict();</script>
    <script type="text/javascript" src="//www.epfl.ch/js/globalnav.js"></script>
  </head>
  <body>
<!--#include virtual="/templates/fragments/header-no-local-search.fr.html" -->
    <div id="main-content">
      <ul id="languages" title="Choix de la langue">
        <li><a href="home-en.html">English</a></li>
        <li class="current">français</li>
      </ul>
      <div style="clear:both"></div>

      <h1>École polytechnique fédérale de Lausanne <acronym title="École Polytechnique Fédérale de Lausanne" class="local-color-text">EPFL</acronym></h1>
      <div class="navigation-bar" title="Navigation dans les actualités de l'EPFL">
        <div class="group">
            <span class="hidden">Afficher la </span><span>Vue par</span>
            <ul class="topnav">
              <li><a href="home-grid.html" id="grid-icon" title="Actualités présentées en grille"></a></li>
              <li><a href="home-list.html" id="list-icon" class="current" title="Actualités présentées en liste"></a></li>
              <li><a href="home-text.html" id="text-icon" title="Actualités présentées textuellement"></a></li>
            </ul>
        </div>
        <div class="group">
            <span class="hidden">Afficher les actualités en </span><span>Tri par</span>
            <ul class="topnav">
              <li class="dropdown">
                <a href="#">Thème</a>
                <ul class="menu hidden">
                  <li><a href="#">Sciences de base</a></li>
                  <li><a href="#">Santé</a></li>
                  <li><a href="#">Informatique</a></li>
                  <li><a href="#">Ingénierie</a></li>
                  <li><a href="#">Environnement</a></li>
                  <li><a href="#">Archi/Construction</a></li>
                  <li><a href="#">Société/Culture</a></li>
                  <li><a href="#">Eco/Finance</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="">Catégorie</a>
                <ul class="menu hidden">
                  <li><a href="#"><acronym title="École Polytechnique Fédérale de Lausanne">EPFL</acronym></a></li>
                  <li><a href="#">Enseignement</a></li>
                  <li><a href="#">Recherche</a></li>
                  <li><a href="#">Ingénierie</a></li>
                  <li><a href="#">Transfert technologique</a></li>
                  <li><a href="#">Vie sur le campus</a></li>
                </ul>
              </li>
            </ul>
         </div>

         <div class="group">
            <div class="button showall">
			  	<a href="toto.html">
			      <button class="icon"></button>
			      <span class="label">Toutes les actualites</span>
			    </a>
			</div>

			<div class="button feed">
			  <a href="toto.html">
			    <button class="icon"></button>
			    <span class="label">RSS</span>
			  </a>
			</div>
		</div>

		<div class="group" id="social-networks">
          <span>EPFL on </span>
          <a href="http://www.facebook.com/EPFL.ch?v=wall" class="icon facebook" alt="EPFL on Facebook"></a>
          <a href="http://twitter.com/EPFLNews#" class="icon twitter" alt="EPFL on Twitter"></a>
          <a href="http://www.youtube.com/user/epflnews" class="icon youtube" alt="EPFL on YouTube"></a>
        </div>
      </div>

      <ul class="news-list list-layout" title="Actualités de l'EPFL">
        <li class="heading-news" title="Actualité EPFL à la une">
          <div class="category-fr category-epfl"></div>
          <img src="../img/1.jpg" class="news-img" alt="description"/>
          <div class="news-text">
            <h2>Un texte assez long qui soit à peu près en français, et en anglais</h2>
            <p><span class="date">3.12.09</span>Having participated in the Breitling Orbiter adventure, Bertrand Piccard learned...
            <a href="actualited.epfl.ch" title="Read more" class="read-more"></a>
            </p>

          </div>
        </li>
        <li title="Actualité EPFL">
          <div class="category-fr category-campus"></div>
          <img src="../img/2.jpg" class="news-img" alt="description"/>
          <div class="news-text">
            <h2><a href="actualites.epfl.ch">The role of perspective functions in convexity, polyconvexity</a></h2>
            <p><span class="date">3.12.09</span>Having participated in the Breitling Orbiter adventure, Bertrand Piccard learned... <a href="actu.epfl.ch" title="The role of perspective functions in convexity, polyconvexity -  full article" class="read-more"></a>
            </p>
          </div>
        </li>
        <li title="Actualité EPFL">
          <div class="category-fr category-education"></div>
          <img src="../img/3.jpg" class="news-img" alt="description"/>
          <div class="news-text">
            <h2>Source and channel coding using Fountain codes</h2>
            <p><span class="date">3.12.09</span>Having participated in the Breitling Orbiter adventure <a href="actu.epfl.ch" title="The role of perspective functions in convexity, polyconvexity -  full article" class="read-more"></a>
            </p>
          </div>
        </li>
        <li>
          <div class="category-fr category-research"></div>
          <img src="../img/4.jpg" class="news-img" alt="description"/>
          <div class="news-text">
            <h2>Turbulent differentialy-heated captivity flow</h2>
            <p><span class="date">3.12.09</span>Having participated in the Breitling Orbiter adventure <a href="actu.epfl.ch" title="The role of perspective functions in convexity, polyconvexity -  full article" class="read-more"></a>
            </p>
          </div>
        </li>
        <li title="Actualité EPFL">
          <div class="category-fr category-news"></div>
          <img src="../img/5.jpg" class="news-img" alt="description"/>
          <div class="news-text">
            <h2>Christoph Frei to head the World Energy Council</h2>
            <p><span class="date">3.12.09</span>Having participated in the Breitling Orbiter adventure <a href="actu.epfl.ch" title="The role of perspective functions in convexity, polyconvexity -  full article" class="read-more"></a>
            </p>
          </div>
        </li>
        <li title="Actualité EPFL">
          <div class="category-fr category-innovation"></div>
          <img src="../img/6.jpg" class="news-img" alt="description"/>
          <div class="news-text">
            <h2>A new molecule to combat diabetes and obesity</h2>
            <p><span class="date">3.12.09</span>Having participated in the Breitling Orbiter adventure Bertrand Piccard <a href="actu.epfl.ch" title="The role of perspective functions in convexity, polyconvexity -  full article" class="read-more"></a>
            </p>
          </div>
        </li>
      </ul>
      <div class="right-col home-navpanel">
        <div class="unit-col">
          <div class="unit-cell portal">
            <h3>10:35</h3>
            <p>
              18.03.10<br />
              Lausanne CH
            </p>
          </div>
          <div class="unit-cell school" title="Liens">
            <ul>
              <li>Jobs</li>
              <li>Information</li>
              <li>All Services</li>
              <li>Library</li>
              <li>Associates</li>
              <li>Student guide</li>
            </ul>
          </div>
          <div class="unit-2-cells last-cell short" title="Sondage EPFL">
            <h3>Question de sciences</h3>
            <p>Quel est le temps d'incubation moyen de la grippe A?</p>
            <ul>
              <li>Moins d'un jour</li>
              <li>Entre 2 et 7 jours</li>
              <li>10 jours</li>
            </ul>
          </div>
        </div>
        <div class="unit-col last-col">
          <div class="unit-3-cells local-color" title="Missions EPFL">
            <ul>
              <li>Media &amp; actualités</li>
              <li>Enseignement</li>
              <li>Recherche</li>
              <li>Transfert de technologies</li>
            </ul>
          </div>
          <div class="unit-cell last-cell local-color-light">
            <h3>03.03</h3>
            <p>Inauguration du Rolex Learning Center</p>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>

    <div id="footer">
      <ul>
        <li><a href="//www.epfl.ch/accessibility.fr.shtml">Accessibilité</a></li>
        <li><a href="http://mediacom.epfl.ch/mentions-legales">Mentions légales</a></li>
        <li><a href="mailto:webmaster@epfl.ch">Contact</a></li>
        <li class="copyright">&copy; 2017 EPFL tous droits réservés</li>
        <li><a href="#top" class="hidden">Retour en haut de la page</a></li>
      </ul>
    </div>
  </body>
</html>
