<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<!--#include virtual="../../fragments/header.sig.html" -->
    <title>Web2010, le web nouveau pour l'EPFL - Actualités EPFL</title>
    <link href="//www.epfl.ch/css/epfl.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="actu.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="//www.epfl.ch/js/jquery-epfl.min.js"></script>
    <script type="text/javascript">jQuery.noConflict();</script>
    <script type="text/javascript" src="//www.epfl.ch/js/globalnav.js"></script>
  </head>
  <body>
<!--#include virtual="../../fragments/header.fr.html" -->
    <div id="main-content">
      <ul id="breadcrumbs" title="Navigation dans l'arborescence de l'EPFL">
        <li><a href="http://www.epfl.ch/" title="Page d'accueil de l'EPFL">EPFL</a></li>
        <li ><a href="#">Actualités</a></li>
        <li class="last"><a href="#">Web 2010, le web nouveau pour l'EPFL</a></li>
      </ul>
      <ul id="languages" title="Choix de la langue">
        <li><a href="#">English</a></li>
        <li class="current">français</li>
      </ul>
      <div class="clear"></div>

      <h1>Actualités <acronym title="École Polytechnique Fédérale de Lausanne" class="local-color-text">EPFL</acronym></h1>

      <div id="main-navigation" class="navigation-bar">
        <ul class="topnav">
          <li class="dropdown">
            <a href="#">Toutes les actualit&eacute;</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage with a veeeeeeeerrrry long title</a></li>
            </ul>
          </li>
        </ul>
        <div class="clear"></div>
      </div>

      <div id="tools">
        <div class="button print"><a href="toto.html"><button class="icon"></button><span class="label">Imprimer</span></a></div>
        <div class="button feed"><a href="toto.html"><button class="icon"></button><span class="label">RSS feed</span></a></div>
        <div class="button share"><a href="toto.html"><button class="icon"></button><span class="label">Share</span></a></div>
      </div>

      <div id="content" class="content">
      <div> trou trou trou</div>
        <h2>Web2010, le web nouveau pour l'EPFL</h2>
        <img src="../../img/grenouille.jpg" alt="description" class="left"/>

        <p class="heading">Le grand chantier EPFL de cet été sera virtuel. Il ne s’agit pas moins que de transformer le domaine web .epfl.ch (environ 1'500 sites et 2 mio de pages) en un outil de communication à la hauteur des besoins et de l’image de l’institution.</p>

                <p>Les maquettes graphiques et les principes ergonomiques achèvent leur tour de consultation auprès des différents dicastères de l’Ecole. Vous avez peut-être assisté à leur présentation lors de la Conférence des Webmasters. Suite aux observations recueillies, nous les avons modifiés pour mieux coller à vos besoins. Actuellement, le KIS est en train de développer ces modèles pour en faire de véritables pages web. <br />
Les grands changements de mise en page sont, entre autre,</p>
        <ul>
          <li>Une page structurée sous forme de grille, sur laquelle se placent les divers éléments,</li>
          <li>Des pages de largeur fixe avec des caractères plus lisibles,</li>
          <li>Le bandeau commun dans lequel se trouvent le moteur de recherche et des liens généraux pour l’ensemble de l’institution,</li>
          <li>Une navigation unifiée dans les sites, sous forme de barre horizontale avec des menus déroulants.</li>
        </ul>
        <p>Côté technique, le KIS installe une nouvelle version du CMS Jahia (outil de gestion simplifiée de contenu web). Une des ambitions du projet est de profiter de la nouvelle charte et de la version améliorée de Jahia pour basculer les sites utilisant d’autres technologies sur ce système. Cette solution présente d’indéniables avantages, tant pour la cohérence de l’image de l’Ecole sur le web qu’au niveau économique (support, développement, formation, mises à jour techniques, tout ceci réalisé de manière centralisée). L’occasion est également parfaite pour mettre à jour les contenus, et pour se débarrasser de l’information obsolète, redondante ou inutilement dupliquée.</p>
        <p>L’outil ‘actualité’ sera lui aussi adapté pour permettre une meilleure circulation des news. Dorénavant, il sera possible pour chaque unité d’écrire un article, qui sera ensuite placé dans un panier commun dans lequel viendront puiser les webmasters des sites principaux et de la homepage. Chacun pourra ainsi récupérer les flux d’actualité qui l’intéressent.
Pour les gens qui utilisent Jahia, le KIS a ouvert un serveur de test, où ils peuvent voir l’aspect de leurs pages sur la nouvelle maquette. Ainsi, les webmasters pourront constater le travail à faire sur le contenu, l’aspect mais surtout la structure de leur site. Une équipe d’étudiants compétents seront en outre à leur disposition pendant l’été pour les aider à la migration.
La date de mise en ligne pour la page d’accueil, les portails et les principaux sites est fixée au 6 septembre 2010. Les personnes concernées seront contactées pour planifier au mieux les plages de travail en fonction de leurs disponibilités et de la charge propre à chaque site.</p>
        <div class="article_bottom local-color">
        <ul>
        <li class="heading">Auteur:</li>
        <li>Natalie Meystre</li>
        <li class="heading">Sources:</li>
        <li>STI</li>
        </ul>
        </div>
      </div>

      <div class="right-col">
        <div class="box">
          <h3>Liens</h3>
          <ul class="link-list">
            <li><a href="#">Premier lien </a></li>
            <li><a href="#">deuxième lien</a></li>
            <li><a href="#">troisième lien</a></li>
            <li><a href="#">quatrième lien</a></li>
            <li><a href="#">cinquième lien</a></li>
            <li><a href="#">sixième lien</a></li>
          </ul>
          <div class="button showall">
            <a href="http://actu.epfl.ch/search/simple/">
              <button class="icon"></button>
              <span class="label">Toutes les actualités</span>
            </a>
           </div>

        </div>
      </div>

      <div class="clear"></div>
    </div>

    <div id="footer">
      <ul>
        <li><a href="//www.epfl.ch/accessibility.fr.shtml">Accessibilité</a></li>
        <li><a href="http://mediacom.epfl.ch/mentions-legales">Mentions légales</a></li>
        <li><a href="mailto:webmaster@epfl.ch">Contact</a></li>
        <li class="copyright">&copy; 2017 EPFL tous droits réservés</li>
        <li><a href="#top" class="hidden">Retour en haut de la page</a></li>
      </ul>
    </div>
  </body>
</html>
