<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--#include virtual="/templates/fragments/header.sig.html" -->
    <title>LFS - Laboratory of Fictive Science: welcome</title>
    <link href="//www.epfl.ch/css/epfl.css" media="all" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="//www.epfl.ch/js/jquery-epfl.min.js"></script>
    <script type="text/javascript">jQuery.noConflict();</script>
    <script type="text/javascript" src="//www.epfl.ch/js/globalnav.js"></script>
  <link href="../../../css/actu.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!--#include virtual="/templates/fragments/header.fr.html" -->
    <div id="main-content">
      <ul id="breadcrumbs" title="Navigation dans l'arborescence de l'EPFL">
        <li><a href="http://www.epfl.ch/" title="Page d'accueil de l'EPFL">EPFL</a></li>
        <li class="last"><a href="#">l'actualit&eacute;</a></li>
      </ul>
      <ul id="languages" title="Choix de la langue">
        <li><a href="home-en.html">English</a></li>
        <li class="current">français</li>
      </ul>
      <div class="clear"></div>

      <h1>Actualit&Eacute;<acronym title="École Polytechnique Fédérale de Lausanne" class="local-color-text">EPFL</acronym></h1>

      <div id="main-navigation" class="navigation-bar">
        <ul class="topnav">
          <li class="dropdown">
            <a href="#">Toutes les actualit&eacute;</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage with a veeeeeeeerrrry long title</a></li>
            </ul>
          </li>
        </ul>
        <div class="clear"></div>
      </div>

      <div id="tools">
        <div class="button print"><a href="toto.html"><button class="icon"></button><span class="label">Imprimer</span></a></div>
      </div>

      <div id="content" class="content">
        <br><h2>Toutes les actualit&eacute;s</h2>
          <div class="results-count"><div class="selected">24 personnes trouvées</div> 24 par nom</div>
       <ol class="all_actu">
       <li>
       <div class="img_actu"><img src="../img/1.jpg" width="160" height="90" /></div>
       <div class="txt_actu">Loin, très loin, au delà des monts Mots, à mille lieues des pays Voyellie et Consonnia, demeurent les Bolos Bolos. Ils vivent en retrait, à Bourg-en-Lettres, sur les côtes de la Sémantique, un vaste océan de langues. Un petit ruisseau, du nom de Larousse, coule en leur lieu et les approvisionne en règlalades nécessaires en tout genre; un pays paradisiagmatique, dans lequel des pans entiers de phrases prémâchées vous volent litéralement tout cuit dans la bouche. </div>
       <div style="clear:both"></div>
       </li>
              <li>
       <div class="img_actu"><img src="../img/1.jpg" width="160" height="90" /></div>
       <div class="txt_actu">Loin, très loin, au delà des monts Mots, à mille lieues des pays Voyellie et Consonnia, demeurent les Bolos Bolos. Ils vivent en retrait, à Bourg-en-Lettres, sur les côtes de la Sémantique, un vaste océan de langues. Un petit ruisseau, du nom de Larousse, coule en leur lieu et les approvisionne en règlalades nécessaires en tout genre; un pays paradisiagmatique, dans lequel des pans entiers de phrases prémâchées vous volent litéralement tout cuit dans la bouche. </div>
       <div style="clear:both"></div>
       </li>
              <li>
       <div class="img_actu"><img src="../img/1.jpg" width="160" height="90" /></div>
       <div class="txt_actu">Loin, très loin, au delà des monts Mots, à mille lieues des pays Voyellie et Consonnia, demeurent les Bolos Bolos. Ils vivent en retrait, à Bourg-en-Lettres, sur les côtes de la Sémantique, un vaste océan de langues. Un petit ruisseau, du nom de Larousse, coule en leur lieu et les approvisionne en règlalades nécessaires en tout genre; un pays paradisiagmatique, dans lequel des pans entiers de phrases prémâchées vous volent litéralement tout cuit dans la bouche. </div>
       <div style="clear:both"></div>
       </li>
              <li>
       <div class="img_actu"><img src="../img/1.jpg" width="160" height="90" /></div>
       <div class="txt_actu">Loin, très loin, au delà des monts Mots, à mille lieues des pays Voyellie et Consonnia, demeurent les Bolos Bolos. Ils vivent en retrait, à Bourg-en-Lettres, sur les côtes de la Sémantique, un vaste océan de langues. Un petit ruisseau, du nom de Larousse, coule en leur lieu et les approvisionne en règlalades nécessaires en tout genre; un pays paradisiagmatique, dans lequel des pans entiers de phrases prémâchées vous volent litéralement tout cuit dans la bouche. </div>
       <div style="clear:both"></div>
       </li>
              <li>
       <div class="img_actu"><img src="../img/1.jpg" width="160" height="90" /></div>
       <div class="txt_actu">Loin, très loin, au delà des monts Mots, à mille lieues des pays Voyellie et Consonnia, demeurent les Bolos Bolos. Ils vivent en retrait, à Bourg-en-Lettres, sur les côtes de la Sémantique, un vaste océan de langues. Un petit ruisseau, du nom de Larousse, coule en leur lieu et les approvisionne en règlalades nécessaires en tout genre; un pays paradisiagmatique, dans lequel des pans entiers de phrases prémâchées vous volent litéralement tout cuit dans la bouche. </div>
       <div style="clear:both"></div>
       </li>
              <li>
       <div class="img_actu"><img src="../img/1.jpg" width="160" height="90" /></div>
       <div class="txt_actu">Loin, très loin, au delà des monts Mots, à mille lieues des pays Voyellie et Consonnia, demeurent les Bolos Bolos. Ils vivent en retrait, à Bourg-en-Lettres, sur les côtes de la Sémantique, un vaste océan de langues. Un petit ruisseau, du nom de Larousse, coule en leur lieu et les approvisionne en règlalades nécessaires en tout genre; un pays paradisiagmatique, dans lequel des pans entiers de phrases prémâchées vous volent litéralement tout cuit dans la bouche. </div>
       <div style="clear:both"></div>
       </li>
              <li>
       <div class="img_actu"><img src="../img/1.jpg" width="160" height="90" /></div>
       <div class="txt_actu">Loin, très loin, au delà des monts Mots, à mille lieues des pays Voyellie et Consonnia, demeurent les Bolos Bolos. Ils vivent en retrait, à Bourg-en-Lettres, sur les côtes de la Sémantique, un vaste océan de langues. Un petit ruisseau, du nom de Larousse, coule en leur lieu et les approvisionne en règlalades nécessaires en tout genre; un pays paradisiagmatique, dans lequel des pans entiers de phrases prémâchées vous volent litéralement tout cuit dans la bouche. </div>
       <div style="clear:both"></div>
       </li>
              <li>
       <div class="img_actu"><img src="../img/1.jpg" width="160" height="90" /></div>
       <div class="txt_actu">Loin, très loin, au delà des monts Mots, à mille lieues des pays Voyellie et Consonnia, demeurent les Bolos Bolos. Ils vivent en retrait, à Bourg-en-Lettres, sur les côtes de la Sémantique, un vaste océan de langues. Un petit ruisseau, du nom de Larousse, coule en leur lieu et les approvisionne en règlalades nécessaires en tout genre; un pays paradisiagmatique, dans lequel des pans entiers de phrases prémâchées vous volent litéralement tout cuit dans la bouche. </div>
       <div style="clear:both"></div>
       </li>
              <li>
       <div class="img_actu"><img src="../img/1.jpg" width="160" height="90" /></div>
       <div class="txt_actu">Loin, très loin, au delà des monts Mots, à mille lieues des pays Voyellie et Consonnia, demeurent les Bolos Bolos. Ils vivent en retrait, à Bourg-en-Lettres, sur les côtes de la Sémantique, un vaste océan de langues. Un petit ruisseau, du nom de Larousse, coule en leur lieu et les approvisionne en règlalades nécessaires en tout genre; un pays paradisiagmatique, dans lequel des pans entiers de phrases prémâchées vous volent litéralement tout cuit dans la bouche. </div>
       <div style="clear:both"></div>
       </li>
              <li>
       <div class="img_actu"><img src="../img/1.jpg" width="160" height="90" /></div>
       <div class="txt_actu">Loin, très loin, au delà des monts Mots, à mille lieues des pays Voyellie et Consonnia, demeurent les Bolos Bolos. Ils vivent en retrait, à Bourg-en-Lettres, sur les côtes de la Sémantique, un vaste océan de langues. Un petit ruisseau, du nom de Larousse, coule en leur lieu et les approvisionne en règlalades nécessaires en tout genre; un pays paradisiagmatique, dans lequel des pans entiers de phrases prémâchées vous volent litéralement tout cuit dans la bouche. </div>
       <div style="clear:both"></div>
       </li>
       </ol>
 <div class="pagination">
      <ul>
        <li><a href="#" class="previous">Précédent</a></li>
        <li><a href="#">1</a></li>
        <li class="current">2</li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#" class="next">Suivant</a></li>
      </ul>
    </div>
      </div>

      <div class="right-col">
        <ul class="tree">
          <li>
            <a href="#">Toutes les actualit&eacute;es</a>
            <ul>
              <li>
              <a href="#">Submenu 1</a>
                <ul>
                  <li><a href="#">Subsubmenu I</a></li>
                  <li><a href="#">Subsubmenu II</a></li>
                  <li><a href="#">Subsubmenu III</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <div class="box">
          <h3>Recherche d'un actualit&eacute;</h3>
      		<input type="text" class="search" name="q" value="" id="searchform" /><button type="submit" class="search-button"  title="Rechercher">Rechercher</button>
          <div class="clear"></div>
        </div>
        <div class="box two-cols">
          <h3>filtres</h3>
          <div class="separation">
          <h4>par th&egrave;mes</h4>
          <div class="box-col">
          <ul>
            <li class="radio"><input type="radio" name="group1" value="Basic">Basic</li>
			<li class="radio"><input type="radio" name="group1" value="Health">Health</li>
			<li class="radio"><input type="radio" name="group1" value="Computer">Computer</li>
   			<li class="radio"><input type="radio" name="group1" value="Engineering">Engineering</li>
          </ul>
          </div>
          <div class="box-col">
          <ul>
   			 <li class="radio"><input type="radio" name="group1" value="Environment">Environment</li>
   			 <li class="radio"><input type="radio" name="group1" value="Builde">Builde</li>
   			 <li class="radio"><input type="radio" name="group1" value="Society/Culture">Society/Culture</li>
   			 <li class="radio"><input type="radio" name="group1" value="Eco/Finance">Eco/Finance</li>
          </ul>
          </div>
          <div class="clear"></div>
          </div>
          <div class="separation">
          <h4>par Cat&eacute;gories</h4>
          <div class="box-col">
          <ul>
            <li class="radio"><input type="radio" name="group1" value="EPFL">EPFL</li>
			<li class="radio"><input type="radio" name="group1" value="Education">Education</li>
			<li class="radio"><input type="radio" name="group1" value="Search">Search</li>
          </ul>
          </div>
          <div class="box-col">
          <ul>
		<li class="radio"><input type="radio" name="group1" value="Innovation">Innovation</li>
		<li class="radio"><input type="radio" name="group1" value="Casmpus Life">Casmpus Life</li>
          </ul>
          </div>
          <div class="clear"></div>
          </div>
          <div class="separation">
          <h4>par Coll&egrave;ge &amp; Facult&eacute;</h4>
          <div class="box-col">
          <ul>
            <li class="radio"><input type="radio" name="group1" value="CDH">CDH</li>
			<li class="radio"><input type="radio" name="group1" value="CDM">CDM</li>
			<li class="radio"><input type="radio" name="group1" value="ENAC">ENAC</li>
   			<li class="radio"><input type="radio" name="group1" value="IC">IC</li>
          </ul>
          </div>
          <div class="box-col">
          <ul>
   			 <li class="radio"><input type="radio" name="group1" value="SB">SB</li>
   			 <li class="radio"><input type="radio" name="group1" value="STI">STI</li>
   			 <li class="radio"><input type="radio" name="group1" value="SV">SV</li>
          </ul>
          </div>
          <div class="clear"></div>
          </div>
          <div class="separation">
          <h4>par Publics</h4>
          <div class="box-col">
          <ul>
            <li class="radio"><input type="radio" name="group1" value="Prospective Students">Prospective Students</li>
			<li class="radio"><input type="radio" name="group1" value="Students">Students</li>
			<li class="radio"><input type="radio" name="group1" value="Collaborators">Collaborators</li>
          </ul>
          </div>
          <div class="box-col">
          <ul>
          <li class="radio"><input type="radio" name="group1" value="Industries/partners">Industries/partners</li>
   			 <li class="radio"><input type="radio" name="group1" value="Public">Public</li>
   			 <li class="radio"><input type="radio" name="group1" value="Media">Media</li>
          </ul>
          </div>
          <div class="clear"></div>
          </div>
          <div class="separation">
          <h4>par Dates</h4>
          <div class="box-col">
          <ul>
            <li class="radio"><input type="radio" name="group1" value="tous les th&egrave;mes"> Tous les th&egrave;mes</li>
			<li class="radio"><input type="radio" name="group1" value="Sciences de base"> Sciences de base</li>
			<li class="radio"><input type="radio" name="group1" value="informatique"> Informatique</li>
   			<li class="radio"><input type="radio" name="group1" value="ing&eacute;nierie"> Ing&eacute;nierie</li>
          </ul>
          </div>
          <div class="box-col">
          <ul>
   			 <li class="radio"><input type="radio" name="group1" value="Environnement"> Environnement</li>
   			 <li class="radio"><input type="radio" name="group1" value="Architecture/Construction"> Architecture / Construction</li>
   			 <li class="radio"><input type="radio" name="group1" value="Soci&eacute;t&eacute;/Culture"> Soci&eacute;t&eacute; / Culture</li>
   			 <li class="radio"><input type="radio" name="group1" value="Economie/Finance"> Economie / Finance</li>
          </ul>
          </div>
          <div class="clear"></div>
          </div>
        </div>
      </div>

      <div class="clear"></div>
    </div>

    <div id="footer">
      <ul>
        <li><a href="//www.epfl.ch/accessibility.fr.shtml">Accessibilité</a></li>
        <li><a href="http://mediacom.epfl.ch/mentions-legales">Mentions légales</a></li>
        <li><a href="mailto:webmaster@epfl.ch">Contact</a></li>
        <li class="copyright">&copy; 2017 EPFL tous droits réservés</li>
        <li><a href="#top" class="hidden">Retour en haut de la page</a></li>
      </ul>
    </div>
  </body>
</html>
