<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>EPFL | École Polytechnique Fédérale de Lausanne - Page d'accueil</title>
  	<script type="text/javascript" src="http://www.epfl.ch/js/jquery-epfl.min.js"></script>
    <script type="text/javascript">jQuery.noConflict();</script> 
    <script type="text/javascript" src="http://www.epfl.ch/js/globalnav.js"></script>
    <link href="epfl.css" media="all" rel="stylesheet" type="text/css" />
    <link href="maintenance.css" rel="stylesheet" type="text/css" />
/>
</head>

<body>
<div id="main-content">
    <a name="top"></a>
    <div id="accessibility" class="hidden" title="École polytechnique Fédérale de Lausanne - Accès rapide">
      <ul>
        <li><a href="http://www.epfl.ch/accessibility" title="Accès spécifique pour personnes handicapées" accesskey="0">Accessibilité</a></li>
        <li><a href="http://www.epfl.ch/" title="Page d'accueil de l'EPFL"  accesskey="1">Accueil</a></li>
        <li><a href="#navigation" accesskey="2" title="Navigation dans l'École">Navigation dans les sites de l'École</a></li>
        <li><a href="#navigate_site" accesskey="3" title="Navigation dans ce site">Navigation dans ce site</a></li>
        <li><a href="#search" id="searchlink" accesskey="4" title="Accès au champ de recherche">Accès au champ de recherche</a></li>
        <li><a href="#content" accesskey="5" title="Début du contenu de la page">Début du contenu de la page</a></li>
        <li><a href="http://www.epfl.ch/sitemap/" title="Plan du site de l'EPFL" accesskey="8">Plan du site</a></li>
        <li><a href="mailto:webmaster@epfl.ch" title="Contact" accesskey="9">Contact technique</a></li>
      </ul>
    </div>
    <div id="header">
      <div id="nav-logo"></div>
      <div id="nav-menus">
        <a name="navigation"></a>
        <ul id="main-menus">
          <li class="portal menu" id="public-menu-link">
            <a class="main-link" href="http://www.epfl.ch/navigate.fr.html" title="Navigation par public cible"><span>Par</span> public</a>
            <div class="navigation-panel hidden" id="public-panel">
              <ul>
                <li class="group-2-cols">
                  <h3><a href="http://futuretudiant.epfl.ch/">Futur Étudiant</a></h3>
                  <ul>
                    <li><a href="http://www.epfl.ch/epfl-virtual-tour/virtual-tour.html">EPFL en image</a></li>
                    <li><a href="http://sae.epfl.ch/page23143.html">Étudiants en échange</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://students.epfl.ch/">Étudiant</a></h3>
                  <ul>
                    <li><a href="http://formation.epfl.ch/page25189.html">Service aux étudiants</a></li>
                    <li><a href="http://sac.epfl.ch/page19672.html">Calendrier académique</a></li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3><a href="http://recherche.epfl.ch/">Chercheur</a></h3>
                  <ul>
                    <li><a href="http://grantsoffice.epfl.ch/">Financement de la recherche</a></li>
                    <li><a href="http://phd.epfl.ch/page82971-fr.html">Doctorat à l'EPFL</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://working.epfl.ch/">Collaborateur</a></h3>
                  <ul>
                    <li><a href="http://rh.epfl.ch">Ressources humaines</a></li>
                    <li><a href="http://support-it.epfl.ch">Aide informatique</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://entreprises.epfl.ch/page57580-fr.html">Entreprise</a></h3>
                  <ul>
                    <li><a href="http://vpiv.epfl.ch/">Innovation &amp; tech transfer</a></li>
                    <li><a href="http://vpiv.epfl.ch./page20447.html">Initiatives stratégiques</a></li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3><a href="http://mediacom.epfl.ch/page60420-fr.html">Média</a></h3>
                  <ul>
                    <li><a href="http://actualites.epfl.ch/">Communiqués de presse, Reflex, Flash</a></li>
                    <li><a href="http://mediatheque.epfl.ch/">Banque d'images</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://a3.epfl.ch/">Alumni A3-EPFL</a></h3>
                  <ul>
                    <li><a href="http://www2.epfl.ch/a3/page77902.html">Devenir membre</a></li>
                    <li><a href="http://www2.epfl.ch/a3/page74871.html">Agenda A3</a></li>
                  </ul>
                </li>
              </ul>
              <div style="clear:both"></div>
            </div>
          </li>
          <li class="school menu" id="school-menu-link">
            <a class="main-link" href="http://www.epfl.ch/navigate.fr.html" title="Navigation par faculté EPFL"><span>Par</span> faculté</a>
            <div class="navigation-panel hidden" id="school-panel">
              <ul>
                <li class="group-2-cols">
                  <h3><a href="http://enac.epfl.ch/" class="enac">Environnement Naturel, Architectural et Construit <acronym title="Environnement Naturel, Architectural et Construit">ENAC</acronym></a></h3>
                  <ul>
                    <li>Architecture</li>
                    <li>Génie civil</li>
                    <li>Environnement</li>
                    <li>Territoire</li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://sti.epfl.ch/" class="sti">Faculté des Sciences et Techniques de l’Ingénieur <acronym title="Sciences et Techniques de l’Ingénieur">STI</acronym></a></h3>
                  <ul>
                    <li>Génie Électrique et Électronique</li>
                    <li>Génie Mécanique</li>
                    <li>Science et Génie des Matériaux</li>
                    <li>Microtechnique</li>
                    <li>Bioengineering</li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3><a href="http://cdm.epfl.ch/" class="cdm">Collège du Management de la Technologie <acronym title="Collège du Management de la Technologie">CDM</acronym></a></h3>
                  <ul>
                    <li>Management de la Technologie</li>
                    <li>Ingénierie financière</li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://sb.epfl.ch/" class="sb">Sciences de Base <acronym title="Sciences de Base">SB</acronym></a></h3>
                  <ul>
                    <li>Chimie</li>
                    <li>Mathématiques</li>
                    <li>Physique</li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://sv.epfl.ch/" class="sv">Faculté des Sciences de la Vie <acronym title="Sciences de la Vie">SV</acronym></a></h3>
                  <ul>
                    <li>Bioingénierie</li>
                    <li>Neurosciences Brain Mind &amp; Blue Brain</li>
                    <li>Infectiologie</li>
                    <li>Cancer</li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3><a href="http://cdh.epfl.ch/" class="cdh">Collège des Humanités <acronym title="Collège des Humanités">CDH</acronym></a></h3>
                  <ul>
                    <li>Sciences humaines et sociales</li>
                  </ul>  
                </li>
                <li class="group-2-cols" style="clear:both">
                  <h3><a href="http://ic.epfl.ch/" class="ic">Faculté Informatique &amp; Communications <acronym title="Informatique &amp; Communications">I&amp;C</acronym></a></h3>
                  <ul>
                    <li>Informatique</li>
                    <li>Systèmes de communication</li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>
          <li class="short menu" id="brief-menu-link">
            <a class="main-link" href="http://www.epfl.ch/navigate.fr.html" title="Navigation dans la structure de l'EPFL"><span><acronym title="École Polytechnique Fédérale de Lausanne">EPFL</acronym></span> en bref</a>
            <div class="navigation-panel hidden" id="brief-panel">
              <ul>
                <li class="group-2-cols">
                  <h3><acronym title="École Polytechnique Fédérale de Lausanne">EPFL</acronym></h3>
                  <ul>
                    <li><a href="http://direction.epfl.ch/page3234-fr.html">Direction</a></li>
                    <li><a href="http://www.epfl.ch/organigrammes">Structure</a></li>
                    <li><a href="http://presentation.epfl.ch/page7679-fr.html"><acronym title="École Polytechnique Fédérale de Lausanne">EPFL</acronym> en bref</a></li>
                    <li><a href="http://information.epfl.ch/page1463-fr.html">Accueil et Information</a></li>
                    <li><a href="http://library.epfl.ch">Bibliothèque</a></li>
                    <li><a href="http://www5.epfl.ch/emplois/">Offres d'emploi</a></li> 
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3>Formation</h3>
                  <ul>
                    <li><a href="http://cms.epfl.ch/"><acronym title="Cours de Mathématiques Spéciales">CMS</acronym> Cours Préparatoire</a></li>
                    <li><a href="http://bachelor.epfl.ch/">Bachelor</a></li>
                    <li><a href="http://master.epfl.ch/">Master</a></li>
                    <li><a href="http://phd.epfl.ch/page55499-en.html">École doctorale</a></li>
                    <li><a href="http://www.unil.ch/formcont">Formation continue</a> (Fondation EPFL-UNIL)</li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3>Recherche</h3>
                  <ul>
                    <li><a href="http://recherche.epfl.ch/page72474-fr.html">Recherche en bref</a></li>
                    <li><a href="http://grantsoffice.epfl.ch/">Grants office</a></li>
                    <li><a href="http://vpaa.epfl.ch/page14808.html">Commission de la recherche</a></li>
                    <li><a href="http://infoscience.epfl.ch/?ln=fr">Publications <acronym title="École Polytechnique Fédérale de Lausanne">EPFL</acronym></a></li>
                  </ul>
                </li>
                <li class="group-2-cols" style="clear:left;">
                  <h3>Innovation &amp; Valorisation</h3>
                  <ul>
                    <li><a href="http://vpiv.epfl.ch/page37020-fr.html">Partenariats</a></li>
                    <li><a href="http://www.parc-scientifique.ch/">Start-up</a></li>
                    <li><a href="http://www.alliance-tt.ch">Liaison industrielle</a></li>
                    <li><a href="http://sri.epfl.ch/">Transfert de technologies</a></li>
                  </ul>
                </li>
              </ul>
              <div style="clear:both"></div>
            </div>
          </li>
        </ul>
      </div>
      
      <div class="local-color" id="nav-search">
        <div id="search-box">
          <a name="search"></a>
          <form name="search" action="http://search.epfl.ch/compoundDirectory.do" id="searchform">
            <input class="hidden" type="radio" name="engine" id="search-engine-person" value="person" checked="checked" title="Chercher une personne" />
            <label for="search-engine-person" class="current" title="Chercher une personne">Personne</label>
            <input class="hidden" type="radio" name="engine" id="search-engine-place" value="place" title="Chercher un lieu"/>
            <label for="search-engine-place" title="Chercher un lieu">Lieu</label>
            <input class="hidden" type="radio" name="engine" id="search-engine-epfl" value="epfl" title="Chercher dans toute l'EPFL"/>
            <label for="search-engine-epfl" title="Chercher dans toute l'EPFL"><acronym title="École Polytechnique Fédérale de Lausanne">Web EPFL</acronym></label>
            <input class="hidden" type="radio" name="engine" id="search-engine-local" value="local"  title="Chercher dans ce site"/>
            <label for="search-engine-local" title="Chercher dans ce site">Sur ce site</label>
            <input type="hidden" name="lang" value="fr" />
            <input type="text" class="search" name="q" value="" id="searchfield" /><button type="submit" class="search-button"  title="Rechercher">Rechercher</button>
          </form>
        </div>
      </div> 
      <div style="clear:both"></div>
        <h1>Le syst&Egrave;me est actuellement en maintenance.</h1>
        <h4>Nous vous prions de nous excuser pour ce d&eacute;sagr&eacute;ment.</h4>
        <div class="cle"></div>
        <div style="clear:both"></div>
            <div id="footer">
      <ul>
        <li>Plan du site</li>
        <li>Contact</li>
        <li>Accessibilité</li>
        <li class="copyright">&copy; 2010 EPFL tous droits réservés</li>
        <li><a href="#top" class="hidden">Retour en haut de la page</a></li>
      </ul>
    </div>
        
    </div>

</div>
</body>
</html>
