/*
 * (c) All rights reserved. ECOLE POLYTECHNIQUE FEDERALE DE LAUSANNE,
 * Switzerland, VPSI, 2017.
 *
 * Cookie Consent EPFL Style
 */

.cc-window a {
  background-image: none;
}

.cc-message {
  font-size: 13px;
}

.cc-window {
  font-family: Arial;
}
