/*
 * (c) All rights reserved. ECOLE POLYTECHNIQUE FEDERALE DE LAUSANNE,
 * Switzerland, VPSI, 2017.
 */

.local-color {
  background-color: #ea5e00;
}

.local-color-text {
  color: #ea5e00;
}

acronym, abbr {
  color: #ea5e00;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #ea5e00;
}

#main-navigation {
  background-color: #ea5e00;
}

#main-navigation li {
  border-color: #ea5e00;
}

#main-navigation li:hover {
  background-color: #d53c00;
}

.tree li {
  background-color: #ea5e00;
}

.tree li.hover {
  background-color: #d53c00;
}

.local-color-light {
  background-color: #d53c00;
}

.local-color-dark {
  background-color: #b91e00;
}

.local-color-down {
  background-color: #952000;
}

.news-text h2 a:hover {
  color: #ea5e00;
}

.search-results a {
  color: #ea5e00;
}

.search-results cite {
  color: #b91e00;
}

.print .icon {
  background-position: 0 -408px;
}

.print:hover .icon {
  background-position: 0 -384px;
}

.feed .icon {
  background-position: -24px -408px;
}

.feed:hover .icon {
  background-position: -24px -384px;
}

.share .icon {
  background-position: -48px -408px;
}

.share:hover .icon {
  background-position: -48px -384px;
}

.information .icon {
  background-position: -72px -408px;
}

.information:hover .icon {
  background-position: -72px -384px;
}

.question .icon {
  background-position: -96px -408px;
}

.question:hover .icon {
  background-position: -96px -384px;
}

.contact .icon {
  background-position: -120px -408px;
}

.contact:hover .icon {
  background-position: -120px -384px;
}

.comment .icon {
  background-position: -144px -408px;
}

.comment:hover .icon {
  background-position: -144px -384px;
}

.mail .icon {
  background-position: -168px -408px;
}

.mail:hover .icon {
  background-position: -168px -384px;
}

.first .icon {
  background-position: -192px -408px;
}

.first:hover .icon {
  background-position: -192px -384px;
}

.last .icon {
  background-position: -216px -408px;
}

.last:hover .icon {
  background-position: -216px -384px;
}

.previous .icon, .gotostart .icon {
  background-position: -240px -408px;
}

.previous:hover .icon, .gotostart:hover .icon {
  background-position: -240px -384px;
}

.forward .icon, .showall .icon {
  background-position: -264px -408px;
}

.forward:hover .icon, .showall:hover .icon {
  background-position: -264px -384px;
}

.up .icon, .gototop .icon {
  background-position: -288px -408px;
}

.up:hover .icon, .gototop:hover .icon {
  background-position: -288px -384px;
}

.down .icon {
  background-position: -312px -408px;
}

.down:hover .icon {
  background-position: -312px -384px;
}

.file .icon {
  background-position: -336px -408px;
}

.file:hover .icon {
  background-position: -336px -384px;
}

.pdffile .icon {
  background-position: -360px -408px;
}

.pdffile:hover .icon {
  background-position: -360px -384px;
}

.francais .diet_icon {
  background-position: -90px -252px;
}

.anglais .diet_icon {
  background-position: -108px -252px;
}

.allemand .diet_icon {
  background-position: -72px -252px;
}

.winter .little_icon {
  background-position: -54px -252px;
}

.sun .little_icon {
  background-position: -18px -252px;
}

.printemps .little_icon {
  background-position: 0 -252px;
}

.automne .little_icon {
  background-position: -36px -252px;
}

.members .icon {
  background-position: -240px -480px;
}

.category-en {
  background-image: url(../img/news-categories-en-bw.png);
}

.category-fr {
  background-image: url(../img/news-categories-fr-bw.png);
}

/* MR - 22.07.2010
	liste des labos
*/

.list_laboratories pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow: auto;
  margin-bottom: 0;
  font: inherit;
  font-size: 100%;
}

.list_laboratories img {
  border: 1px solid #AAA;
  background-color: #faf0e6;
  padding: 3px;
}

.list_laboratories table th {
  background-color: transparent;
  margin-top: 20px;
  border: none;
  border-top: 1px dotted #FFC5A4;
  color: #CC6633;
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}

.list_laboratories table tbody td {
  text-align: left;
  vertical-align: top;
}

.list_laboratories table tbody td.texte {
  background-color: #faf0e6;
  padding: 10px;
}

.list_laboratories p img {
  border: 0 solid #AAA;
  background-color: #faf0e6;
  padding: 0;
  margin: 0;
}

.list_laboratories p {
  padding: 0 5px;
}

/* MR - 10.08.2010 (màj 20.08.2010)
	Domaines de recherche
*/

div.research_field {
  float: left;
  height: 130px;
  width: 160px;
  padding: 0;
  margin: 0 3px 3px 0;
}

div.research_field.empty {
  width: 150px;
  padding: 0 5px;
  color: #fff;
}

div.research_field a {
  color: #fff;
  position: relative;
  background: none;
}

div.research_field a span {
  left: 3px;
  position: relative;
}

div.research_field.col1, div.research_field.col1.empty:hover {
  background-color: #ea5e00;
  cursor: default;
}

div.research_field.col2, div.research_field.col2.empty:hover {
  background-color: #d53c00;
  cursor: default;
}

div.research_field.col3, div.research_field.col3.empty:hover {
  background-color: #b91e00;
  cursor: default;
}

div.research_field.col4, div.research_field.col4.empty:hover {
  background-color: #000;
  cursor: default;
}

div.research_field.col1:hover, div.research_field.col2:hover, div.research_field.col3:hover, div.research_field.col4:hover {
  background-color: #ea5e00;
  cursor: pointer;
}

/* MR 05.10.2010 - màj
	Page d'affichage des list générée "People"
	pour l'enac et tous ses labos
*/

table.people_list, table#people_list {
  width: 650px;
}

table.people_list td, table#people_list td {
  padding: 5px 0;
  text-align: center;
}

table.people_list td.photo img, table#people_list td.photo img {
  width: 60px;
}

table.people_list td.profile, table#people_list td.profile, table.people_list td.homepage, table#people_list td.homepage {
  width: 20px;
}

table.people_list td.email, table#people_list td.email {
  width: 25px;
}

table.people_list td.photo, table#people_list td.photo {
  width: 80px;
}

table.people_list td h3, table#people_list td h3, table.people_list td.function, table#people_list td.function {
  text-align: left;
}

table.people_list td.room, table#people_list td.room, table.people_list td.tdpeople, table#people_list td.tdpeople {
  width: 60px;
}

table.people_list td.phone, table#people_list td.phone {
  width: 140px;
}

table.people_list td.name, table#people_list td.name {
  text-align: left;
  width: auto;
}
