<!DOCTYPE html PUBLIC "-/W3C/DTD XHTML 1.0 Transitional/EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--#include virtual="../fragments/header.sig.html" -->
    <title>EPFL | École Polytechnique Fédérale de Lausanne - Page d'accueil</title>
    <link href="//www.epfl.ch/css/epfl.css" media="all" rel="stylesheet" type="text/css" />
    <link href="//www.epfl.ch/css/cdh.css" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="//www.epfl.ch/js/jquery-epfl.min.js"></script>
    <script type="text/javascript">jQuery.noConflict();</script>
    <script type="text/javascript" src="//www.epfl.ch/js/globalnav.js"></script>
  </head>
  <body>
<!--#include virtual="../fragments/header.fr.html" -->
    <div id="main-content">
      <ul id="breadcrumbs" title="Navigation dans l'arborescence de l'EPFL">
        <li><a href="//www.epfl.ch/" title="Page d'accueil de l'EPFL">EPFL</a></li>
        <li class="last"><a href="http:/cdh.epfl.ch">Collège Des Humanités</a></li>
      </ul>
      <ul id="languages" title="Choix de la langue">
        <li><a href="home-en.html">English</a></li>
        <li class="current">français</li>
      </ul>
      <div style="clear:both"></div>

      <h1>Collège des humanités <acronym title="Collège Des Humanités" class="local-color-text">CDH</acronym></h1>
      <div id="main-navigation" class="navigation-bar">
        <ul class="topnav">
          <li class="dropdown">
            <a href="#">Architecture</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage with a veeeeeeeerrrry long title</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="http:/sgc.epfl.ch">Génie civil</a>
            <ul class="menu hidden">
              <li><a href="#">submenu</a>
                <ul>
                  <li><a href="#">element 1</a></li>
                  <li><a href="#">element 2</a></li>
                </ul>
              </li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
          <li class="dropdown current">
            <a href="#">Environnement</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">Territoire</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">À propos de l'ENAC</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
        </ul>
        <div style="clear: both"></div>
      </div>
      <div id="tools">

      </div>
      <div id="content" class="content homepage-content">
<!--#include virtual="../fragments/news-homepage-school.html" -->
        <div class="box">
          <h3>Services aux Étudiants</h3>
          <ul class="link-list two-cols">
            <li><a href="#">Premier lien fs</a></li>
            <li><a href="#">deuxième lien un peu 1 23</a></li>
            <li><a href="#">troisième lien</a></li>
            <li><a href="#">quatrième lien</a></li>
            <li><a href="#">cinquième lien</a></li>
            <li><a href="#">sixième lien</a></li>
          </ul>
        </div>
        <div class="box">
          <h3>Jobs</h3>
          <ul class="link-list">
            <li><a href="#">Ingénieur en matériaux composites</a></li>
            <li><a href="#">Informatique et / ou administrateur Web</a></li>
            <li><a href="#">Pour un poste à 20%</a></li>
            <li><a href="#">Banc d'essai d'ingénieur</a></li>
          </ul>
          <a href="#">Tous les jobs CDH</a>
        </div>
      </div>

      <div class="right-col">
        <div class="home-navpanel">
          <div class="unit-col">
            <div class="unit-3-cells local-color last-cell">
              <h3>10:35</h3>
              <p>18.03.10<br />
              Lausanne CH</p>
            </div>
          </div>
          <div class="unit-col last-col">
            <div class="unit-2-cells local-color-light">
              <h3>Question de sciences</h3>
              <p>Quel est le temps d'incubation moyen de la grippe A?</p>
              <ul>
                <li><a href="#">Moins d'un jour</a></li>
                <li><a href="#">Entre 2 et 7 jours</a></li>
                <li><a href="#">10 jours</a></li>
              </ul>
            </div>
            <div class="unit-cell local-color-dark last-cell">
              <ul>
                <li><a href="#">Enseignement</a></li>
                <li><a href="#">Recherche</a></li>
                <li><a href="#">Transfert de technologies</a></li>
              </ul>
            </div>
          </div>
          <div style="clear:both"></div>
        </div>
        <div class="box">
          <h3>Mots du doyen</h3>
          <a href="#">Prof. Demetri Psaltis</a>
          <blockquote>
            <img src="../img/dean.png" alt="Photo of professor Demetri Psaltis" />
            <p>“Nous vous préparons pour inventer la technologie de demain et les défis de la science.”</p>
          </blockquote>
        </div>
      </div>
    </div>

    <div style="clear:both"></div>
    <div id="footer">
      <ul>
        <li><a href="//www.epfl.ch/accessibility.fr.shtml">Accessibilité</a></li>
        <li><a href="http://mediacom.epfl.ch/mentions-legales">Mentions légales</a></li>
        <li><a href="mailto:webmaster@epfl.ch">Contact</a></li>
        <li class="copyright">&copy; 2017 EPFL tous droits réservés</li>
        <li class="login"><a href="#">Login</a></li>
      </ul>
    </div>
  </body>
</html>
