<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--#include virtual="../fragments/header.sig.html" -->
    <title>EPFL | École Polytechnique Fédérale de Lausanne - Page d'accueil</title>
    <link href="../css/epfl.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../css/ic.css" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../js/jquery-epfl.min.js"></script>
    <script type="text/javascript">jQuery.noConflict();</script> 
    <script type="text/javascript" src="../js/globalnav.js"></script>
  </head>
  <body>
<a name="top"></a>
    <div id="accessibility" class="hidden" title="École polytechnique Fédérale de Lausanne - Accès rapide">
      <ul>
        <li><a href="http://www.epfl.ch/accessibility" title="Accès spécifique pour personnes handicapées" accesskey="0">Accessibilité</a></li>
		<li><a href="http://www.epfl.ch/" title="Page d'accueil de l'EPFL"  accesskey="1">Accueil</a></li>
		<li><a href="#navigation" accesskey="2" title="Navigation dans l'École">Navigation dans les sites de l'École</a></li>
		<li><a href="#navigate_site" accesskey="3" title="Navigation dans ce site">Navigation dans ce site</a></li>
		<li><a href="#search" id="searchlink" accesskey="4" title="Accès au champ de recherche">Accès au champ de recherche</a></li>
      	<li><a href="#content" accesskey="5" title="Début du contenu de la page">Début du contenu de la page</a></li>
		<li><a href="http://www.epfl.ch/sitemap/" title="Plan du site de l'EPFL" accesskey="8">Plan du site</a></li>
        <li><a href="mailto:webmaster@epfl.ch" title="Contact" accesskey="9">Contact technique</a></li>
      </ul>
    </div>
    <div id="header">
      <div id="nav-logo">
        <img src="../img/epfl.png" alt="Logo de l'École polytechnique Fédérale de Lausanne" />
      </div>
      <div id="nav-menus">
        <a name="navigation"></a>
        <ul id="main-menus">
          <li class="portal menu" id="public-menu-link">
            <a class="main-link" href="http://www.epfl.ch/navigate.fr.html" title="Navigation par public cible"><span>Par</span> public</a>
            <div class="navigation-panel hidden" id="public-panel">
              <div class="group"><br /></div>
              <div class="group">
                <ul>
                  <li><a href="http://recherche.epfl.ch/">Chercheur</a></li>
                  <li><a href="http://futuretudiant.epfl.ch/">Futur Étudiant</a></li>
                </ul>
              </div>
              <div class="group">
                <ul>
                  <li><a href="http://working.epfl.ch/">Collaborateur</a></li>
                  <li><a href="http://students.epfl.ch/">Étudiant</a></li>
                </ul>
              </div>
              <div class="group">
                <ul>
                  <li><a href="http://mediacom.epfl.ch/">Média</a></li>
                  <li><a href="http://entreprises.epfl.ch/">Entreprise</a></li>
                </ul>
              </div>
              <div style="clear:both"></div>
            </div>
          </li>
          <li class="school menu" id="school-menu-link">
            <a class="main-link" href="http://www.epfl.ch/navigate.fr.html" title="Navigation par faculté EPFL"><span>Par</span> facultés</a>
            <div class="navigation-panel hidden" id="school-panel">
              <ul>
                <li class="group-2-cols">
                  <h3><a href="http://enac.epfl.ch/" class="enac">Environnement Naturel, Architectural et Construit <acronym title="Environnement Naturel, Architectural et Construit">ENAC</acronym></a></h3>
                  <ul>
                    <li><a href="http://ia.epfl.ch/">Architecture</a></li>
                    <li><a href="http://iic.epfl.ch/">Génie civil</a></li>
                    <li><a href="http://iie.epfl.ch/">Environnement</a></li>
                    <li><a href="http://inter.epfl.ch/">Territoire</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://sti.epfl.ch/" class="sti">Faculté des Sciences et Techniques de l’Ingénieur <acronym title="Sciences et Techniques de l’Ingénieur">STI</acronym></a></h3>
                  <ul>
                    <li><a href="http://iel.epfl.ch/">Génie Électrique et Électronique</a></li>
                    <li><a href="http://igm.epfl.ch/">Génie Mécanique</a></li>
                    <li><a href="http://imx.epfl.ch/">Science et Génie des Matériaux</a></li>
                    <li><a href="http://imt.epfl.ch/">Microtechnique</a></li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3><a href="http://cdm.epfl.ch/" class="cdm">Collège du Management de la Technologie <acronym title="Collège du Management de la Technologie">CDM</acronym></a></h3>
                  <ul>
                    <li><a href="http://smte.epfl.ch/">Management de la Technologie</a></li>
                    <li><a href="http://sif.epfl.ch/">Ingénierie financière</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://sb.epfl.ch/" class="sb">Sciences de Base <acronym title="Sciences de Base">SB</acronym></a></h3>
                  <ul>
                    <li><a href="http://scgc.epfl.ch/">Chimie</a></li>
                    <li><a href="http://sma.epfl.ch/">Mathématique</a></li>
                    <li><a href="http://sph.epfl.ch/">Physique</a></li>
                  </ul>
                </li>
                <li class="group-2-cols">
                  <h3><a href="http://sv.epfl.ch/" class="sv">Faculté des Sciences de la Vie <acronym title="Sciences de la Vie">SV</acronym></a></h3>
                  <ul>
                    <li><a href="http://epfl.ch/erreur404.html">Sciences et technologie de la vie</a></li>
                    <li><a href="http://ibi.epfl.ch/">Bioengineering</a></li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3><a href="http://cdh.epfl.ch/" class="cdh">Collège des Humanités <acronym title="Collège des Humanités">CDH</acronym></a></h3>
                  <ul>
                    <li><a href="http://epfl.ch/erreur404.html">Sciences humaines et sociales</a></li>
                  </ul>  
                </li>
                <li class="group-2-cols" style="clear:both">
                  <h3><a href="http://ic.epfl.ch/" class="ic">Faculté Informatique &amp; Communications <acronym title="Informatique &amp; Communications">I&amp;C</acronym></a></h3>
                  <ul>
                    <li><a href="http://epfl.ch/erreur404.html">Informatique</a></li>
                    <li><a href="http://epfl.ch/erreur404.html">Systèmes de communication</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>
          <li class="short menu" id="brief-menu-link">
            <a class="main-link" href="http://www.epfl.ch/navigate.fr.html" title="Navigation dans la structure de l'EPFL"><span><acronym title="École Polytechnique Fédérale de Lausanne">EPFL</acronym></span> en bref</a>
            <div class="navigation-panel hidden" id="brief-panel">
              <div class="group"><br/></div>
              <ul>
                <li class="group">
                  <h3><acronym title="École Polytechnique Fédérale de Lausanne">EPFL</acronym></h3>
                  <ul>
                    <li><a href="http://direction.epfl.ch/">Direction</a></li>
                    <li><a href="http://www.epfl.ch/organigrammes/">Structure</a></li>
                    <li><a href="http://presentation.epfl.ch/"><acronym title="École Polytechnique Fédérale de Lausanne">EPFL</acronym> en bref</a></li>
                    <li><a href="http://epfl.ch/erreur404.html">Information</a> </li>
                  </ul>
                </li>
                <li class="group">
                  <h3>Formation</h3>
                  <ul>
                    <li><a href="http://epfl.ch/erreur404.html">Cours Préparatoire</a></li>
                    <li><a href="http://cms.epfl.ch/"><acronym title="Cours de Mathématiques Spéciales">CMS</acronym></a></li>
                    <li><a href="http://bachelor.epfl.ch/">Bachelor</a></li>
                    <li><a href="http://master.epfl.ch/">Master</a></li>
                    <li><a href="http://phd.epfl.ch/">École doctorale</a></li>
                  </ul>
                </li>
                <li class="group">
                  <h3>Recherche</h3>
                  <ul>
                    <li><a href="http://epfl.ch/erreur404.html">Recherche en bref</a></li>
                    <li><a href="http://infoscience.epfl.ch?ln=fr">Publications <acronym title="École Polytechnique Fédérale de Lausanne">EPFL</acronym></a></li>
                    <li><a href="http://grantsoffice.epfl.ch/">Grants office</a></li>
                    <li><a href="http://vpaa.epfl.ch/page14808.html">Commission de recherche</a></li>
                  </ul>
                </li>
                <li class="group-2-cols last">
                  <h3>Innovation &amp; Valorisation</h3>
                  <ul>
                    <li><a href="http://vpiv.epfl.ch/page36351-fr.html">Quartier de l'innovation</a></li>
                    <li><a href="http://www.parc-scientifique.ch/"><acronym title="Parc Scientifique sur le site de l'École Polytechnique Fédérale de Lausanne">PSE</acronym></a></li>
                    <li><a href="http://newsletter.epfl.ch/alliance/">Alliance</a></li>
                    <li><a href="http://sri.epfl.ch/">Relations industrielles</a></li>
                  </ul>
                </li>
              </ul>
              <div style="clear:both"></div>
            </div>
          </li>
        </ul>
      </div>
      
      <div class="local-color" id="nav-search">
        <div id="search-box">
          <a name="search"></a>
          <form name="search" action="http://search.epfl.ch/compoundDirectory.do" id="searchform">
            <input class="hidden" type="radio" name="engine" id="search-engine-person" value="person" checked="checked" title="Chercher une personne" />
		    <label for="search-engine-person" class="current" title="Chercher une personne">Nom</label>
		    <input class="hidden" type="radio" name="engine" id="search-engine-place" value="place" title="Chercher un lieu"/>
		    <label for="search-engine-place" title="Chercher un lieu">Lieu</label>
		    <input class="hidden" type="radio" name="engine" id="search-engine-epfl" value="epfl" title="Chercher dans toute l'EPFL"/>
		    <label for="search-engine-epfl" title="Chercher dans toute l'EPFL"><acronym title="École Polytechnique Fédérale de Lausanne">EPFL</acronym></label>
		    <input class="hidden" type="radio" name="engine" id="search-engine-local" value="local"  title="Chercher dans ce site"/>
		    <label for="search-engine-local" title="Chercher dans ce site">Ce site</label>
		    <input type="hidden" name="lang" value="fr" />
            <input type="text" class="search" name="q" value="" id="searchfield" /><button type="submit" class="search-button"  title="Rechercher">Rechercher</button>
          </form>
        </div>
      </div> 
      <div style="clear:both"></div>

      <ul id="breadcrumbs" title="Navigation dans l'arborescence de l'EPFL">
        <li><a href="http://www.epfl.ch/" title="Page d'accueil de l'EPFL">EPFL</a></li>
        <li class="last"><a href="../../cms/site/ic_import/page-5287-fr.html">Faculté Environnement Naturel, Architecture et Construit</a></li>
      </ul>
      <ul id="languages" title="Choix de la langue">
        <li><a href="home-en.html">English</a></li>
        <li class="current">français</li>
      </ul>
    </div>
    <div style="clear:both"></div>

    <div id="main-content">
      <h1>Facult&Eacute; Informatique et Communication<acronym title="Informatique et Communication" class="local-color-text">IC</acronym></h1>
      
<div id="main-navigation" class="navigation-bar">
        <ul class="topnav">
          <li class="dropdown">
            <a href="#">Architecture</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage with a veeeeeeeerrrry long title</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="http://sgc.epfl.ch">Génie civil</a>
            <ul class="menu hidden">
              <li><a href="#">submenu</a>
                <ul>
                  <li><a href="#">element 1</a></li>
                  <li><a href="#">element 2</a></li>
                </ul>
              </li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
          <li class="dropdown current">
            <a href="#">Environnement</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">Territoire</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">À propos de l'ENAC</a>
            <ul class="menu hidden">
              <li><a href="#">subpage</a></li>
              <li><a href="#">subpage 2</a></li>
            </ul>
          </li>
        </ul>
        <div style="clear: both"></div>
      </div>
      <div id="tools">
  
      </div>
      <div id="content" class="content homepage-content">
        <ul title="Latest news" class="news-list list-layout">
          <li class="heading-news">
            <img src="../img/demo-img/1.jpg" class="news-img" alt=""/>
            <div class="news-text">
              <h2>Bertrand Piccard strikes back: a new hope</h2>
              <p><span class="date">3.12.09</span>Having participated in the Breitling Orbiter adventure, Bertrand Piccard learned... <a href="../actualited.epfl.ch" title="Read more"><img src="../img/arrow_more.png" alt=""/></a></p>
            </div>
          </li>
          <li>
            <img src="../img/demo-img/2.jpg" class="news-img" alt=""/>
            <div class="news-text">
              <h2><a href="../actualites.epfl.ch">The role of perspective functions in convexity</a></h2>
              <p><span class="date">3.12.09</span>Having participated in the Breitling Orbiter adventure <a href="../actualited.epfl.ch" title="The role of perspective functions in convexity, polyconvexity -  full article"><img src="../img/arrow_more.png" alt="" /></a></p>
            </div>
          </li>
          <li>
            <img src="../img/demo-img/3.jpg" class="news-img" alt=""/>
            <div class="news-text">
              <h2>Source and channel coding using Fountain codes</h2>
              <p><span class="date">3.12.09</span>Having participated in the Breitling Orbiter adventure <a href="../actualited.epfl.ch" title="Read more"><img src="../img/arrow_more.png" alt=""/></a></p>
            </div>
          </li>
          <li>
            <img src="../img/demo-img/6.jpg" class="news-img" alt=""/>
            <div class="news-text">
              <h2>A new molecule to combat diabetes and obesity</h2>
              <p><span class="date">3.12.09</span>Having participated in the Breitling Orbiter adventure<a href="../actualited.epfl.ch" title="Read more"><img src="../img/arrow_more.png" alt="Read more"/></a></p>
            </div>
          </li>
        </ul>
        <div class="box">
          <h3>Services aux Étudiants</h3>
          <ul class="link-list two-cols">
            <li><a href="#">Premier lien fs</a></li>
            <li><a href="#">deuxième lien un peu 1 23</a></li>
            <li><a href="#">troisième lien</a></li>
            <li><a href="#">quatrième lien</a></li>
            <li><a href="#">cinquième lien</a></li>
            <li><a href="#">sixième lien</a></li>
          </ul>
        </div>
        <div class="box">
          <h3>Jobs</h3>
          <ul class="link-list">
            <li><a href="#">Ingénieur en matériaux composites</a></li>
            <li><a href="#">Informatique et / ou administrateur Web</a></li>
            <li><a href="#">Pour un poste à 20%</a></li>
            <li><a href="#">Banc d'essai d'ingénieur</a></li>
          </ul>
          <a href="#">Tous les jobs CDH</a>
        </div>
      </div>
      
      <div class="right-col">
        <div class="home-navpanel">
          <div class="unit-col">
            <div class="unit-3-cells local-color last-cell">
              <h3>10:35</h3>
              <p>18.03.10<br />
              Lausanne CH</p>
            </div>
          </div>
          <div class="unit-col last-col">
            <div class="unit-2-cells local-color-light">
              <h3>Question de sciences</h3>
              <p>Quel est le temps d'incubation moyen de la grippe A?</p>
              <ul>
                <li><a href="#">Moins d'un jour</a></li>
                <li><a href="#">Entre 2 et 7 jours</a></li>
                <li><a href="#">10 jours</a></li>
              </ul>
            </div>
            <div class="unit-cell local-color-dark last-cell">
              <ul>
                <li><a href="#">Enseignement</a></li>
                <li><a href="#">Recherche</a></li>
                <li><a href="#">Transfert de technologies</a></li>
              </ul>
            </div>
          </div>
          <div style="clear:both"></div>
        </div>
        <div class="box">
          <h3>Mots du doyen</h3>
          <a href="#">Prof. Demetri Psaltis</a>
          <blockquote>
            <img src="../img/demo-img/dean.png" alt="Photo of professor Demetri Psaltis" />
            <p>“Nous vous préparons pour inventer la technologie de demain et les défis de la science.”</p>
          </blockquote>
        </div>
      </div>
    </div> 
    
    <div style="clear:both"></div>
    <div id="footer">
      <ul>
        <li><a href="#">Plan du site</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Accessibilité</a></li>
        <li class="copyright">&copy; 2010 EPFL tous droits réservés</li>
        <li class="login"><a href="#">Login</a></li>
      </ul>
    </div>
  </body>
</html>